<input
  type="{{ type }}"
  {{# id }} id="{{ id }}" {{/ id }}
  {{# required }} {{ required }} {{/ required }}
  {{# pattern }} pattern="{{ pattern }}" {{/ pattern }}
  {{# disabled }} {{ disabled }} {{/ disabled }} />
