<input
  class="input {{# type }}input--{{ type }}{{/ type }} {{ class }}"
  type="{{ type }}"
  {{# id }} id="{{ id }}" {{/ id }}
  {{# attributes }} {{ name }}="{{ value }}" {{/ attributes }}
   />
