.tabs {
	display: flex;

	padding-left: 0;

	list-style: none;

	border-bottom: 1px solid $lighter-gray;

	flex-wrap: wrap;
}
@media (max-width: $bp-m ) {
	.tabs {
		flex-direction: column;
	}
	[role='tablist'] a,
	[role='tablist'] li {
		position: static;

		display: block;
	}

	[role='tablist'] [aria-selected] {
		position: static;
	}
}
