.tabs {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	border-bottom: 1px solid #eee;
	padding-left: 0;
}
@media (max-width: $bp-m ) {
	[role="tablist"] a,
	[role="tablist"] li {
		display: block;
		position: static;
	}

	[role="tablist"] [aria-selected] {
		position: static;
	}


}
