<div class="tabs__container">
	<ul class="tabs {{ tabs-class }}">
		{{# tabs }}
			{{> molecules-tab-item }}
		{{/ tabs }}
	</ul>
	<!-- https://inclusive-components.design/tabbed-interfaces/ -->
	<div class="tabs__content">
		{{# tabs }}
			{{> molecules-tab-content }}
		{{/ tabs }}
	</div>
</div>
