{{> organisms-header }}
{{> organisms-submenu }}

{{> organisms-hero }}

<main class="layout-full-width-block main-content layout-full-width-block--detail-page">
	<div class="layout-full-width-block__content detail-page">
		{{> organisms-page-menu}}
		<article class="main-content detail-page__content">
			{{> atoms-article-header }}
			{{{ article-content }}}
		</article>
		<aside class="detail-page__aside">
			<div class="detail-page__aside-container">


			{{# widgets }}
				{{> molecules-widget }}
			{{/ widgets }}
			{{# widget-follow }}
			{{> molecules-follow }}
			{{/ widget-follow }}
				</div>
		</aside>
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
<!-- /content page -->
