header {
  position: relative;
}
.top-bar {
  background-color: #fff;
}
.top-bar__content,
.top-bar__container {
  display: flex;
}
.top-bar__container {
  width: calc(100% - 163px);
}
.skip-link {
  width: 3rem;
  height: 3rem;
  text-indent: 4rem;
  margin-top: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 1.5rem 1.5rem;
}

.nav:target .skip-link {
  position: absolute;
  top: -6rem;
  left: 1rem;
  background-color: #fff;
}
@media all and (min-width: $bp-l) {
  .nav {
    order: 1;
  }
  .nav .skip-link {
    display: none;
  }
  .nav-link {
    display: none;
  }
}
.nav-link {
  background-image: url("../../../images/icons/nav-icon.svg");
  order: 0;
}
.search-link {
  background-image: url("../../../images/icons/search-icon.svg");
}
@media all and (min-width: $bp-l) {
  .search-link {
    order: 2;
  }

  :target .search-link {
    order: 0;
  }
}
.close-icon {
  background-image: url("../../../images/icons/close-search-icon.svg");
}



.top-search,
.nav {
  width: 0;
  overflow: hidden;
  transition: width .2s easein;
}
@media all and (min-width: $bp-l) {
  .nav {
    width: auto;
  order: 1;
  }
}
