.page__header {
	position: relative;
	z-index: 25;

	border-top: 5px solid $avans-red;
	border-bottom: 1px solid $lighter-gray;
}

.top-bar {
	background-color: $white;
}

.top-bar__container,
.top-bar__content {
	display: flex;
}

.top-bar__container {
	width: calc(100% - 163px);

	transition: width .5s ease;
}

.skip-link {
	display: inline-block;
	overflow: hidden;

	width: 3.8125rem;
	height: 6.3rem;
	padding-top: 1.5rem;

	white-space: nowrap;
	text-indent: 6rem;

	border-right: 1px solid $lighter-gray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.3125rem;
}

.nav.js-open .skip-link,
.nav:target .skip-link {
	position: absolute;
	z-index: 5;
	top: -6rem;
	left: 1rem;

	height: 6rem;

	background-color: $white;
}
@media all and (min-width: $bp-l) {
	.nav {
		order: 1;
	}

	.nav .skip-link {
		display: none;
	}

	.nav-link {
		display: none;
	}
}

.nav-link {
	font-size: $header-icon-text;

	overflow: visible;

	width: 6rem;
	padding-top: 4rem;

	transition: color .4s ease;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	//background-position: 2rem;
	text-transform: uppercase;

	color: $light-gray;
	background-image: url('../images/icons/nav-icon.svg');
	background-size: 30px 19px;

	order: 0;
}

.nav-link.clicked {
	overflow: hidden;

	text-indent: 6rem;

	background-image: url('../images/icons/close-search-icon.svg');
}

.nav-link.clicked:hover {
	background-image: url('../images/icons/close-search-icon-blue.svg');
}

.nav-link:hover {
	color: $avans-blue;
	background-image: url('../images/icons/nav-icon-blue.svg');
}

@media all and (max-width: $bp-m) {
	.skip-link {
		width: 4.375rem;
		height: 4.375rem;
		padding-top: 3rem;
	}
}

.search-link {
	background-image: url('../images/icons/search-icon.svg');
}

.search-link:hover {
	background-image: url('../images/icons/search-icon-blue.svg');
}
@media all and (min-width: $bp-l) {
	.search-link {
		order: 2;
	}

	:target .search-link {
		border-right: 0;
		border-left: 1px solid #ccc;

		order: 0;
	}

	.js-open .input--search,
	:target .input--search {
		max-width: 37.5rem;
	}

	:target .close-icon {
		border-right: 1px solid #ccc;
	}
}

.close-icon {
	background-image: url('../images/icons/close-search-icon.svg');
}

@media all and (max-width: $bp-m) {
	.top-bar__container.js-open {
		width: 100%;
	}
	.js-open + .logo {
		width: 0;
		.logo__img {
			width: 0;
		}
	}
}

header .nav,
.top-search {
	overflow: hidden;

	width: 0;
	height: 0;

	transition: width .2s easein;
}
@media all and (min-width: $bp-l) {
	.nav {
		width: auto;
		height: auto;

		order: 1;
	}
}
