.pagination {
	display: flex; //@extend .testing;
}

.pagination__list {
	margin: 0;
	padding: 0;
}

.pagination__item {
	display: inline-block;

	list-style: none;
}

.pagination__link {
	// fix 2017 css
	line-height: initial;

	display: block;

	width: 2rem;
	height: 2rem;
	margin-right: .725rem;
	padding-top: .4rem;

	transition: background-color .5s ease;
	text-align: center;
	text-decoration: none;

	color: $white;
}
@media all and (max-width: $bp-xs) {
	.pagination__link {
		margin-right: .325rem;
	}
}

.pagination__link,
.pagination__link--active.pagination__link--active:hover {
	background-color: $light-gray;
}

.pagination__link--active,
.pagination__link:hover {
	background-color: $avans-blue;
}

.pagination__link--next,
.pagination__link--previous {
	position: relative;

	overflow: hidden;

	white-space: nowrap;
	text-indent: 4rem;

	&:before {
		position: absolute;
		top: .75rem;

		display: block;

		width: 7px;
		height: 7px;

		content: '';
		transform-origin: center;
		text-indent: 0;

		border: 1px solid $white;
		border-width: 1px 1px 0 0;
	}
}

.pagination__link--next:before {
	left: .625rem;

	transform: rotate(45deg);
}

.pagination__link--previous:before {
	left: .825rem;

	transform: rotate(-135deg);
}
