<div class="slide" style="background-image: url({{ img-src }})">
	<div class="l-container slide__container">
		<h1 class="slide__header">{{ header }}</h1>
		<div class="slide__button">
			{{# button }}
				{{> atoms-button }}
			{{/ button }}
		</div>
	</div>
</div>
