{{> organisms-header }}
{{> organisms-submenu }}

{{> organisms-hero }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">
		{{> organisms-page-menu}}
		<article class="main-content content-page__content">
			{{{ article-content }}}
			{{# open-dag }}
				{{> molecules-open-dag }}
			{{/ open-dag }}
		</article>
		<aside class="content-page__aside">
			<div class="content-page__aside-container">


			{{# widgets }}
				{{> molecules-widget }}
			{{/ widgets }}
			{{# widget-follow }}
			{{> molecules-follow }}
			{{/ widget-follow }}
				</div>
		</aside>
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
