{{> organisms-header }}
{{> organisms-submenu }}
<main class="layout-full-width-block main-content">
	<div class="layout-full-width-block__content">
		inleiding voor opleieing
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
