{{> organisms-header }} {{> organisms-submenu }} {{> organisms-hero-simple }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">
		{{> organisms-page-menu}}
		<article class="main-content content-page__content">
			{{{ article-content }}}
			<div class="breakout-box">
				<table class="schedule">
					<caption>Delivery slots:</caption>
					<thead>
						<tr>
							<td></td>
							<th class="schedule__header" scope="col">Blok 1</th>
							<th class="schedule__header" scope="col">Blok 2</th>
							<th class="schedule__header" scope="col">Blok 3</th>
							<th class="schedule__header" scope="col">Blok 4</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="schedule__header" scope="row">Beeldbewerking & onderzoek</th>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="active schedule__slot--active">Les</td>
							<td class="schedule__slot"></td>
							<td class="schedule__slot"></td>
						</tr>
						<tr>
							<th class="schedule__header" scope="row">Body & art</th>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot"></td>
							<td class="schedule__slot"></td>
						</tr>
						<tr>
							<th class="schedule__header" scope="row">Creative technology</th>
							<td class="schedule__slot"></td>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot"></td>
						</tr>
						<tr>
							<th class="schedule__header" scope="row">Gebruikersscenario</th>
							<td class="schedule__slot"></td>
							<td class="schedule__slot"></td>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot schedule__slot--active">Les</td>
						</tr>
						<tr>
							<th class="schedule__header" scope="row">Grafisch ontwerp</th>
							<td class="schedule__slot"></td>
							<td class="schedule__slot"></td>
							<td class="schedule__slot schedule__slot--active">Les</td>
							<td class="schedule__slot schedule__slot--active">Les</td>
						</tr>
					</tbody>
				</table>
			</div>

		</article>
		<aside class="content-page__aside">
			{{# widgets }}
				{{> molecules-widget }}
			{{/ widgets }}
		</aside>
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
