{{> organisms-header }}
{{> organisms-submenu }}
 {{> organisms-hero-simple }}
<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">
		{{> organisms-page-menu}}
		<article class="main-content content-page__content">
			<ul class="tabs">
    <li class="tab__item tab__item--selected"><a class="tab__link" href="/opleidingen/opleidingzoeker/communicatie-breda-voltijd-bachelor/wat-anderen-zeggen?function=3_FUNCTION_TEACHER">Docenten</a></li>
    <li class="tab__item"><a class="tab__link" href="/opleidingen/opleidingzoeker/communicatie-breda-voltijd-bachelor/wat-anderen-zeggen?function=4_FUNCTION_STUDENT">Studenten</a></li>
    <li class="tab__item "><a class="tab__link" href="/opleidingen/opleidingzoeker/communicatie-breda-voltijd-bachelor/wat-anderen-zeggen?function=5_FUNCTION_ALUMNUS">Alumni</a></li>
    </ul>
			<!-- <section class="resultpage__content"> -->
			{{# results-list }}
				{{> organisms-results-list }}
			{{/ results-list }}
			<!-- </section> -->
			test
			<p>
				<img src="http://www.avans.nl/binaries/content/gallery/nextweb/personen/testimonials-en-blogs/breda/voltijd/communicatie/gytha_muller.jpg" alt="hi there">
			</p>
		</article>
		<aside class="content-page__aside">
			<div class="content-page__aside-container">


			{{# widgets }}
				{{> molecules-widget }}
			{{/ widgets }}

				</div>
		</aside>
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
