{{> organisms-header }}
{{> organisms-submenu }}
<main class="layout-full-width-block main-content">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
	<a href="#page-menu" class="skip-link nav-link">Opbouw</a>

	<div class="page-menu__container">
		<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN Breda</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/introductie">
											Introductie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link page-menu__link--active" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/introductie">
											Opbouw</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/buitenland">
											Buitenland</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/wat-anderen-zeggen">
											Wat anderen zeggen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/studie-in-cijfers">
											Studie in cijfers</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/verenigingen">
											Verenigingen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/blog">
											Blog</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/nieuws">
											Nieuws</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/beroepen">
											Beroepen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/vervolgstudies">
											Vervolgstudies</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/toelating">
											Toelating</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/studiekosten">
											Studiekosten</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/locatie">
											Locatie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/aanmelden">
											Aanmelden</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-dag-27-januari-2018-2018-01-27%5B2%5D">
											Open dag</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/mbo-middag-13-december-2017-2017-12-13%5B5%5D">
											Mbo-middag</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/proefstuderen">
											Proefstuderen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/meeloopdagen">
											Meeloopdagen</a>
									</li>
								</ul>
			<a href="#" class="skip-link close-icon">Verberg het menu</a>
	</div>
        <a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/aanmelden" class="btn btn--primary btn--page-menu"><!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


Meld je aan</a>
</nav>
<article class="main-content content-page__content">
					<!-- International Tab headers -->
<ul class="nav nav-tabs">
	<li class="active">
	  <a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/opbouw">Study Programme</a></li>

    <li><a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/opbouw?tab=specialisaties">Specialisations</a></li>
	<li><a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/opbouw?tab=stage">Internships</a></li>
	<li><a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/opbouw?tab=afstuderen">Graduation</a></li>
	</ul>
<h2 class="article-header">Opbouw van de opleiding</h2>
  <!-- Article body -->
<div class="entry-content body">
  <p>Environmental Science for Sustainable Energy and Technology (ESSET) is a four-year Bachelor of Applied Sciences programme taught in English. Each year has a different focus. The academic year is divided into four quarters, with each quarter lasting ten weeks. You will start new courses and projects in every quarter.</p><section>
          <h3>Foundation phase</h3>
            <p>The first year focuses on basic skills. Like maths, chemistry, physics and biology. And on language and (intercultural) communication skills. We also introduce the main environmental issues. In the second year, you do advanced coursework and work on complex projects. New environmental areas of interest are introduced. Like biodiversity, bio-based economy, climate change, environmental simulation and geographical information systems. You also prepare for your work placement.</p></section>
      <section>
          <h3>Advanced phase</h3>
            <p>In the third year, you do a work placement and take the Environmental Consultancy Specialisation. The work placement can vary, from working for an environmental consultancy to doing research at an institute. In your fourth year, you can take the minor Biobased Energy, Environmental Geography or a minor in another programme within Avans or our partner universities. During the final half of the year, you complete your graduation assignment within a company, government agency or our Research Group.</p></section>
      </div></article>
				<aside class="content-page__aside">
					<div class="content-page__aside-container">
						<div class="widget widget--sidebar">
    <h4 class="widget__header widget__header--apply"><!-- label = 'ENROLL_TEXT', labelset = program-widgets, value = 'Is dit jouw opleiding?' (from labels: '' -->


Is dit jouw opleiding?</h4>
    <div class="widget__content">
        <a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/aanmelden" class="btn btn--primary btn--widget"><!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


Meld je aan</a>
    </div>
</div><div class="widget widget--sidebar">
        <h4 class="widget__header widget__header--open"><!-- label = 'EVENTS_TITLE', labelset = program-widgets, value = 'Kom langs' (from labels: '' -->


Kom langs</h4>
        <div class="widget__content">
            <ul class="widget__list">
                <li class="widget__list-item">
                        <a class="widget__link widget__list-link" href="/opleidingen/open-dagen/2017-2018/mbo-middag-13-december-2017-2017-12-13[5]">Mbo-middag 13 december 2017</a>
                    </li>
                <li class="widget__list-item">
                        <a class="widget__link widget__list-link" href="/opleidingen/open-dagen/2017-2018/mbo-middag-13-december-2017-2017-12-13">Mbo-middag 13 december 2017</a>
                    </li>
                <li class="widget__list-item">
                        <a class="widget__link widget__list-link" href="/opleidingen/open-dagen/2017-2018/mbo-middag-13-december-2017-2017-12-13[4]">Mbo-middag 13 december 2017</a>
                    </li>
                </ul>
        </div>
    </div>
</div>
				</aside><nav id="clone" class="page-menu content-page__menu page-menu--clone">
	<a href="#page-menu" class="skip-link nav-link">Opbouw</a>

	<div class="page-menu__container">
		<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN Breda</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/introductie">
											Introductie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link page-menu__link--active" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/introductie">
											Opbouw</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/buitenland">
											Buitenland</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/wat-anderen-zeggen">
											Wat anderen zeggen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/studie-in-cijfers">
											Studie in cijfers</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/verenigingen">
											Verenigingen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/blog">
											Blog</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/nieuws">
											Nieuws</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/beroepen">
											Beroepen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/vervolgstudies">
											Vervolgstudies</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/toelating">
											Toelating</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/studiekosten">
											Studiekosten</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/locatie">
											Locatie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/aanmelden">
											Aanmelden</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-dag-27-januari-2018-2018-01-27%5B2%5D">
											Open dag</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/mbo-middag-13-december-2017-2017-12-13%5B5%5D">
											Mbo-middag</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/proefstuderen">
											Proefstuderen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/meeloopdagen">
											Meeloopdagen</a>
									</li>
								</ul>
			<a href="#" class="skip-link close-icon">Verberg het menu</a>
	</div>
        <a href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/aanmelden" class="btn btn--primary btn--page-menu"><!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


Meld je aan</a>
</nav>

				<section class="box box-program-courses body">
    <h3>Course overview</h3>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="active">
                <a href="#" data-year="jaar-1">Year 1</a>
            </li>
        <li>
                <a href="#" data-year="jaar-2">Year 2</a>
            </li>
        <li>
                <a href="#" data-year="jaar-3">Year 3</a>
            </li>
        <li>
                <a href="#" data-year="jaar-4">Year 4</a>
            </li>
        </ul>


    <table id="jaar-1">
            <caption>Year 1 subjects</caption>
            <thead>
            <tr>
                <th id="subjects">Subjects</th>
                <th id="block-1">Quarter 1</th>
                <th id="block-2">Quarter 2</th>
                <th id="block-3">Quarter 3</th>
                <th id="block-4">Quarter 4</th>
            </tr>
            </thead>

            <tbody>

            <!-- Courses -->
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Study supervision</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Sustainable energy sources</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Algebra</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Introduction to environmental sciences </td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Intercultural communication</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Laboratory Skills</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    English</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Chemistry I</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Air quality</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Cell Biology</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Projectmanagement </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Chemistry</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Laboratory skills II</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Calculus</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Elective</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    English</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Water quality</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Spatial planning </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Water treatment </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Organic chemistry </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Elective</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Self development</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Green energy</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Introduction to policy analysis/Inleiding bestuursrecht</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Air and noise pollution</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Transport and fate of pollutants </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Microbiology </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            </tbody>
        </table>
    <table id="jaar-2" style="display: none;">
            <caption>Year 2 subjects</caption>
            <thead>
            <tr>
                <th id="subjects">Subjects</th>
                <th id="block-1">Quarter 1</th>
                <th id="block-2">Quarter 2</th>
                <th id="block-3">Quarter 3</th>
                <th id="block-4">Quarter 4</th>
            </tr>
            </thead>

            <tbody>

            <!-- Courses -->
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: soil quality</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Ethics </td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Physical transport phenomena </td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Geographical information systems (GIS)</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Soil science </td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Cradle-to-cradle </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Ecology </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Sustainable development </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Watermanagement </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Statistics</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Carbon footprint</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Environmental communication </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Climate change </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Preparation for work placement </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Applied thermodynamics </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Project: Risk and safety </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    EU and environmental law/omgevingsrecht </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Toxicology</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Environmental dynamic modelling </td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            </tbody>
        </table>
    <table id="jaar-3" style="display: none;">
            <caption>Year 3 subjects</caption>
            <thead>
            <tr>
                <th id="subjects">Subjects</th>
                <th id="block-1">Quarter 1</th>
                <th id="block-2">Quarter 2</th>
                <th id="block-3">Quarter 3</th>
                <th id="block-4">Quarter 4</th>
            </tr>
            </thead>

            <tbody>

            <!-- Courses -->
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Internship</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Environmental consultancy specialisation</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            </tbody>
        </table>
    <table id="jaar-4" style="display: none;">
            <caption>Year 4 subjects</caption>
            <thead>
            <tr>
                <th id="subjects">Subjects</th>
                <th id="block-1">Quarter 1</th>
                <th id="block-2">Quarter 2</th>
                <th id="block-3">Quarter 3</th>
                <th id="block-4">Quarter 4</th>
            </tr>
            </thead>

            <tbody>

            <!-- Courses -->
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Minor Biobased Economy or minor Environmental geography or Individual profile minor (exchange)</td>

                <td headers="block-1" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-2" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-3" class="block">

          </td>
      <td headers="block-4" class="block">

          </td>
      </tr>
            <tr>

                <!-- Name, description -->
                <td headers="subject">
                    Graduation project</td>

                <td headers="block-1" class="block">

          </td>
      <td headers="block-2" class="block">

          </td>
      <td headers="block-3" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      <td headers="block-4" class="block">

          <span class="span1 style-secondary">x</span>
          </td>
      </tr>
            </tbody>
        </table>
    </section>

<div class="container_12">
    <div class="grid_8">
        <div class="body entry-content">
            <section>
                    <h3>Additional course overview information</h3>
                    <p>For Dutch students we offer some of the courses in Dutch alongside the English courses. In year one, you can choose to take some maths courses in Dutch. You can also choose to do some of the projects in Dutch project groups where you can speak and write in Dutch. We also offer courses in Dutch environmental law and policy that are compulsory for Dutch students.</p></section>
            </div>

        </div>
</div> <!-- .container_12 -->
</div>
</main>
<!-- /main -->

{{> organisms-footer }}
