{{> organisms-header }} {{> organisms-submenu }} {{> organisms-hero-simple }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">
		{{> organisms-page-menu}}
		<article class="main-content content-page__content">
			{{{ article-content }}}
			<div class="breakout-box">
				{{# course-schedule }}
				{{> organisms-course-schedule }}
				{{/ course-schedule }}
			</div>

		</article>
		<aside class="content-page__aside">
			{{# widgets }}
				{{> molecules-widget }}
			{{/ widgets }}
		</aside>
	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
