<a href="{{ href }}" class="grid__link">
	<figure class="grid__content">
		<div class="grid__image-container">
			<img class="grid__image" src="{{ src }}" alt="{{ alt }}" />
		</div>
		<figcaption class="grid__caption">{{ caption }}</figcaption>
	</figure>
</a>
