<div class="footer-links__list-block {{ class }}">
  <h4 class="footer-links__header">{{follow-header}}</h4>
  <ul class="footer-links__list footer-links__list--follow">
    {{# follow }}
      <li class="footer-link__item footer-link__item--icon footer-link__item--follow">
        <a
          href="{{ href }}" title="{{ item }}"
          class="footer-link__link footer-link__link--icon footer-link__link--{{ item }}">{{ item }}</a></li>
    {{/ follow }}
  </ul>
</div>
