<div class="hero hero--simple layout-full-width-block {{ hero-class }}">
	<div class="hero__content">
		<h1 class="header--hero header">
	      <span class="header__text">
	        {{ hero-title }}
	       </span>
	       <!-- / header text -->
	     </h1>
		<!-- / hero header -->
	</div>
	<!-- / hero content -->

</div>
<!-- / hero -->
