// scss
$filter-size: .875rem;

.filter__item {
	font-size: $filter-size;
	line-height: 1;

	display: flex;

	padding: 0 0 $filter-size 0;
}

.filter__item:hover {
	color: $avans-blue;
}

.input--filter.input--filter {
	display: inline-block;

	margin: .1rem $filter-size 0 0;
}
