$attention-spacing: $spacing-l;

.attention-block__container {
	display: flex;

	align-items: stretch;
}

.attention-block {
	display: inline-flex;
	flex-direction: column;

	width: 355px;
	padding: $spacing-l;

	align-items: stretch;
}
@media all and (max-width: $bp-l) {
	.attention-block--alpha {
		width: calc(100% - 2rem);
		margin: 1rem;
	}
}

@media all and (max-width: $bp-m) {
	.attention-block__container {
		flex-direction: column;
	}
	.attention-block {
		width: calc(100% - 2rem);
		margin: 1rem;
	}
}

.attention-block--alpha {
	background-color: $white;
}

.attention-block--beta {
	background-color: $default-background;
}

.attention-block--charlie {
	color: $white;
	background-color: $text-color;

	a {
		color: $white;
	}
}

.attention-block + .attention-block {
	margin-left: $spacing-l;
}
