<div class="attention-block attention-block--{{ type }} attention-block--{{ layout }}">
	<h2 class="attention-block__header">{{ header }}</h2>
	<p class="paragraph attention-block__paragraph">
		{{{ content }}}
	</p>
</div>
