<div class="hero layout-full-width-block"
	style="background-image: url({{ hero-image.img-src }})">
	<div class="hero__content">
		<h1 class="header--hero header">
	      <span class="header__text">
	        {{ hero-title }}
	       </span>
	       <!-- / header text -->
	     </h1>

		 {{# hero-sub-title }}
		   <p class="header__sub-title">{{ hero-sub-title }}</p>
		{{/ hero-sub-title }}

		<!-- / hero header -->
	</div>
	<!-- / hero content -->

</div>
<!-- / hero -->
