<div class="hero layout-full-width-block">
  <div class="hero__content">
    <h1 class="header--hero header">
      <span class="header__text">
        Ervaar hoe het is om te studeren bij avans
       </span>
       <!-- / header text -->
     </h1>
    <!-- / hero header -->
  < </div>
  <!-- / hero content -->
</div>
  <!-- / hero -->
