.link-box {
	padding: $spacing-xl;

	background-color: $white;
}

.link-box__list {
	display: flex;

	margin: 0;
	padding-left: 0;

	list-style: none;

	border-top: 1px solid #ccc;

	flex-wrap: wrap;
}

.link-box__item {
	flex: 1 0 auto;

	width: 100%;
	padding-left: 0;

	border-bottom: 1px solid #ccc;

	.col-2 & {
		width: 50%;
	}
}

.link-box__link {
	display: block;

	padding: $spacing 0 0;

	text-decoration: none;

	color: $text-color;
}

.link-box__content {
	margin-bottom: $spacing;
	margin-left: $spacing;
	padding: 0 $spacing 0 $spacing-l;

	@extend .blue-arrow;
}

.link-box__date {
	font-weight: normal;

	display: block;

	padding: 0 $spacing $spacing $spacing-xl;

	color: $light-gray;
}
