.link-box {
    padding: $spacing-xl;
    background-color: #fff;
}
.link-box__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}
.link-box__item {
width: 50%;
flex: 1 0 auto;
padding-left: 0;
border-bottom: 1px solid #ccc;

}
.link-box__link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: $spacing $spacing $spacing $spacing-l;
  margin-left: $spacing;
  background-repeat: no-repeat;
  background-image: url('../../../images/icons/ICON-Arrow-Right-Blue.svg');
  background-position: 0 50%;
}

.link-box__list {}
