<ul class="link-box__list">
  <li class="link-box__item">
    <a class="link-box__link" href="#">Aarde en Milieu</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Economie en Bedrijf</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Exact en Informatica</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Gedrag en Maatschappij</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Gezondheid</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Kunst en Cultuur</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Onderwijs en Opvoeding</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Recht en Bestuur</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Taal en Communicatie</a>
  </li>
  <!-- /link-box__item -->
  <li class="link-box__item">
    <a class="link-box__link" href="#">Techniek</a>
  </li>
  <!-- /link-box__item -->
</ul>
<!-- /link-box__list -->
