<div class="footer-links__list-block">
  <h4 class="footer-links__header">{{ discover-header }}</h4>
  <ul class="footer-links__list footer-links__list--discover">
    {{# discover }}
      <li class="footer-link__item footer-link__item--discover">
        <a
          href="{{ href }}"
          class="footer-link__link">{{ item }}</a></li>
    {{/ discover }}
  </ul>
</div>
