<div>
  <h4>Ontdek meer Avans</h4>
  <ul>
    <li><a href="#">Avans international</a></li>
    <li><a href="#">Avans Alumi portal</a></li>
    <li><a href="#">iAvans </a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
