<div class="footer-links__list-block">
  <h4 class="footer-links__header">Ontdek meer Avans</h4>
  <ul class="footer-links__list">
    <li><a href="#">Avans international</a></li>
    <li><a href="#">Avans Alumi portal</a></li>
    <li><a href="#">iAvans </a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
