$avans-red: #c6002a;
$avans-blue: #00aceb;
$white: #fff;
$default-background: #f6f6f6;
$text-color: #000001;
$light-gray: #999;
$lighter-gray: #eee;
$light-gray-background: rgba(238,238,238,.5);

body,
input {
	color: $text-color;
}
