.field.field,
form {
	input:not([class]),
	textarea {
		font-size: 1rem;

		display: block;

		width: 100%;
		margin-bottom: 2rem;
		padding: $spacing;

		border: 1px solid $lighter-gray;
		border-bottom: 2px solid $avans-blue;
		background-color: $white;
	}
	label:not([class]) {
		display: block;

		margin-bottom: 1rem;
	}
}
