body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

@media all and (min-width: $bp-m) {
    .layout-full-width-block,
    .top-bar,
    .hero {
        margin: 0 $content__margin;
    }
}

.layout-full-width-block__content,
.top-bar__content,
.hero__content {
    max-width: $width__overal;
    margin: 0 auto;
}

.hero__content {
    padding: 0 $spacing-l;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-content {
  margin-top: -100px;
}
.layout-full-width-block__content {
  display: flex;
  position: relative;
}
