body {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

article,
aside,
body,
section {
	display: block;
}

.hero,
.layout-full-width-block,
.top-bar {
	padding: 0 $content__margin;
}

.layout-full-width-block--content-page {
	padding: 0;
}

.foo {
	display: flex;
	flex-wrap: wrap;
}
.foo li {
	list-style: none;
	flex: 0 1 50%;
	outline: 1px solid red;
}

@media all and (max-width: $bp-m) {
	.foo {
		flex-direction: column;
	}
	.foo li {
		flex: 0 1 100%;
	}
}

@media all and (max-width: $bp-m) {
	.top-bar {
		padding: 0;
	}
}
@media all and (min-width: $bp-xl) {
	.layout-full-width-block {
		padding: 0;
	}
}

.hero__content,
.layout-full-width-block__content,
.top-bar__content {
	max-width: $width__overal;
	width: 100%;
	margin: 0 auto;
}

.layout-full-width-block__content {
	position: relative;

	.image-block {
		width: 40%;
	}
}
@media all and (max-width: 1140px) and (min-width: $bp-xl) {
	.layout-full-width-block__content {
		padding-left: $spacing;
		padding-right: $spacing;
	}
}

.layout-full-width-block__content--image-blocks {
	.image-block {
		width: 50%;

		&:first-child {
			margin-right: $spacing-xl;
		}
	}
}

.home-page .layout-full-width-block__content:first-child {}

.content {
	padding-bottom: 2rem;
}
$side-column-width: 263px;

.content-page {
	//	@extend .testing;
	position: relative;
}
@media all and (min-width: $bp-xl) {
	.layout-full-width-block--content-page {
		background: linear-gradient(90deg, #fff 0%, #fff calc( 50% + 293px ), $light-gray-background calc( 50.01% + 293px ), $light-gray-background 100%);
	}
}

.content-page__aside-container,
.content-page__content,
.content-page__menu {
	padding: $spacing-xl $spacing $spacing;
}

.breakout-box {
	z-index: 5;
	width: 100%;
	padding: 1rem 1rem 1rem 0;
	background-color: #fff;
}
@media all and (min-width: $bp-xl) {
	.content-page {
		display: flex;
	}

	.content-page__menu {
		padding-left: 0;
	}

	.content-page__aside,
	.content-page__menu {
		width: $side-column-width;
	}

	.content-page__content {
		width: 556px;
		margin-bottom: $spacing-xl;
		padding-left: 0;
		padding-right: 0;

		.breakout-box {
			width: calc(556px + 298px);
		}
	}

	.breakout-box {
		padding: 1rem 0;

		.content-page__content & {
			padding-right: 1rem;
			background-color: #fff;
		}
	}

	.content-page__menu {
		margin-right: $spacing-xl;
	}

	.content-page__aside {
		margin-left: $spacing-xl;
	}
}
@media all and (max-width: $bp-xl) {
	.content-page__aside {
		background-color: $light-gray-background;
	}
}
@media all and (max-width: $bp-xl) and (min-width: $bp-m) {
	.content-page__aside-container,
	.content-page__content,
	.disclaimer__container,
	.header,
	.page-menu {
		max-width: 720px;
	}

	.content-page__aside-container {
		display: flex;
		flex-wrap: wrap;
	}

	.content-page__aside-container,
	.page-menu {
		margin: 0 auto;
	}

	.widget {
		width: calc(50% - 1rem);
		max-width: calc(50% - 1rem);
	}

	.widget:nth-child(even) {
		margin-left: $spacing-xl;
	}
}
@media all and (max-width: $bp-xl) and (min-width: $bp-l) {
	.page-footer__content,
	.top-bar__content {
		max-width: 960px;
	}
}
@media all and (max-width: $bp-l) and (min-width: $bp-m) {
	.page-footer__content,
	.top-bar__content {
		max-width: 720px;
	}
}
@media all and (min-width: 556px) {
	.content-page__content {
		min-width: 556px;
		margin: 0 auto;

		.breakout-box {
		//	width: calc(556px + ( (100vw - 556px )/ 2));
		}
	}
}
