.testing {
    outline: 1px solid red;
    * {
        outline: 1px solid green;
        * {
            outline: 1px solid pink;
            * {
                outline: 1px solid blue;
                * {
                    outline: 1px solid orange;
                    * {
                        outline: 1px solid teal;
                    }
                }
            }
        }
    }
}

/*
  mixins
  */
.blue-arrow {
  background-repeat: no-repeat;
  background-image: url('../../../images/icons/ICON-Arrow-Right-Blue.svg');
  background-position: 0 50%;
}

.gray-arrow {
  background-repeat: no-repeat;
  background-image: url('../../../images/icons/ICON-Arrow-Right-Gray.svg');
  background-position: 0 50%;
}

.white-arrow {
  background-repeat: no-repeat;
  background-image: url('../../../images/icons/ICON-Arrow-Right-White.svg');
  background-position: 0 50%;
}

@mixin hideVisually(){
	position: absolute;
	left: -999em;
}
