.testing {
	outline: 1px solid red;
	* {
		outline: 1px solid green;
		* {
			outline: 1px solid pink;
			* {
				outline: 1px solid blue;
				* {
					outline: 1px solid orange;
					* {
						outline: 1px solid teal;
					}
				}
			}
		}
	}
}

/*
  mixins
  */
.blue-arrow {
	background-image: url('../images/icons/ICON-Arrow-Right-Blue.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.gray-arrow {
	background-image: url('../images/icons/ICON-Arrow-Right-Gray.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.white-arrow {
	background-image: url('../images/icons/ICON-Arrow-Right-White.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
}

@mixin hideVisually() {
	position: absolute;
	left: -999em;
}

.small-arrow {
	position: absolute;

	width: 5px;
	height: 5px;

	content: '';
	transform: rotate(45deg);

	border: 1px solid $avans-blue;
	border-width: 1px 1px 0 0;
}

@mixin small-arrow($border-color: $avans-blue, $rotate: 45deg) {
	position: relative;
	&:before {
		position: absolute;

		width: 5px;
		height: 5px;

		content: '';
		transform: rotate($rotate);

		border: 1px solid $border-color;
		border-width: 1px 1px 0 0;
	}
}

@mixin reset-list() {
	padding-left: 0;

	list-style: none;
}
