/*
font-family:'Frutiger LT W01_66 Bold Italic';
font-family:'Frutiger LT W01_45 Ligh1475730';
font-family:'Frutiger LT W01_46 Ligh1475734';
font-family:'Frutiger LT W01_65 Bold1475746';
font-family:'Frutiger LT W01_55 Roma1475738';
font-family:'Frutiger LT W01_56 Italic';
font-family:'Frutiger LT W01_77 Black Cond';
*/
h1,
h2,
h3,
h4,
.content__header,
button,
label:not([class]),
// fix
.btn,
.btn-black,
// fix
input[type='submit'],
// fix
legend,
// fix
.widget h1,
// fix
.nav__link,
.header-font,
.paragraph--intro,
.page-menu-block__header,
.page-menu__link--active,
.schedule__header--head,
.result-block .result-block__title,
.header__sub-title {
	font-family: 'Frutiger LT W01_65 Bold1475746', helvetica, sans-serif;
	font-weight: normal;
}

.slide p {
	font-family: 'Frutiger LT W01_77 Black Cond', helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
	color: inherit;
	text-shadow: none;
}

h3 {
	font-size: $h3fs;
}

h4 {
	font-size: $h4fs;
}

body,
input,
.btn--filter,
.nav__link--sub,
.result-block__location {
	font-family: 'Frutiger LT W01_55 Roma1475738', helvetica, sans-serif;
	font-weight: normal;
}

.main-content,
.main-content p,
.main-content li,
.main-content a:not([class]),
.widget__link,
table {
	font-family: 'Frutiger LT W01_45 Ligh1475730', helvetica, sans-serif;
}

.main-content p {
	// make sure words break nicer...
	// doesn't work in all browsers. see caniuse.com
	hyphens: auto;
}

html,
body,
input,
button,
select {
	font-size: 1em;
	font-weight: normal;

	-webkit-font-smoothing: antialiased;
}

.content__header {
	font-size: $fs-xl;
}
// 2017 css
.entry-title,
h2 {
	font-size: $fs-l;

	margin: .75rem 0;
}

h3 {
	margin: 1.5rem 0 .75rem 0;
}
p {
	margin: 0 0 2rem 0;
}

p + h3 {
	margin-top: 3rem;
}
p,
.content-page__content,
.content-page__content li:not(.pagination__item) {
	line-height: 2rem;
}

a {
	color: $text-color;
}

// 2017 css
#main table,
.entry-content {
	font-family: 'Frutiger LT W01_45 Ligh1475730', helvetica, sans-serif;
	font-size: $fs;
}
