
h1,
h2,
h3,
h4,
.content__header,
button,
legend,
.nav__link,
.header-font,
.paragraph--intro,
.page-menu-block__header,
.page-menu__link--active,
.schedule__header--head {
	font-weight: normal;
	font-family: "Frutiger LT W01_65 Bold1475746", helvetica, sans-serif;
}

body,
input,
.btn--filter,
.nav__link--sub,
.result-block__location {
	font-weight: normal;
    font-family: "Frutiger LT W01_55 Roma1475738", helvetica, sans-serif;
}

.main-content p {
	font-family: "Frutiger LT W01_45 Ligh1475730", helvetica, sans-serif;
}


html,
body,
input {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    font-size: 1em;
}

.content__header {
	font-size: $fs-xl;
}

h2 {
	font-size: $fs-l;
	margin: 0;
}

p {
	line-height: 2rem;
}



a {
	color: $text-color;
}

p a {
	text-decoration: underline;
}
