$width__overal: 1140px;
$sidebar: 263px;

/*
	spacings
*/
$spacing-xs: .3125rem ;
$spacing-s: .625rem;
$spacing: .9375rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.875rem;
$spacing-xxl: 4rem;
$content__margin: $spacing;
$hero__padding: calc($spacing * 2);

/*
	font-sizes
*/

$fs-xs: .75rem;
$fs-s: .875rem;
$fs: 1.0rem;
$fs-l: 1.5rem;
$fs-xl: 2.0rem;
$header-icon-text: .675rem;
$page-menu-header: $fs-xs;
$footer-links: .8125rem;
$footer-header: .9rem;
$h3fs: 1.25rem;
$h4fs: 1.125rem;
$table-header: $fs-xs;

$result-block__header: $h3fs;
/*
    breakpoints
*/
$bp-xl: 1200px;
$bp-l: 992px;
$bp-m: 768px;
$bp-s: 540px;
$bp-s1: 400px;
$bp-xs: 320px;

/*
  timing
*/
$time-s: .1s;
