$width__overal : 1140px;

$spacing-xs    : 0.3125rem ;
$spacing-s    : .625rem;
$spacing    : 1rem;
$spacing-l  : 1.25rem;
$spacing-xl : 2rem;
$spacing-xxl : 4rem;

$content__margin: $spacing;
$hero__padding: calc($spacing * 2);


/*
    breakpoints
*/
$bp-xl : 1200px;
$bp-l  : 992px;
$bp-m  : 768px;
$bp-s  : 540px;
$bp-xs : 320px;

/*
  timing
*/
$time-s: .1s;
