$width__overal : 1140px;

$spacing-s    : 10px;
$spacing    : 15px;
$spacing-l  : 20px;
$spacing-xl : 30px;

$content__margin: $spacing;
$hero__padding: calc($spacing * 2);


/*
    breakpoints
*/
$bp-xl : 1280px;
$bp-l  : 1024px;
$bp-m  : 800px;
$bp-s  : 400px;
$bp-xs : 300px;


/*
  mixins
  */
  .blue-arrow {
    background-repeat: no-repeat;
    background-image: url('../../../images/icons/ICON-Arrow-Right-Blue.svg');
    background-position: 0 50%;
  }
