// avans
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'landing-page';
@import 'typography';
@import 'forms';

@import 'accordion';
/*
body {
	@extend .testing;
}
*/
// atoms
@import '../_patterns/01-atoms/address/address';
@import '../_patterns/01-atoms/button/button';
@import '../_patterns/01-atoms/filter/filter';
@import '../_patterns/01-atoms/form-elements/input';
@import '../_patterns/01-atoms/googlemaps/googlemaps';
@import '../_patterns/01-atoms/grid-item/grid-item';
@import '../_patterns/01-atoms/headers/page-header';
@import '../_patterns/01-atoms/image/image';
@import '../_patterns/01-atoms/logo/logo';
@import '../_patterns/01-atoms/slide/slide';

// molecules
@import '../_patterns/02-molecules/address-block/address-block';
@import '../_patterns/02-molecules/attention-block/attention-block';
@import '../_patterns/02-molecules/button-bar/button-bar';
@import '../_patterns/02-molecules/faq-item/faq-item';
@import '../_patterns/02-molecules/filters/filters';
@import '../_patterns/02-molecules/grid/grid';
@import '../_patterns/02-molecules/header-image/header-image';
@import '../_patterns/02-molecules/image-block/image-block';
@import '../_patterns/02-molecules/image-row/image-row';
@import '../_patterns/02-molecules/link-block/link-block';
@import '../_patterns/02-molecules/open-dag/open-dag';
@import '../_patterns/02-molecules/pagination/pagination';
@import '../_patterns/02-molecules/result-block/result-block';
@import '../_patterns/02-molecules/slider/slider';
@import '../_patterns/02-molecules/tab-item/tab-item';
@import '../_patterns/02-molecules/top-search/top-search';
@import '../_patterns/02-molecules/widget/widget';

// organisms
@import '../_patterns/03-organisms/active-filter/active-filter';
@import '../_patterns/03-organisms/course-schedule/course-schedule';
@import '../_patterns/03-organisms/footer/footer';
@import '../_patterns/03-organisms/filter-block/filter-block';
@import '../_patterns/03-organisms/header/header';
@import '../_patterns/03-organisms/hero/hero';
@import '../_patterns/03-organisms/hero-home/hero-home';
@import '../_patterns/03-organisms/hero-simple/hero-simple';
@import '../_patterns/03-organisms/link-box/link-box';
@import '../_patterns/03-organisms/main-nav/main-nav';
@import '../_patterns/03-organisms/page-menu/page-menu';
@import '../_patterns/03-organisms/results-list/results-list';
@import '../_patterns/03-organisms/submenu/submenu';
@import '../_patterns/03-organisms/tabs/tabs';
// @import '../_patterns/03-organisms/vertical-hero/vertical-hero';
/* templates */
@import '../_patterns/04-templates/list-page/list-page';
@import '../_patterns/04-templates/home-page/home-page';
@import '../_patterns/04-templates/subhome-page/subhome-page';


/*
	stuff to combat 2017 and before css
*/

::selection {
	color: inherit;
	background-color: transparent;
}

a[class]:hover {
	text-decoration: none;

	// color: inherit;
}

.row {
	display: flex;

	padding: 0;

	flex-wrap: wrap;
}

// interesse gebieden;
.col-md-4 {
	flex: 0 1 auto;

	width: calc(50% - (1.9rem));
	min-height: 200px;
	margin: $spacing;

	@media all and (min-width: $bp-l) {
		width: calc(33% - (1.8rem));
	}

	@media all and (max-width: $bp-s) {
		width: 100%;
	}


	.interessegebied {
		display: flex;
		flex-direction: column;

		height: 240px;

		color: $white;
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

		justify-content: flex-end;
		h2,
		p {
			width: 100%;
			margin: 0;
			padding: 0 $spacing-l;

			background-color: gray;

			.interessegebied:hover & {
				background-color: $avans-blue;
			}
		}
		.interessegebied:hover {
			//outline: 1px solid red;
		}
		h2 {
			padding-top: $spacing-s;
		}
		p {
			padding-bottom: $spacing-s;
		}
	}

	.col-md-4 .interessegebied {
		position: relative;
	}


	a {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		color: transparent;
		outline: 1px solid red;
		background-color: transparent;
	}
}
.box-program-courses {
	overflow: visible;
}
.box-teaser-list {
	padding: 0;
}
// locaties
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	float: none;

	width: auto;
	padding: 0;
}
.group:before,
.group:after,
.nav:before,
.nav:after,
.container_12:before,
.container_12:after,
.reveal-modal {
	display: none;
}

// see in layout.scss

.foo {
	outline: 1px solid green;
	&.bar {
		outline: 3px dotted red;
	}
}
