/* file to normalize the styles */
a {
  text-decoration: none; }

/*
    breakpoints
*/
body {
  width: 100%;
  height: 100%;
  background-color: #fff; }

@media all and (min-width: 800px) {
  .layout-full-width-block,
  .top-bar,
  .hero {
    margin: 0 15px; } }

.layout-full-width-block__content,
.top-bar__content,
.hero__content {
  max-width: 1140px;
  margin: 0 auto; }

.hero__content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.main-content {
  margin-top: -100px; }

.layout-full-width-block__content {
  display: flex;
  position: relative;
  margin-bottom: 30px; }
  .layout-full-width-block__content .image-block {
    width: 40%; }

.layout-full-width-block__content--image-blocks .image-block {
  width: 50%; }
  .layout-full-width-block__content--image-blocks .image-block:first-child {
    margin-right: 30px; }

html,
body,
input {
  font-size: 1em;
  font-family: helvetica, sans-serif; }

body {
  padding: 0;
  margin: 0;
  background-color: #F6F6F6; }

.btn {
  padding: 15px;
  margin-right: 15px; }

.btn--image-block,
.btn--primary {
  color: #fff; }

.btn--primary {
  background-color: #C6002A; }

.btn--image-block {
  background-color: #000; }

.btn-bar {
  margin: 30px 0; }

.image-block {
  background-color: #C6002A; }

.image-block--sans-footer {
  background: transparent; }

.image-block__figure {
  margin: 0;
  position: relative; }

.image-block__image {
  width: 100%; }

.image-block__header-block {
  color: #fff;
  position: absolute;
  bottom: 0; }
  .image-block--sans-footer .image-block__header-block {
    bottom: 100px; }

.image-block--sans-footer .btn--image-block {
  position: absolute;
  bottom: 30px;
  margin: 0 30px; }

.image-block__header-block,
.image-block__footer {
  padding: 30px; }

.image-block__footer {
  margin: 30px 0; }

.link-box {
  padding: 30px;
  background-color: #fff; }

.link-box__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc; }

.link-box__item {
  width: 50%;
  flex: 1 0 auto;
  padding-left: 0;
  border-bottom: 1px solid #ccc; }

.link-box__link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 15px 15px 15px 20px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-image: url("../../../images/icons/ICON-Arrow-Right-Blue.svg");
  background-position: 0 50%; }

.top-bar__content,
.hero__content {
  display: flex;
  justify-content: space-between; }

.hero {
  background-image: url("../../../images/hero/1920.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px;
  position: relative; }

.hero:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - (1920px / 2));
  width: 100%;
  max-width: 1920px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4); }

.nav {
  display: flex; }

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100px; }

.nav__item {
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px; }
  .util-nav .nav__item:last-child {
    border-right: 0; }

.nav__link {
  text-decoration: none;
  font-weight: bold;
  color: #000; }

.logo {
  width: 163px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.logo__img {
  width: 100%;
  height: 100%; }

.header--hero {
  color: #fff;
  text-transform: uppercase;
  width: calc( 900px / 2);
  max-width: 80vw;
  position: relative;
  z-index: 5; }

.link-box {
  width: 60%;
  margin-right: 30px; }

/*# sourceMappingURL=style.css.map */