// avans
@import "variables";
@import "layout";
@import "typography";
@import "colors";
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

@import "../_patterns/02-molecules/image-block/image-block";
@import "../_patterns/03-organisms/link-box/link-box";
@import "../_patterns/04-templates/list-page/list-page";