/* file to normalize the styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff; }

a {
  text-decoration: none; }

/*
    breakpoints
*/
/*
  timing
*/
.testing, .hero-home {
  outline: 1px solid red; }
  .testing *, .hero-home * {
    outline: 1px solid green; }
    .testing * *, .hero-home * * {
      outline: 1px solid pink; }
      .testing * * *, .hero-home * * * {
        outline: 1px solid blue; }
        .testing * * * *, .hero-home * * * * {
          outline: 1px solid orange; }
          .testing * * * * *, .hero-home * * * * * {
            outline: 1px solid teal; }

/*
  mixins
  */
.blue-arrow, .link-block__text, .link-box__content, .nav__link--sub {
  background-repeat: no-repeat;
  background-image: url("../images/icons/ICON-Arrow-Right-Blue.svg");
  background-position: 0 50%; }

.gray-arrow {
  background-repeat: no-repeat;
  background-image: url("../images/icons/ICON-Arrow-Right-Gray.svg");
  background-position: 0 50%; }

.white-arrow {
  background-repeat: no-repeat;
  background-image: url("../images/icons/ICON-Arrow-Right-White.svg");
  background-position: 0 50%; }

.small-arrow, .widget__link--solo:before,
.widget__list-item:before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #00ACEB;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute; }

body {
  background-color: #fff;
  width: 100%;
  height: 100%; }

article,
aside,
body,
section {
  display: block; }

.hero,
.layout-full-width-block,
.top-bar {
  padding: 0 0.9375rem; }

.layout-full-width-block--content-page {
  padding: 0; }

.foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.foo li {
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  outline: 1px solid red; }

@media all and (max-width: 768px) {
  .foo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .foo li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; } }

@media all and (max-width: 768px) {
  .top-bar {
    padding: 0; } }

@media all and (min-width: 1200px) {
  .layout-full-width-block {
    padding: 0; } }

.hero__content,
.layout-full-width-block__content,
.top-bar__content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

.layout-full-width-block__content {
  position: relative; }
  .layout-full-width-block__content .image-block {
    width: 40%; }

@media all and (max-width: 1140px) and (min-width: 1200px) {
  .layout-full-width-block__content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }

.layout-full-width-block__content--image-blocks .image-block {
  width: 50%; }
  .layout-full-width-block__content--image-blocks .image-block:first-child {
    margin-right: 1.875rem; }

.content {
  padding-bottom: 2rem; }

.content-page {
  position: relative; }

@media all and (min-width: 1200px) {
  .layout-full-width-block--content-page {
    background: linear-gradient(90deg, #fff 0%, #fff calc( 50% + 293px), rgba(238, 238, 238, 0.5) calc( 50.01% + 293px), rgba(238, 238, 238, 0.5) 100%); } }

.content-page__aside-container,
.content-page__content,
.content-page__menu {
  padding: 1.875rem 0.9375rem 0.9375rem; }

.breakout-box {
  z-index: 5;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  background-color: #fff; }

@media all and (min-width: 1200px) {
  .content-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .content-page__menu {
    padding-left: 0; }
  .content-page__aside,
  .content-page__menu {
    width: 263px; }
  .content-page__content {
    width: 556px;
    margin-bottom: 1.875rem;
    padding-left: 0;
    padding-right: 0; }
    .content-page__content .breakout-box {
      width: calc(556px + 298px); }
  .breakout-box {
    padding: 1rem 0; }
    .content-page__content .breakout-box {
      padding-right: 1rem;
      background-color: #fff; }
  .content-page__menu {
    margin-right: 1.875rem; }
  .content-page__aside {
    margin-left: 1.875rem; } }

@media all and (max-width: 1200px) {
  .content-page__aside {
    background-color: rgba(238, 238, 238, 0.5); } }

@media all and (max-width: 1200px) and (min-width: 768px) {
  .content-page__aside-container,
  .content-page__content,
  .disclaimer__container,
  .header,
  .page-menu {
    max-width: 720px; }
  .content-page__aside-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .content-page__aside-container,
  .page-menu {
    margin: 0 auto; }
  .widget {
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem); }
  .widget:nth-child(even) {
    margin-left: 1.875rem; } }

@media all and (max-width: 1200px) and (min-width: 992px) {
  .page-footer__content,
  .top-bar__content {
    max-width: 960px; } }

@media all and (max-width: 992px) and (min-width: 768px) {
  .page-footer__content,
  .top-bar__content {
    max-width: 720px; } }

@media all and (min-width: 556px) {
  .content-page__content {
    min-width: 556px;
    margin: 0 auto; } }

/* Define a custom web font */
@font-face {
  font-family: "FrutigerLTW01-55Roman";
  src: url("../fonts/9b1fae67-8764-448a-a926-54b09bd0b06b.woff2") format("woff2"), url("../fonts/3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW01-56Italic";
  src: url("../fonts/a6f5a1fe-91d0-4bde-bf50-4fc4e2d24f7e.woff2") format("woff2"), url("../fonts/e2ade8a9-bd48-45e7-95e6-9dc917ba4f74.woff") format("woff"); }

@font-face {
  font-family: "Frutiger LT W01 65 Bold";
  src: url("../fonts/6e7f04cb-3b30-43a5-b79d-25b4c1178700.woff2") format("woff2"), url("../fonts/9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW01-75Black";
  src: url("../fonts/a11b4e58-71a2-4f70-bda7-242c1305efd0.woff2") format("woff2"), url("../fonts/70ad2f15-9e1e-4a42-8fdc-30327ef510c3.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW02-47LightCn";
  src: url("../fonts/710ce708-2f2b-4530-a455-a161ccf7b3d2.woff2") format("woff2"), url("../fonts/18e289e9-d1cf-49c2-9e2b-443f187c1f87.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW02-48LightCn";
  src: url("../fonts/2ae8be2a-ce37-4269-b6f3-a3434707f841.woff2") format("woff2"), url("../fonts/905db536-c069-4744-ae6f-6b3988ebaaed.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW02-57Condens";
  src: url("../fonts/6fe059b8-9cdc-4d35-ab14-8244f8ce6a90.woff2") format("woff2"), url("../fonts/ef9a4f38-e55d-40e8-aa22-b4510adec541.woff") format("woff"); }

@font-face {
  font-family: "FrutigerLTW02-77BlackCn";
  src: url("../fonts/a39aed4a-7c2e-43ba-a169-19a28c9bbf11.woff2") format("woff2"), url("../fonts/f3b37111-01e6-4bd9-98d0-c062e502de57.woff") format("woff"); }

@font-face {
  font-family: "LCD W01";
  src: url("../fonts/d9d7ff01-52cf-4a5f-abe5-709f42b301d1.woff2") format("woff2"), url("../fonts/ea447350-0184-4cd2-b9d1-1c0200254e09.woff") format("woff"); }

h1,
h2,
h3,
h4,
.content__header,
button,
legend,
.nav__link,
.header-font,
.paragraph--intro,
.page-menu-block__header,
.page-menu__link--active,
.schedule__header--head {
  font-weight: normal;
  font-family: "Frutiger LT W01 65 Bold", helvetica, sans-serif; }

body,
input,
.btn--filter,
.nav__link--sub,
.result-block__location {
  font-weight: normal;
  font-family: "FrutigerLTW01-55Roman", helvetica, sans-serif; }

html,
body,
input {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1em; }

.content__header {
  font-size: 2em; }

h2 {
  font-size: 1.5rem;
  margin: 0; }

p {
  line-height: 2rem; }

a {
  color: #000001; }

p a {
  text-decoration: underline; }

.input:not([type="checkbox"]) {
  padding: 1rem;
  margin: 1rem;
  width: calc(100% - 3rem);
  display: block;
  border-width: 0 0 1px 0;
  border-radius: 0; }

[type="search"] {
  -webkit-appearance: none; }

.btn {
  padding: 0.9375rem;
  margin-right: 0.9375rem;
  border: 0;
  font-size: 1rem; }

.btn--image-block,
.btn--primary {
  color: #ffffff; }

.btn--primary {
  background-color: #C6002A; }

.btn--image-block {
  background-color: #000001; }

.btn--hidden {
  position: absolute;
  left: -999em; }

@media all and (max-width: 320px) {
  .btn {
    width: 100%; }
  .btn + .btn {
    margin-top: 1rem; } }

.logo {
  width: 163px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.8125rem;
  margin-left: 0.9375rem; }

@media all and (max-width: 768px) {
  .logo {
    height: 60px;
    width: 122px;
    padding-top: 18px; }
  .logo__img {
    height: 36px;
    width: 122px; } }

.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0.875rem;
  font-size: 0.875rem; }

.filter__item:hover {
  color: #00ACEB; }

.input--filter {
  width: 20px;
  heigth: 20px;
  display: inline-block;
  margin: 0.1rem 0.875rem 0 0; }

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.page-header__switch {
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.9375rem;
  background-color: #999999; }

.page-header__switch + .page-header__switch {
  margin-left: 0.625rem; }

.page-header__switch--active,
.page-header__switch:hover,
.page-header__switch:focus {
  background-color: #00ACEB; }

.page-header__switch--full {
  background-image: url("../images/icons/page-header__switch--full.svg"); }

.page-header__switch--compact {
  background-image: url("../images/icons/page-header__switch--compact.svg"); }

.btn-bar {
  margin: 1.875rem 0; }

.result-block {
  list-style: none;
  border-bottom: #eeeeee 1px solid;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  max-width: 848px; }

.result-block__link {
  color: #000001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media all and (max-width: 320px) {
  .result-block__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .result-block__image-container {
    margin-bottom: 0.9375rem; } }

.result-block__link:hover .result-block__header {
  color: #00ACEB; }

.result-block__link:hover .result-block__location {
  text-decoration: none;
  color: #000001; }

.result-block__content-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 1.875rem; }

.result-block__image-container {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  position: relative;
  min-width: 220px;
  height: 147px;
  display: inline-block;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px; }

.result-block__link:hover .result-block__image-container:after {
  height: 147px; }

@media all and (max-width: 320px) {
  .result-block__image-container {
    -ms-flex-preferred-size: 147px;
        flex-basis: 147px; } }

@media all and (min-width: 1200px) {
  .result-block__image-container {
    min-width: 263px;
    height: 175px;
    -ms-flex-preferred-size: 263px;
        flex-basis: 263px; }
  .result-block__link:hover .result-block__image-container:after {
    height: 175px; } }

.result-block__image-container:after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 172, 235, 0.2);
  -webkit-transition: height 0.1s ease;
  transition: height 0.1s ease; }

.result-block__image {
  width: 100%;
  height: 100%; }

.result-block__header {
  margin-top: 0;
  font-size: 1.25rem;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease; }

.result-block__header:hover {
  text-decoration: underline; }

.result-block__location {
  font-size: 0.875rem;
  display: inline-block;
  padding-left: 1.5rem;
  margin-left: 1.25rem;
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon-locationMarker.svg");
  background-size: contain; }

@media all and (max-width: 768px) {
  .result-block__location {
    margin-left: 0;
    display: block;
    margin-top: 0.625rem; } }

.result-block__alert {
  font-size: .875rem; }

.alert__header {
  color: #C6002A;
  padding-right: 0.5rem; }

@media all and (max-width: 768px) {
  .result-block__content {
    display: none; } }

.avans-homepage .link-block {
  float: left;
  width: 50%; }

.link-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.link-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-bottom: 0.9375rem;
  max-width: calc(50% - (15px / 2)); }

.link-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #000001;
  background-color: #ccc; }

.link-block__text {
  padding: 0.9375rem 0.9375rem 0.9375rem 1.25rem;
  font-weight: 600;
  margin-left: 0.9375rem; }

.link-block__item:nth-child(odd) {
  margin-right: 0.9375rem; }

.link-block__item {
  padding-left: 0; }

.filters {
  border: 0;
  padding-left: 0; }

.filters__header {
  padding-top: 5px;
  display: block; }

.filters__list {
  padding-left: 0; }

.image-block {
  background-color: #C6002A; }

.image-block--sans-footer {
  background: transparent; }

.image-block__figure {
  margin: 0;
  position: relative; }

.image-block__image {
  width: 100%; }

.image-block__header-block {
  color: #ffffff;
  position: absolute;
  bottom: 0; }
  .image-block--sans-footer .image-block__header-block {
    bottom: 100px; }

.image-block--sans-footer .btn--image-block {
  position: absolute;
  bottom: 1.875rem;
  margin: 0 1.875rem; }

.image-block__header-block,
.image-block__footer {
  padding: 1.875rem; }

.image-block__footer {
  margin: 1.875rem 0; }

.js-open .top-search,
:target .top-search {
  width: calc(100% - 1rem);
  -webkit-transition: width .5s;
  transition: width .5s;
  background-color: #ffffff;
  height: auto; }

.js-open .search-link,
:target .search-link {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border-left: 1px solid #eeeeee;
  border-right: 0; }

.js-open .nav,
:target .nav {
  display: none; }

.input.input--search {
  margin-right: 0; }

@media all and (max-width: 768px) {
  .input.input--search {
    margin: 0.5rem 1rem; } }

.top-search__container {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.js-open .nav-link,
.top-search__button,
.top-search__label,
:target .nav-link {
  position: absolute;
  left: -999em; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__list {
  padding: 0;
  margin: 0; }

.pagination__item {
  list-style: none;
  display: inline-block; }

.pagination__link {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 0.4rem;
  margin-right: 0.625rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

@media all and (max-width: 320px) {
  .pagination__link {
    margin-right: 0.325rem; } }

.pagination__link,
.pagination__link--active.pagination__link--active:hover {
  background-color: #999999; }

.pagination__link--active,
.pagination__link:hover {
  background-color: #00ACEB; }

.pagination__link--next,
.pagination__link--previous {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 4rem;
  position: relative; }
  .pagination__link--next:before,
  .pagination__link--previous:before {
    content: "";
    text-indent: 0;
    display: block;
    position: absolute;
    top: 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    -webkit-transform-origin: center;
            transform-origin: center;
    border: 1px solid #ffffff;
    border-width: 1px 1px 0 0; }

.pagination__link--next:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0.425rem; }


.pagination__link--previous:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 0.825rem; }

.attention-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.attention-block {
  padding: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 355px; }

@media all and (max-width: 992px) {
  .attention-block--alpha {
    width: calc(100% - 2rem);
    margin: 1rem; } }

@media all and (max-width: 768px) {
  .attention-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .attention-block {
    width: calc(100% - 2rem);
    margin: 1rem; } }

.attention-block--alpha {
  background-color: #ffffff; }

.attention-block--beta {
  background-color: #F6F6F6; }

.attention-block--charlie {
  background-color: #000001;
  color: #ffffff; }
  .attention-block--charlie a {
    color: #ffffff; }

.attention-block + .attention-block {
  margin-left: 1.25rem; }

.widget {
  margin-bottom: 0.9375rem; }

.widget.links__list-block {
  padding: 0;
  margin: 0; }

.widget__content {
  font-size: 0.875rem; }

.widget__content,
.widget__link--solo {
  color: #999999; }

.widget__header,
.widget .links__header {
  border-bottom: 1px solid #eeeeee;
  color: #000001;
  padding: 0.9375rem 0;
  background-repeat: no-repeat;
  background-position: center right; }

.widget__header--apply {
  background-image: url(../images/icons/widgets/Icon-Aanmelden.svg); }

.widget__header--open {
  background-image: url(../images/icons/widgets/Icon-Open.svg); }

.widget__header--cijfers {
  background-image: url(../images/icons/widgets/Icon-StudieInCijfers.svg); }

.widget__header--duurzaam {
  background-image: url(../images/icons/widgets/Icon-Duurzaam.svg); }

.widget__paragraph,
.durability {
  margin-bottom: 0.9375rem; }

.btn--widget {
  width: 100%; }

.widget__list {
  list-style: none;
  padding-left: 0; }

.widget__link--solo,
.widget__list-item {
  position: relative;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border-bottom: 1px solid #eeeeee; }

.widget__link--solo:before,
.widget__list-item:before {
  top: 0.9375rem;
  left: 4px; }

.widget__list-item:before {
  border-color: #999999; }

.widget__link--solo:before {
  border-color: #00ACEB; }

.widget__list-link {
  color: #00ACEB; }

.durability {
  display: block; }

.star {
  fill: #ccc;
  display: inline-block; }

.star[data-rating="checked"] {
  fill: #000001; }

.tab__item {
  border: 1px solid #eeeeee;
  margin: 0 1rem -1px 0; }

.tab__link {
  color: #00ACEB;
  padding: 1rem;
  display: inline-block; }

@media (max-width: 768px) {
  .tab__item {
    display: block;
    margin-bottom: 0;
    border-bottom: 0; }
  .tab__item:last-child {
    border-bottom: 1px solid #eeeeee; } }

.tab__link:active {
  color: #000001; }

.tab__item--selected {
  border-bottom-color: #ffffff; }
  .tab__item--selected .tab__link {
    color: #000001; }

.link-box {
  padding: 1.875rem;
  background-color: #ffffff; }

.link-box--opleidingen {
  width: 748px;
  margin-right: 1.875rem;
  display: inline-block; }

@media all and (max-width: 992px) {
  .link-box--opleidingen {
    width: calc(100% - 2rem);
    margin: 1rem; } }

.link-box--top {
  width: 60%;
  margin-right: 1.875rem; }

@media all and (max-width: 768px) {
  .link-box--top {
    width: 100%; } }

.link-box--news {
  width: 50%;
  margin-left: 1.25rem; }

.link-box__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #ccc; }

.link-box__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-left: 0;
  border-bottom: 1px solid #ccc; }
  .col-2 .link-box__item {
    width: 50%; }

.link-box__link {
  text-decoration: none;
  color: #000001;
  display: block;
  padding: 0.9375rem 0 0; }

.link-box__content {
  padding: 0 0.9375rem 0 1.25rem;
  margin-left: 0.9375rem;
  margin-bottom: 0.9375rem; }

.link-box__date {
  display: block;
  padding: 0 0.9375rem 0.9375rem 1.875rem;
  color: #999999;
  font-weight: normal; }

/*
	for testing purposes
*/
/*
	/ end testing
*/
.page-footer {
  background-color: rgba(238, 238, 238, 0.5); }

.page-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #999999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.links__list-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

@media all and (min-width: 768px) {
  .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .links__list-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    margin-left: 0.9375rem; }
  .links__list-block:first-child {
    margin-left: 0; } }

.links__list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: .75rem; }

@media all and (max-width: 1200px) {
  .links__list-block {
    padding: 0 0.9375rem; }
    .nav .links__list-block {
      margin: 1.25rem 0; } }

.links__list--discover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-link__item {
  list-style: none;
  padding: 0 0.625rem 0.3125rem 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.footer-link__link {
  color: #999999;
  font-size: 0.8125rem;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease; }

.footer-link__link:hover {
  text-decoration: underline; }

.footer-link__item--discover {
  padding-left: 0.9375rem;
  position: relative;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }

.footer-link__item--discover .footer-link__link {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.footer-link__item--discover .footer-link__link:hover,
.footer-link__item--discover .footer-link__link:focus {
  color: #00ACEB; }

/*
	@#todo
	make mixin
	*/
.footer-link__item--discover:before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 1px solid #999999;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 2px;
  top: 7px; }

.footer-link__item--discover:hover:before,
.footer-link__item--discover:focus:before {
  border-color: #00ACEB; }

.footer-link__link--icon {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 3rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  position: relative; }

.footer-link__item--share {
  position: relative; }

.footer-link__item--share:after {
  content: '';
  width: 2.5rem;
  height: 0.125rem;
  position: absolute;
  z-index: 5;
  top: 2.4875rem;
  left: 0; }

.footer-link__item--linkedin:after {
  background-color: #0077B5; }

.footer-link__item--twitter:after {
  background-color: #1DA1F2; }

.footer-link__item--mail:after {
  background-color: #000001; }

.footer-link__item--facebook:after {
  background-color: #3B5998; }

@media all and (max-width: 320px) {
  .links__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.footer-link__link--mail {
  background-image: url("../images/icons/Icon-Social-Mail-White.svg"); }

.footer-link__link--mail:hover,
.footer-link__link--mail:focus {
  background-image: url("../images/icons/Icon-SocialHover-Mail.svg"); }

.footer-link__link--linkedin {
  background-image: url("../images/icons/Icon-Social-LinkedIn.svg"); }

.footer-link__link--linkedin:hover,
.footer-link__link--linkedin:focus {
  background-image: url("../images/icons/Icon-SocialHover-LinkedIn.svg"); }

.footer-link__link--snapchat {
  background-image: url("../images/icons/Icon-Social-Snapchat.svg"); }

.footer-link__link--snapchat:hover,
.footer-link__link--snapchat:focus {
  background-image: url("../images/icons/Icon-SocialHover-Snapchat.svg"); }

.footer-link__link--twitter {
  background-image: url("../images/icons/Icon-Social-Twitter.svg"); }

.footer-link__link--twitter:hover,
.footer-link__link--twitter:focus {
  background-image: url("../images/icons/Icon-SocialHover-Twitter.svg"); }

.footer-link__link--instagram {
  background-image: url("../images/icons/Icon-Social-Instagram.svg"); }

.footer-link__link--instagram:hover,
.footer-link__link--instagram:focus {
  background-image: url("../images/icons/Icon-SocialHover-Instagram.png"); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .footer-link__link--instagram:hover,
  .footer-link__link--instagram:focus {
    background-image: url("../images/icons/Icon-SocialHover-Instagram@2x.png");
    background-size: contain; } }

.footer-link__link--youtube {
  background-image: url("../images/icons/Icon-Social-YouTube.svg"); }

.footer-link__link--youtube:hover,
.footer-link__link--youtube:focus {
  background-image: url("../images/icons/Icon-SocialHover-YouTube.svg"); }

.footer-link__link--facebook {
  background-image: url("../images/icons/Icon-Social-Facebook.svg"); }

.footer-link__link--facebook:hover,
.footer-link__link--facebook:focus {
  background-image: url("../images/icons/Icon-SocialHover-Facebook.svg"); }

.links__header {
  color: #999999;
  margin: 1.3rem 0 0; }
  .nav .links__header {
    display: none; }

@media all and (max-width: 992px) and (min-width: 768px) {
  .links__header {
    font-size: .9rem; } }

.disclaimer {
  display: block;
  background-color: #000001;
  color: #999999;
  padding: 1rem 0;
  font-size: 0.8125rem; }

@media all and (max-width: 768px) {
  .disclaimer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.25rem;
    text-align: left; } }

@media all and (min-width: 768px) {
  .disclaimer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media all and (max-width: 1200px) {
  .disclaimer__container {
    padding: 1.25rem; } }

@media all and (min-width: 1200px) {
  .disclaimer__container {
    max-width: 1140px; } }

.disclaimer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-footer__logo {
  width: 125px;
  height: 36px; }

@media all and (max-width: 540px) {
  .disclaimer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .disclaimer__link {
    padding-top: 0.9375rem;
    display: inline-block; }
  .page-footer__logo {
    margin-top: 1.25rem; } }

.disclaimer__link {
  color: #999999;
  margin-right: .5rem;
  text-decoration: underline; }

.disclaimer__link:hover {
  color: #ffffff; }

.page__header {
  position: relative;
  z-index: 25;
  border-top: 5px solid #C6002A;
  border-bottom: 1px solid #eeeeee; }

.top-bar {
  background-color: #ffffff; }

.top-bar__container,
.top-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-bar__container {
  width: calc(100% - 163px); }

.skip-link {
  width: 3.8125rem;
  height: 6.3rem;
  text-indent: 6rem;
  padding-top: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3125rem;
  display: inline-block;
  border-right: 1px solid #eeeeee; }

.nav.js-open .skip-link,
.nav:target .skip-link {
  position: absolute;
  top: -6rem;
  left: 1rem;
  z-index: 5;
  height: 6rem;
  background-color: #ffffff; }

@media all and (min-width: 992px) {
  .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav .skip-link {
    display: none; }
  .nav-link {
    display: none; } }

.nav-link {
  background-image: url("../images/icons/nav-icon.svg");
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  text-indent: 0;
  text-align: center;
  padding-top: 4rem;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #999999;
  font-size: .675rem;
  overflow: visible;
  width: 6rem;
  text-transform: uppercase;
  background-size: 30px 19px; }

.nav-link.clicked {
  background-image: url("../images/icons/close-search-icon.svg");
  text-indent: 6rem;
  overflow: hidden; }

.nav-link.clicked:hover {
  background-image: url("../images/icons/close-search-icon-blue.svg"); }

.nav-link:hover {
  background-image: url("../images/icons/nav-icon-blue.svg");
  color: #00ACEB; }

@media all and (max-width: 768px) {
  .skip-link {
    width: 4.375rem;
    height: 4.375rem;
    padding-top: 3rem; } }

.search-link {
  background-image: url("../images/icons/search-icon.svg"); }

.search-link:hover {
  background-image: url("../images/icons/search-icon-blue.svg"); }

@media all and (min-width: 992px) {
  .search-link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  :target .search-link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    border-right: 0;
    border-left: 1px solid #ccc; }
  .js-open .input--search,
  :target .input--search {
    max-width: 37.5rem; }
  :target .close-icon {
    border-right: 1px solid #ccc; } }

.close-icon {
  background-image: url("../images/icons/close-search-icon.svg"); }

.nav,
.top-search {
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s easein;
  transition: width 0.2s easein; }

@media all and (min-width: 992px) {
  .nav {
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.active-filters__list {
  border: 1px solid #eeeeee;
  border-width: 1px 0;
  padding: .625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0; }

.active-filters__label {
  padding-top: .625rem;
  margin-right: 1rem; }

.active-filters__item {
  margin: 0; }

.btn--filter {
  border-radius: 30px;
  background-color: #eeeeee;
  position: relative;
  padding: .625rem 2.5rem .625rem 1rem; }

.btn--filter:after {
  content: 'x';
  color: #999999;
  position: absolute;
  right: .8rem;
  top: .2rem;
  font-size: 1.5rem; }

.schedule {
  border-collapse: collapse;
  width: 100%; }

.schedule__header,
.schedule__slot {
  padding: 0.3125rem 0;
  border-bottom: 1px solid #eee; }

.schedule__header {
  text-align: left; }

.schedule__header--head {
  text-transform: uppercase;
  color: #999;
  font-size: 0.75rem;
  border-top: 0; }

.schedule__header--line {
  width: 50%;
  min-width: 400px;
  font-weight: normal; }

.schedule__header--line,
.schedule__slot {
  font-size: 0.875rem; }

.schedule__slot--active .schedule__slot-content {
  background-color: #999;
  display: block;
  margin: 0.5rem 0;
  color: #999; }

@media all and (max-width: 768px) {
  .schedule {
    position: relative; }
  .schedule__row--head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc; }
  .schedule__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .schedule__header,
  .schedule__slot {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }
  .schedule__header--head:first-of-type,
  .schedule__header--line {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

/* css */
.result__list {
  padding-left: 0; }

@media all and (max-width: 992px) {
  .nav.js-open,
  .nav:target {
    width: 100%;
    overflow: auto;
    height: 100vh;
    min-height: calc(100vh - 100px);
    position: absolute;
    z-index: 20;
    top: 100px;
    left: 0;
    margin-left: 0; } }

@media all and (max-width: 768px) {
  .nav.js-open,
  .nav:target {
    top: 70px;
    min-height: calc(100vh - 70px); } }

.nav {
  height: 0;
  min-height: 0;
  margin-left: -0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.98); }

@media all and (max-width: 768px) {
  .nav {
    margin-left: 0; }
  .nav__list {
    margin: 0.9375rem; } }

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0 0.9375rem; }
  .nav__list .nav__list {
    margin: -0.9375rem;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-top: 0; }

@media all and (max-width: 992px) {
  .nav__list {
    border-top: 1px solid #eeeeee;
    max-width: 720px;
    width: 100%;
    margin: 0 auto; } }

@media all and (min-width: 992px) {
  .nav__list {
    margin: 0; }
  .nav .links__list-block {
    display: none; } }

.nav__item {
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 1.25rem; }

@media all and (min-width: 992px) {
  .nav__item:first-child {
    padding-left: 0.9375rem; } }

@media all and (max-width: 768px) {
  .nav__item--sub {
    padding-left: 1.75rem; } }

.nav__item--sub {
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 0; }

.nav__link,
.nav__link--active .nav__link--sub,
.nav__link--sub {
  color: #999999; }

.nav__link {
  text-decoration: none;
  padding: 0.9375rem 0; }

@media all and (max-width: 992px) {
  .nav__link--sub.nav__link--active {
    color: #000001; } }

.nav__link--active {
  color: #000001; }

.nav__link--sub {
  padding-left: 0.9375rem;
  font-weight: normal; }

@media all and (min-width: 992px) {
  .nav {
    height: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    overflow: visible; }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .nav__item {
    border-bottom: 0; }
  .nav__sub {
    width: auto;
    background-color: #00ACEB;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -999em; }
  .nav__item--has-sub:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid #999999;
    border-width: 0 1px 1px 0;
    position: absolute;
    left: calc(50% - 5px);
    bottom: 24px; }
  .nav__sub--opened:before {
    border-color: #000001; }
  .nav__item--has-sub:hover:before {
    border-color: #00ACEB; }
  .nav__item--has-sub:hover:after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #00ACEB;
    position: absolute;
    left: calc(50% - 11px);
    bottom: -5px; }
  .nav__sub-opener {
    display: none; }
  .nav__item--top-level {
    border-right: 1px solid #eeeeee; }
  .nav__item--top-level:hover > .nav__link {
    color: #00ACEB; }
  .nav__item:focus .nav__sub,
  .nav__item:hover .nav__sub {
    left: 0;
    margin-top: 2px;
    padding: 1.25rem 0; }
  .nav__item--sub {
    margin: 0 1.25rem;
    padding: 0 0.9375rem; }
  .nav__item--sub:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35); }
  .nav__link--sub {
    color: #ffffff;
    background-image: url("../images/icons/ICON-Arrow-Right-White.svg");
    white-space: nowrap; }
  .nav__link--sub:hover {
    text-decoration: underline; } }

.nav__sub {
  height: auto; }

.nav__item:focus .nav_sub,
.nav__item:hover .nav_sub {
  height: auto; }

@media all and (max-width: 992px) {
  .nav__item--has-sub .nav__sub {
    display: none; }
  .nav__sub--opened .nav__sub {
    display: block; }
  .nav__item--top-level {
    position: relative; }
  .nav__sub-opener {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 4rem;
    text-indent: 5rem;
    white-space: nowrap;
    overflow: hidden; }
  .nav__sub-opener:after {
    content: '';
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 4px);
    width: 9px;
    height: 9px;
    border: 1px solid #333;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top 0.5s ease, -webkit-transform 0.5s ease;
    transition: top 0.5s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, top 0.5s ease;
    transition: transform 0.5s ease, top 0.5s ease, -webkit-transform 0.5s ease; }
  .nav__sub--opened .nav__sub-opener:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 50%; } }

.submenu {
  border-bottom: 1px solid #eeeeee; }
  .submenu .layout-full-width-block__content {
    margin-bottom: 0; }

.submenu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.submenu__item {
  display: inline-block; }

.submenu__link {
  color: #999999;
  display: block;
  padding: 1rem 1rem 1rem 0;
  font-size: .875rem; }

.submenu__link--active {
  color: #000001; }

.submenu__link:hover {
  color: #00ACEB;
  text-decoration: underline; }

@media all and (max-width: 992px) {
  .submenu {
    display: none; } }

/*
dkdkd
*/
.page-menu-block__header {
  font-size: 0.75rem;
  text-transform: uppercase; }

.page-menu__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem; }

.page-menu__item {
  border-top: 1px solid #eeeeee;
  padding: 0.9375rem 0 0.9375rem 1.875rem;
  position: relative; }

.page-menu__item:before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #00ACEB;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 23px;
  left: 8px; }

.page-menu__item:last-child {
  border-bottom: 1px solid #eeeeee; }

.page-menu__link {
  font-size: 0.875rem;
  color: #999999; }

.page-menu__link--active {
  color: #000001; }

.page-menu__link:hover {
  color: #00ACEB; }

.page-menu {
  position: relative; }

.page-menu .btn,
.page-menu .close-icon {
  display: none; }

@media all and (max-width: 1200px) {
  .page-menu__container {
    width: 100vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    height: 0;
    left: -999em; }
    .page-menu__container.js-open,
    :target .page-menu__container {
      left: 0;
      height: auto;
      margin-top: 1rem;
      border-top: 1px solid #eeeeee;
      z-index: 0; }
  .nav-link.clicked {
    text-indent: 0; }
  .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid #eeeeee;
    border-width: 1px 0;
    padding-top: 0; }
    .page-menu .btn,
    .page-menu .close-icon {
      display: inline-block;
      max-height: 3rem; }
    .page-menu .close-icon {
      position: absolute;
      left: 0;
      top: -4rem;
      border-right: 0;
      visibility: hidden; }
    .page-menu .btn {
      position: absolute;
      right: 0;
      top: 1rem;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .page-menu .nav-link {
      width: auto;
      height: 4.3rem;
      padding-top: 1.5rem;
      text-transform: none;
      font-size: 1rem;
      padding-left: 3rem;
      background-position: 1rem;
      border-right: none; }
    .page-menu .nav-link:after {
      content: '';
      border: 1px solid #00ACEB;
      width: 9px;
      height: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      display: inline-block;
      margin-left: 1rem;
      border-width: 0 1px 1px 0; }
    .page-menu .clicked:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .page-menu .skip-link {
      background-size: 1rem; } }

.page-menu--clone .btn--primary,
.page-menu--clone .skip-link {
  display: none; }

.page-menu--clone .page-menu__container {
  left: 0;
  height: auto; }

@media all and (min-width: 1200px) {
  .page-menu--clone {
    display: none; } }

.filter__button {
  padding: .625rem 1.5rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../images/icons/Icon-Filter.svg");
  position: relative;
  display: inline-block;
  color: #00ACEB; }

.filter__button:after {
  content: '';
  position: absolute;
  top: .625rem;
  right: 0;
  display: block;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #00ACEB;
  border-width: 0 1px 1px 0; }

.filter__button--hide:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

@media all and (max-width: 992px) {
  .filter-block__container,
  .filter__button--hide {
    position: absolute;
    left: -999em; }
  :target .filter-block__container,
  :target .filter__button--hide {
    left: 0;
    position: relative; }
  :target .filter__button--show {
    display: none; }
  .filter-block__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%; } }

.hero {
  height: 300px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden; }
  @media all and (min-width: 768px) {
    .hero {
      background-position: center -100px; } }
  @media all and (min-width: 992px) {
    .hero {
      background-position: center -180px; } }
  @media all and (min-width: 1200px) {
    .hero {
      background-position: center -240px; } }

.hero:not(.hero--simple) {
  background-color: #C6002A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.hero__content {
  padding: 0 1.25rem;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10; }

.hero:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.6) 100%); }

.hero__image {
  width: 1920px;
  height: 660px;
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px); }

.header--hero {
  color: #ffffff;
  position: relative;
  z-index: 15;
  margin: 0 auto;
  position: absolute;
  bottom: 1rem;
  left: 0; }

.header--hero:after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hero--simple {
  max-height: 150px;
  background-color: rgba(238, 238, 238, 0.5);
  max-width: 100%; }
  .hero--simple .header--hero {
    color: #000001; }

.hero--pattern {
  background-image: url("../images/hero-simple-bg.png");
  background-repeat: repeat; }

.hero--simple:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0)), to(#f6f6f6));
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 0%, #f6f6f6 100%); }

:root {
  --min-height: 348px;
  --min-width: calc(--min-height * 1.5); }

.hero-home {
  height: var(--min-height);
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.hero-home__content {
  position: absolute;
  top: 150px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.header--hero-home {
  max-width: 1140px;
  margin: 0 auto; }

.header--hero-home .header__text {
  color: #ffffff;
  max-width: 500px;
  text-transform: uppercase; }
  .header--hero-home .header__text:after {
    content: var(--min-height); }

.hero-home__image {
  width: 100%;
  min-width: var(--min-width);
  max-width: 1920px; }

@media all and (min-width: 540px) and (max-width: 992px) {
  :root {
    --min-height: 496px;
    --min-width: calc(--min-height * 1.5); } }

@media all and (min-width: 992px) {
  :root {
    --min-height: 600px;
    --min-width: calc(--min-height * 1.5); }
  .hero-home__image {
    margin-top: -50px; } }

.tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #eeeeee;
  padding-left: 0; }

@media (max-width: 768px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  [role="tablist"] a,
  [role="tablist"] li {
    display: block;
    position: static; }
  [role="tablist"] [aria-selected] {
    position: static; } }

.vertical-hero {
  background-color: #C6002A; }

@media all and (min-width: 992px) {
  .vertical-hero {
    min-width: 750px;
    height: 100vh;
    max-height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    padding: 1.25rem; } }

/* templates */
.resultpage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.resultpage__list {
  margin-top: 2rem;
  margin-bottom: 2rem; }

@media all and (min-width: 992px) {
  .resultpage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .active-filters__container,
  .resultpage__footer,
  .resultpage__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-left: 263px; }
  .resultpage__header {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .active-filters__container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .filter__button {
    display: none; }
  .resultpage__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 263px;
            flex: 0 1 263px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -3rem; }
  .resultpage__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .resultpage__footer {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  @supports (display: grid) {
    .resultpage__list {
      width: 100%;
      height: 100%;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 263px calc(100% - 283px);
      grid-template-rows: 50px 100px calc(100% - 300px) 100px;
      grid-template-areas: ". header " "aside sub-header" "aside content" ". footer"; }
    .active-filters__container,
    .resultpage__footer,
    .resultpage__header {
      padding-left: 0; }
    .resultpage__header {
      grid-area: header;
      -ms-grid-row: 1;
      -ms-grid-column: 2; }
    .active-filters__container {
      grid-area: sub-header;
      -ms-grid-row: 2;
      -ms-grid-column: 2; }
    .resultpage__aside {
      grid-area: aside;
      margin-top: 0;
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-row-span: 2; }
    .resultpage__content {
      grid-area: content;
      -ms-grid-row: 3;
      -ms-grid-column: 2; }
    .resultpage__footer {
      grid-area: footer;
      -ms-grid-row: 4;
      -ms-grid-column: 2; } } }

@media all and (max-width: 992px) {
  .filter__button {
    display: inline-block; }
  .resultpage__filters {
    -webkit-column-count: 2;
            column-count: 2;
    display: none; }
  .resultpage__filters:target {
    display: block; }
  .filter__header {
    -webkit-column-span: all;
            column-span: all; } }

/*
	testing
*/
.avans-homepage .main-content {
  margin-top: -100px; }

@media all and (max-width: 768px) {
  .layout-full-width-block__content--intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-content .fooBar {
    outline: 1px dotted red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .main-content .fooBar .image-block__header-block {
      right: -110%;
      bottom: initial;
      top: 5%; }
  .link-block__item {
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0; }
  .link-block__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .link-block__text {
    width: 50%; }
  .link-block__item:nth-child(odd) {
    margin-right: 0; } }

.layout-full-width-block__content--subhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.subhome__content:nth-child(even) {
  background-color: #F6F6F6; }

.subhome__content {
  margin-bottom: 1rem; }

@media all and (min-width: 992px) {
  .subhome__content:nth-child(even) {
    padding: 4rem 0; }
    .subhome__content:nth-child(even) .layout-full-width-block__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .subhome__content--top .vertical-hero {
    outline: 1px solid red; }
  .layout-full-width-block__content--subhome .content {
    max-width: 750px; }
  .layout-full-width-block__content--subhome .vertical-hero {
    margin-left: -375px;
    margin-right: 20px; } }

@media all and (max-width: 992px) {
  .subhome__content:nth-child(1) .layout-full-width-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .subhome__content--top .vertical-hero {
    outline: 1px solid green;
    margin: 0 -1rem;
    height: 300px; }
  .layout-full-width-block__content--subhome .content {
    max-width: 100%; } }
/*# sourceMappingURL=style.css.map */