/* file to normalize the styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

a {
  text-decoration: none; }

input[type='search']::-webkit-search-cancel-button {
  display: none; }

/*
	spacings
*/
/*
	font-sizes
*/
/*
    breakpoints
*/
/*
  timing
*/
.testing, .hero-home {
  outline: 1px solid red; }
  .testing *, .hero-home * {
    outline: 1px solid green; }
    .testing * *, .hero-home * * {
      outline: 1px solid pink; }
      .testing * * *, .hero-home * * * {
        outline: 1px solid blue; }
        .testing * * * *, .hero-home * * * * {
          outline: 1px solid orange; }
          .testing * * * * *, .hero-home * * * * * {
            outline: 1px solid teal; }

/*
  mixins
  */
.blue-arrow, .link-block__text, .link-box__content, .nav__link--sub {
  background-image: url("../images/icons/ICON-Arrow-Right-Blue.svg");
  background-repeat: no-repeat;
  background-position: 0 50%; }

.gray-arrow {
  background-image: url("../images/icons/ICON-Arrow-Right-Gray.svg");
  background-repeat: no-repeat;
  background-position: 0 50%; }

.white-arrow {
  background-image: url("../images/icons/ICON-Arrow-Right-White.svg");
  background-repeat: no-repeat;
  background-position: 0 50%; }

.small-arrow, .widget__link--solo:before,
.widget__list-item:before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #00aceb;
  border-width: 1px 1px 0 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #fff; }

article,
aside,
body,
section {
  display: block; }

.hero,
.layout-full-width-block,
.top-bar {
  padding: 0 0.9375rem; }

.layout-full-width-block--content-page {
  padding: 0; }

@media all and (max-width: 768px) {
  .top-bar {
    padding: 0; } }

@media all and (min-width: 1200px) {
  .layout-full-width-block {
    padding: 0; } }

.hero__content,
.layout-full-width-block__content,
.top-bar__content,
.submenu__list,
.hero__content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.layout-full-width-block__content {
  position: relative; }
  .layout-full-width-block__content .image-block {
    width: 40%; }

@media all and (max-width: 1140px) and (min-width: 1200px) {
  .layout-full-width-block__content {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }

.layout-full-width-block__content--image-blocks .image-block {
  width: 50%; }
  .layout-full-width-block__content--image-blocks .image-block:first-child {
    margin-right: 1.875rem; }

.content {
  padding-bottom: 2rem; }

.content-page {
  position: relative; }

@media all and (min-width: 1200px) {
  .layout-full-width-block--content-page {
    position: relative; }
    .layout-full-width-block--content-page:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: calc( 50.01% + 293px);
      content: '';
      background-color: rgba(238, 238, 238, 0.5); } }

.content-page__aside-container,
.content-page__content,
.content-page__menu {
  padding: 1.875rem 0.9375rem 0.9375rem; }

.breakout-box {
  z-index: 5;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  background-color: #fff; }

@media all and (min-width: 1200px) {
  .content-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .content-page__menu {
    padding-left: 0; }
  .content-page__aside,
  .content-page__menu {
    width: 263px; }
  .content-page__content {
    width: 556px;
    margin-bottom: 1.875rem;
    padding-right: 0;
    padding-left: 0; }
    .content-page__content .breakout-box {
      width: calc(556px + 298px); }
  .breakout-box {
    padding: 1rem 0; }
    .content-page__content .breakout-box {
      padding-right: 1rem;
      background-color: #fff; }
  .content-page__menu {
    margin-right: 1.875rem; }
  .content-page__aside {
    margin-left: 1.875rem; } }

@media all and (max-width: 1200px) {
  .content-page__aside {
    background-color: rgba(238, 238, 238, 0.5); } }

@media all and (max-width: 1200px) and (min-width: 768px) {
  .content-page__aside-container,
  .content-page__content,
  .disclaimer__container,
  .header,
  .page-menu,
  .resultpage__content,
  .resultpage__header,
  .resultpage__aside,
  .active-filters__container,
  .resultpage__footer {
    max-width: 720px; }
  .content-page__aside-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .content-page__aside-container,
  .page-menu,
  .resultpage__content,
  .resultpage__header,
  .resultpage__aside,
  .active-filters__container,
  .resultpage__footer {
    margin: 0 auto; }
  .widget {
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem); }
  .widget:nth-child(even) {
    margin-left: 1.875rem; } }

@media all and (max-width: 1200px) and (min-width: 992px) {
  .page-footer__content,
  .top-bar__content,
  .hero__content,
  .submenu__list {
    max-width: 960px; } }

@media all and (max-width: 992px) and (min-width: 768px) {
  .page-footer__content,
  .hero__content,
  .top-bar__content {
    max-width: 720px; } }

@media all and (min-width: 556px) {
  .content-page__content {
    min-width: 556px;
    margin: 0 auto; } }

h1,
h2,
h3,
h4,
.content__header,
button,
legend,
.nav__link,
.header-font,
.paragraph--intro,
.page-menu-block__header,
.page-menu__link--active,
.schedule__header--head {
  font-family: 'Frutiger LT W01_65 Bold1475746', helvetica, sans-serif;
  font-weight: normal; }

body,
input,
.btn--filter,
.nav__link--sub,
.result-block__location {
  font-family: 'Frutiger LT W01_55 Roma1475738', helvetica, sans-serif;
  font-weight: normal; }

.main-content p {
  font-family: 'Frutiger LT W01_45 Ligh1475730', helvetica, sans-serif; }

html,
body,
input {
  font-size: 1em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.content__header {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem;
  margin: 0; }

p {
  line-height: 2rem; }

a {
  color: #000001; }

p a {
  text-decoration: underline; }

.input:not([type='checkbox']) {
  display: block;
  width: calc(100% - 3rem);
  margin: 1rem;
  padding: 1rem;
  border-width: 0 0 1px 0;
  border-radius: 0; }

[type='search'] {
  -webkit-appearance: none; }

.btn {
  font-size: 1rem;
  margin-right: 0.9375rem;
  padding: 0.9375rem;
  border: 0; }

.btn--image-block,
.btn--primary {
  color: #fff; }

.btn--primary {
  background-color: #c6002a; }

.btn--open-dag,
.btn--image-block {
  background-color: #000001; }

.btn--open-dag {
  display: inline-block; }

.btn--hidden {
  position: absolute;
  left: -999em; }

.btn--widget {
  width: 100%; }

a.btn--widget {
  display: block;
  text-align: center; }

@media all and (max-width: 320px) {
  .btn {
    width: 100%; }
  .btn + .btn {
    margin-top: 1rem; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 163px;
  height: 100px;
  margin-left: 0.9375rem;
  padding-top: 1.8125rem;
  -webkit-transition: width .5s ease;
  transition: width .5s ease; }

@media all and (max-width: 768px) {
  .logo {
    width: 122px;
    height: 60px;
    padding-top: 18px; }
  .logo__img {
    width: 122px;
    height: 36px; } }

.filter__item {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0.875rem 0; }

.filter__item:hover {
  color: #00aceb; }

.input--filter {
  display: inline-block;
  margin: 0.1rem 0.875rem 0 0; }

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.page-header__switch {
  overflow: hidden;
  width: 1.875rem;
  height: 1.875rem;
  white-space: nowrap;
  text-indent: 4rem;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.9375rem; }

.page-header__switch + .page-header__switch {
  margin-left: 0.625rem; }

.page-header__switch--active,
.page-header__switch:hover,
.page-header__switch:focus {
  background-color: #00aceb; }

.page-header__switch--full {
  background-image: url("../images/icons/page-header__switch--full.svg"); }

.page-header__switch--compact {
  background-image: url("../images/icons/page-header__switch--compact.svg"); }

.btn-bar {
  margin: 1.875rem 0; }

.result-block {
  max-width: 848px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  list-style: none;
  border-bottom: #eee 1px solid; }

@media all and (max-width: 768px) {
  .result-block {
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
  .result-block__header {
    margin-bottom: 0.9375rem; } }

@media all and (max-width: 540px) {
  .result-block {
    padding-bottom: .5rem; } }

.result-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000001; }

@media all and (max-width: 320px) {
  .result-block__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .result-block__image-container {
    margin-bottom: 0.9375rem; } }

.result-block__link:hover .result-block__header {
  color: #00aceb; }

.result-block__link:hover .result-block__location {
  text-decoration: none;
  color: #000001; }

.result-block__content-container {
  margin-left: 1.875rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

@media all and (max-width: 320px) {
  .result-block__content-container {
    margin-left: 0; } }

.result-block__image-container {
  position: relative;
  display: inline-block;
  width: 30%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.result-block__content-container {
  width: 70%; }

.result-block__link:hover .result-block__image-container:after {
  height: 100%; }

@media all and (max-width: 320px) {
  .result-block__image-container {
    width: 100%;
    height: auto; } }

@media all and (min-width: 1200px) {
  .result-block__image-container {
    min-width: 263px; } }

.result-block__image-container:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  content: ''; }
  @media all and (min-width: 1200px) {
    .result-block__image-container:after {
      -webkit-transition: background-color 2s ease;
      transition: background-color 2s ease;
      background-color: rgba(0, 172, 235, 0.2); } }

.result-block__image {
  width: 100%; }

.result-block__header {
  font-size: 1.25rem;
  margin-top: 0;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease; }

.result-block__header:hover {
  text-decoration: underline; }

.result-block__location {
  display: inline-block;
  margin-left: 1.25rem;
  padding-left: 1.5rem;
  background-image: url("../images/icons/icon-locationMarker.svg");
  background-repeat: no-repeat;
  background-size: contain; }

@media all and (max-width: 768px) {
  .result-block__location {
    display: block;
    margin-top: 0.625rem;
    margin-left: 0; } }

.result-block__location,
.result-block__alert {
  font-size: 0.875rem; }

.alert__header {
  padding-right: .5rem;
  color: #c6002a; }

@media all and (max-width: 768px) {
  .result-block__content {
    display: none; } }

.avans-homepage .link-block {
  float: left;
  width: 50%; }

.link-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.link-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: calc(50% - (15px / 2));
  padding-bottom: 0.9375rem; }

.link-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #000001;
  background-color: #ccc; }

.link-block__text {
  font-weight: 600;
  margin-left: 0.9375rem;
  padding: 0.9375rem 0.9375rem 0.9375rem 1.25rem; }

.link-block__item:nth-child(odd) {
  margin-right: 0.9375rem; }

.link-block__item {
  padding-left: 0; }

.filters {
  margin: 0;
  padding: 0;
  border: 0; }

.filters__header {
  display: block;
  padding-top: 5px; }

.filters__list {
  padding-left: 0; }

.image-block {
  background-color: #c6002a; }

.image-block--sans-footer {
  background: transparent; }

.image-block__figure {
  position: relative;
  margin: 0; }

.image-block__image {
  width: 100%; }

.image-block__header-block {
  position: absolute;
  bottom: 0;
  color: #fff; }
  .image-block--sans-footer .image-block__header-block {
    bottom: 100px; }

.image-block--sans-footer .btn--image-block {
  position: absolute;
  bottom: 1.875rem;
  margin: 0 1.875rem; }

.image-block__header-block,
.image-block__footer {
  padding: 1.875rem; }

.image-block__footer {
  margin: 1.875rem 0; }

.js-open .top-search,
:target .top-search {
  width: calc(100% - 1rem);
  height: auto;
  -webkit-transition: width .5s;
  transition: width .5s;
  background-color: #fff; }

.js-open .search-link,
:target .search-link {
  border-right: 0;
  border-left: 1px solid #eee;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.js-open .nav,
:target .nav {
  display: none; }

.input.input--search {
  margin-right: 0; }

@media all and (max-width: 768px) {
  .input.input--search {
    margin: .5rem 1rem; } }

.top-search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #fff; }

.js-open .nav-link,
.top-search__button,
.top-search__label,
:target .nav-link {
  position: absolute;
  left: -999em; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__list {
  margin: 0;
  padding: 0; }

.pagination__item {
  display: inline-block;
  list-style: none; }

.pagination__link {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: .625rem;
  padding-top: .4rem;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  text-align: center;
  color: #fff; }

@media all and (max-width: 320px) {
  .pagination__link {
    margin-right: .325rem; } }

.pagination__link,
.pagination__link--active.pagination__link--active:hover {
  background-color: #999; }

.pagination__link--active,
.pagination__link:hover {
  background-color: #00aceb; }

.pagination__link--next,
.pagination__link--previous {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 4rem; }
  .pagination__link--next:before,
  .pagination__link--previous:before {
    position: absolute;
    top: .625rem;
    display: block;
    width: .625rem;
    height: .625rem;
    content: '';
    -webkit-transform-origin: center;
            transform-origin: center;
    text-indent: 0;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0; }

.pagination__link--next:before {
  left: .425rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.pagination__link--previous:before {
  left: .825rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.attention-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.attention-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 355px;
  padding: 1.25rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

@media all and (max-width: 992px) {
  .attention-block--alpha {
    width: calc(100% - 2rem);
    margin: 1rem; } }

@media all and (max-width: 768px) {
  .attention-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .attention-block {
    width: calc(100% - 2rem);
    margin: 1rem; } }

.attention-block--alpha {
  background-color: #fff; }

.attention-block--beta {
  background-color: #f6f6f6; }

.attention-block--charlie {
  color: #fff;
  background-color: #000001; }
  .attention-block--charlie a {
    color: #fff; }

.attention-block + .attention-block {
  margin-left: 1.25rem; }

.widget {
  margin-bottom: 0.9375rem; }

.widget.links__list-block {
  margin: 0;
  padding: 0; }

.widget__content {
  font-size: .875rem; }

.widget__content,
.widget__link--solo {
  color: #999; }

.widget .links__header,
.widget__header {
  position: relative;
  padding: 0.9375rem 0;
  color: #000001;
  border-bottom: 1px solid #eee;
  background-repeat: no-repeat;
  background-position: center right; }

.widget__header:after {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  content: '';
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain; }

@media all and (min-width: 1200px) {
  .widget__header:after {
    right: 0; } }

@media all and (max-width: 540px) {
  .widget__header:after {
    right: 0; } }

.widget__header--apply:after {
  background-image: url("../images/icons/widgets/Icon-Aanmelden.svg"); }

.widget__header--open:after {
  width: 2rem;
  background-image: url("../images/icons/widgets/Icon-Open.svg"); }

.widget__header--cijfers:after {
  background-image: url("../images/icons/widgets/Icon-StudieInCijfers.svg"); }

.widget__header--duurzaam:after {
  background-image: url("../images/icons/widgets/Icon-Duurzaam.svg"); }

.durability,
.widget__paragraph {
  margin-bottom: 0.9375rem; }

.widget__list {
  padding-left: 0;
  list-style: none; }

.widget__link--solo,
.widget__list-item {
  position: relative;
  padding: 0.625rem 0 0.625rem 1.25rem;
  border-bottom: 1px solid #eee; }

.widget__link--solo:before,
.widget__list-item:before {
  top: 0.9375rem;
  left: 4px; }

.widget__list-item:before {
  border-color: #999; }

.widget__link--solo:before {
  border-color: #00aceb; }

.widget__list-link {
  color: #00aceb; }

.durability {
  display: block; }

.star {
  display: inline-block;
  fill: #000001; }

.tab__item {
  margin: 0 1rem -1px 0;
  border: 1px solid #eee; }

.tab__link {
  display: inline-block;
  padding: 1rem;
  color: #00aceb; }

@media (max-width: 768px) {
  .tab__item {
    display: block;
    margin-bottom: 0;
    border-bottom: 0; }
  .tab__item:last-child {
    border-bottom: 1px solid #eee; } }

.tab__link:active {
  color: #000001; }

.tab__item--selected {
  border-bottom-color: #fff; }
  .tab__item--selected .tab__link {
    color: #000001; }

.open-dag {
  margin-top: 0.9375rem;
  padding: 1.25rem;
  color: #fff;
  background-color: #c6002a; }

.open-dag__header {
  font-size: 1.5rem;
  margin: .5rem 0; }

.open-dag__location {
  font-style: normal;
  margin-left: 0.9375rem;
  padding-left: 0.9375rem;
  border-left: 1px solid #fff; }
  .open-dag__location span {
    white-space: nowrap; }
    .open-dag__location span:not(:last-child):after {
      content: ','; }

.link-box {
  padding: 1.875rem;
  background-color: #fff; }

.link-box--opleidingen {
  display: inline-block;
  width: 748px;
  margin-right: 1.875rem; }

@media all and (max-width: 992px) {
  .link-box--opleidingen {
    width: calc(100% - 2rem);
    margin: 1rem; } }

.link-box--top {
  width: 60%;
  margin-right: 1.875rem; }

@media all and (max-width: 768px) {
  .link-box--top {
    width: 100%; } }

.link-box--news {
  width: 50%;
  margin-left: 1.25rem; }

.link-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  border-top: 1px solid #ccc;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.link-box__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid #ccc; }
  .col-2 .link-box__item {
    width: 50%; }

.link-box__link {
  display: block;
  padding: 0.9375rem 0 0;
  text-decoration: none;
  color: #000001; }

.link-box__content {
  margin-bottom: 0.9375rem;
  margin-left: 0.9375rem;
  padding: 0 0.9375rem 0 1.25rem; }

.link-box__date {
  font-weight: normal;
  display: block;
  padding: 0 0.9375rem 0.9375rem 1.875rem;
  color: #999; }

/*
	for testing purposes
*/
/*
	/ end testing
*/
.page-footer {
  background-color: rgba(238, 238, 238, 0.5); }

.page-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.links__list-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

@media all and (min-width: 768px) {
  .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .links__list-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    margin-left: 0.9375rem; }
  .links__list-block:first-child {
    margin-left: 0; } }

.links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: .75rem;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media all and (max-width: 1200px) {
  .links__list-block {
    padding: 0 0.9375rem; } }

.links__list--discover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer-link__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0.625rem 0.3125rem 0;
  list-style: none; }
  .nav .footer-link__item {
    padding-bottom: 0.625rem; }

.footer-link__link {
  font-size: 0.8125rem;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  color: #999; }

.footer-link__link:hover {
  text-decoration: underline; }

.footer-link__item--discover {
  position: relative;
  padding-left: 0.9375rem;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }

.footer-link__item--discover .footer-link__link {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.footer-link__item--discover .footer-link__link:hover,
.footer-link__item--discover .footer-link__link:focus {
  color: #00aceb; }

/*
	@#todo
	make mixin
	*/
.footer-link__item--discover:before {
  position: absolute;
  top: 7px;
  left: 2px;
  display: inline-block;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #999;
  border-width: 1px 1px 0 0; }

.footer-link__item--discover:hover:before,
.footer-link__item--discover:focus:before {
  border-color: #00aceb; }

.footer-link__link--icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  white-space: nowrap;
  text-indent: 3rem;
  background-repeat: no-repeat;
  background-position: 0 0; }

.footer-link__item--share {
  position: relative; }

.footer-link__item--share:after {
  position: absolute;
  z-index: 5;
  top: 2.4875rem;
  left: 0;
  width: 2.5rem;
  height: .125rem;
  content: ''; }

.footer-link__item--linkedin:after {
  background-color: #0077b5; }

.footer-link__item--twitter:after {
  background-color: #1da1f2; }

.footer-link__item--mail:after {
  background-color: #000001; }

.footer-link__item--facebook:after {
  background-color: #3b5998; }

@media all and (max-width: 320px) {
  .links__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.footer-link__link--mail {
  background-image: url("../images/icons/Icon-Social-Mail-White.svg"); }

.footer-link__link--mail:hover,
.footer-link__link--mail:focus {
  background-image: url("../images/icons/Icon-SocialHover-Mail.svg"); }

.footer-link__link--linkedin {
  background-image: url("../images/icons/Icon-Social-LinkedIn.svg"); }

.footer-link__link--linkedin:hover,
.footer-link__link--linkedin:focus {
  background-image: url("../images/icons/Icon-SocialHover-LinkedIn.svg"); }

.footer-link__link--snapchat {
  background-image: url("../images/icons/Icon-Social-Snapchat.svg"); }

.footer-link__link--snapchat:hover,
.footer-link__link--snapchat:focus {
  background-image: url("../images/icons/Icon-SocialHover-Snapchat.svg"); }

.footer-link__link--twitter {
  background-image: url("../images/icons/Icon-Social-Twitter.svg"); }

.footer-link__link--twitter:hover,
.footer-link__link--twitter:focus {
  background-image: url("../images/icons/Icon-SocialHover-Twitter.svg"); }

.footer-link__link--instagram {
  background-image: url("../images/icons/Icon-Social-Instagram.svg"); }

.footer-link__link--instagram:hover,
.footer-link__link--instagram:focus {
  background-image: url("../images/icons/Icon-SocialHover-Instagram.png"); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .footer-link__link--instagram:hover,
  .footer-link__link--instagram:focus {
    background-image: url("../images/icons/Icon-SocialHover-Instagram@2x.png");
    background-size: contain; } }

.footer-link__link--youtube {
  background-image: url("../images/icons/Icon-Social-YouTube.svg"); }

.footer-link__link--youtube:hover,
.footer-link__link--youtube:focus {
  background-image: url("../images/icons/Icon-SocialHover-YouTube.svg"); }

.footer-link__link--facebook {
  background-image: url("../images/icons/Icon-Social-Facebook.svg"); }

.footer-link__link--facebook:hover,
.footer-link__link--facebook:focus {
  background-image: url("../images/icons/Icon-SocialHover-Facebook.svg"); }

.links__header {
  margin: 1.3rem 0 0;
  color: #999; }
  .nav .links__header {
    display: none; }

@media all and (max-width: 992px) and (min-width: 768px) {
  .links__header {
    font-size: 0.9rem; } }

.disclaimer {
  font-size: 0.8125rem;
  display: block;
  padding: 1rem 0;
  color: #999;
  background-color: #000001; }

@media all and (max-width: 768px) {
  .disclaimer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.25rem;
    text-align: left; }
  .page-footer__logo-link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .disclaimer__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media all and (min-width: 768px) {
  .page-footer__logo-link {
    display: inline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media all and (max-width: 1200px) {
  .disclaimer__container {
    padding: 1.25rem; } }

@media all and (min-width: 1200px) {
  .disclaimer__container {
    max-width: 1140px; } }

.disclaimer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-footer__logo {
  width: 125px;
  height: 36px; }

@media all and (max-width: 540px) {
  .disclaimer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .disclaimer__link {
    display: inline-block; }
  .page-footer__logo {
    margin-top: 1.25rem; } }

.disclaimer__link {
  margin-right: .5rem;
  text-decoration: underline;
  color: #999; }

.disclaimer__link:hover {
  color: #fff; }

.page__header {
  position: relative;
  z-index: 25;
  border-top: 5px solid #c6002a;
  border-bottom: 1px solid #eee; }

.top-bar {
  background-color: #fff; }

.top-bar__container,
.top-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-bar__container {
  width: calc(100% - 163px);
  -webkit-transition: width .5s ease;
  transition: width .5s ease; }

.skip-link {
  display: inline-block;
  overflow: hidden;
  width: 3.8125rem;
  height: 6.3rem;
  padding-top: 1.5rem;
  white-space: nowrap;
  text-indent: 6rem;
  border-right: 1px solid #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3125rem; }

.nav.js-open .skip-link,
.nav:target .skip-link {
  position: absolute;
  z-index: 5;
  top: -6rem;
  left: 1rem;
  height: 6rem;
  background-color: #fff; }

@media all and (min-width: 992px) {
  .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav .skip-link {
    display: none; }
  .nav-link {
    display: none; } }

.nav-link {
  font-size: 0.675rem;
  overflow: visible;
  width: 6rem;
  padding-top: 4rem;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  color: #999;
  background-image: url("../images/icons/nav-icon.svg");
  background-size: 30px 19px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.nav-link.clicked {
  overflow: hidden;
  text-indent: 6rem;
  background-image: url("../images/icons/close-search-icon.svg"); }

.nav-link.clicked:hover {
  background-image: url("../images/icons/close-search-icon-blue.svg"); }

.nav-link:hover {
  color: #00aceb;
  background-image: url("../images/icons/nav-icon-blue.svg"); }

@media all and (max-width: 768px) {
  .skip-link {
    width: 4.375rem;
    height: 4.375rem;
    padding-top: 3rem; } }

.search-link {
  background-image: url("../images/icons/search-icon.svg"); }

.search-link:hover {
  background-image: url("../images/icons/search-icon-blue.svg"); }

@media all and (min-width: 992px) {
  .search-link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  :target .search-link {
    border-right: 0;
    border-left: 1px solid #ccc;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .js-open .input--search,
  :target .input--search {
    max-width: 37.5rem; }
  :target .close-icon {
    border-right: 1px solid #ccc; } }

.close-icon {
  background-image: url("../images/icons/close-search-icon.svg"); }

@media all and (max-width: 768px) {
  .top-bar__container.js-open {
    width: 100%; }
  .js-open + .logo {
    width: 0; }
    .js-open + .logo .logo__img {
      width: 0; } }

.nav,
.top-search {
  overflow: hidden;
  width: 0;
  height: 0;
  -webkit-transition: width .2s easein;
  transition: width .2s easein; }

@media all and (min-width: 992px) {
  .nav {
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.active-filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: .625rem 0;
  border: 1px solid #eee;
  border-width: 1px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.active-filters__label {
  margin-right: 1rem;
  padding-top: .625rem; }

.active-filters__item {
  margin: 0; }

.btn--filter {
  position: relative;
  margin-bottom: .625rem;
  padding: .625rem 2.5rem .625rem 1rem;
  border-radius: 30px;
  background-color: #eee; }

.btn--filter:after {
  font-size: 1.5rem;
  position: absolute;
  top: .2rem;
  right: .8rem;
  content: 'x';
  color: #999; }

.schedule {
  width: 100%;
  border-collapse: collapse; }

.schedule__header,
.schedule__slot {
  padding: 0.3125rem 0;
  border-bottom: 1px solid #eee; }

.schedule__header {
  text-align: left; }

.schedule__header--head {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #999;
  border-top: 0; }

.schedule__header--line {
  font-weight: normal;
  width: 50%;
  min-width: 400px; }

.schedule__header--line,
.schedule__slot {
  font-size: 0.875rem; }

.schedule__slot--active .schedule__slot-content {
  display: block;
  margin: .5rem 0;
  color: #999;
  background-color: #999; }

@media all and (max-width: 768px) {
  .schedule {
    position: relative; }
  .schedule__row--head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff; }
  .schedule__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .schedule__header,
  .schedule__slot {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }
  .schedule__header--head:first-of-type,
  .schedule__header--line {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

/* css */
.result__list {
  padding-left: 0; }

@media all and (max-width: 992px) {
  .nav.js-open,
  .nav:target {
    position: absolute;
    z-index: 20;
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-left: 0; } }

@media all and (min-width: 992px) {
  .nav.js-open,
  .nav:target {
    height: auto !important; } }

@media all and (max-width: 768px) {
  .nav.js-open,
  .nav:target {
    top: 70px;
    padding: 0.9375rem; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  margin-left: -0.9375rem;
  background-color: rgba(255, 255, 255, 0.98); }

@media all and (max-width: 768px) {
  .nav {
    margin-left: 0; }
  .nav__list {
    margin: 0.9375rem; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.9375rem;
  padding: 0;
  list-style: none; }
  .nav__list .nav__list {
    margin: -0.9375rem;
    margin-top: 0;
    padding-top: 0.625rem;
    padding-bottom: 1.875rem; }

@media all and (max-width: 992px) {
  .nav__list {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    border-top: 1px solid #eee; }
  .nav__list,
  .links__list-block {
    width: 100%;
    max-width: 720px;
    margin: 0 auto; } }

@media all and (min-width: 992px) {
  .nav__list {
    margin: 0; }
  .nav .links__list-block {
    display: none; } }

.nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 1.25rem;
  border-bottom: 1px solid #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media all and (min-width: 992px) {
  .nav__item:first-child {
    padding-left: 0.9375rem; } }

@media all and (max-width: 992px) {
  .nav__link {
    position: relative; }
    .nav__link[title]:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 0.9375rem 0;
      content: attr(title);
      background-color: #fff; } }

@media all and (max-width: 768px) {
  .nav__item--sub {
    padding-left: 1.875rem; } }

.nav__item--sub {
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 0; }

.nav__link,
.nav__link--active .nav__link--sub,
.nav__link--sub {
  color: #999; }

.nav__link {
  padding: 0.9375rem 0;
  text-decoration: none; }

@media all and (max-width: 992px) {
  .nav__link--sub.nav__link--active {
    color: #000001; } }

.nav__link--active {
  color: #000001; }

.nav__link--sub {
  font-weight: normal;
  padding-left: 0.9375rem; }

@media all and (min-width: 992px) {
  .nav {
    overflow: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .nav__item {
    border-bottom: 0; }
  .nav__sub {
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    background-color: #00aceb;
    position: absolute;
    left: -999em; }
  .nav__item--has-sub:before {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 5px);
    display: block;
    width: 5px;
    height: 5px;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid #999;
    border-width: 0 1px 1px 0; }
  .nav__sub--opened:before {
    border-color: #000001; }
  .nav__item--has-sub:hover:before {
    border-color: #00aceb; }
  .nav__item--has-sub:hover:after {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 11px);
    display: block;
    width: 11px;
    height: 11px;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #00aceb; }
  .nav__sub-opener {
    display: none; }
  .nav__item--top-level {
    border-right: 1px solid #eee; }
  .nav__item--top-level:hover > .nav__link {
    color: #00aceb; }
  .nav__item:focus .nav__sub,
  .nav__item:hover .nav__sub {
    left: 0;
    margin-top: 2px;
    padding: 1.25rem 0; }
  .nav__item--sub {
    margin: 0 1.25rem;
    padding: 0 0.9375rem; }
  .nav__item--sub:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35); }
  .nav__link--sub {
    white-space: nowrap;
    color: #fff;
    background-image: url("../images/icons/ICON-Arrow-Right-White.svg"); }
  .nav__link--sub:hover {
    text-decoration: underline; } }

.nav__sub {
  height: auto; }

.nav__item:focus .nav_sub,
.nav__item:hover .nav_sub {
  height: auto; }

@media all and (max-width: 992px) {
  .nav__item--has-sub .nav__sub {
    display: none; }
  .nav__sub--opened .nav__sub {
    display: block; }
  .nav__item--top-level {
    position: relative; }
  .nav__sub-opener {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 4rem;
    height: 3rem;
    content: '';
    white-space: nowrap;
    text-indent: 5rem; }
  .nav__sub-opener:after {
    position: absolute;
    top: calc(50% - 4px);
    right: 1.5rem;
    width: 9px;
    height: 9px;
    content: '';
    -webkit-transition: top .5s ease, -webkit-transform .5s ease;
    transition: top .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, top .5s ease;
    transition: transform .5s ease, top .5s ease, -webkit-transform .5s ease;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border: 1px solid #333;
    border-width: 0 0 1px 1px; }
  .nav__sub--opened .nav__sub-opener:after {
    top: 50%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); } }

.submenu {
  border-bottom: 1px solid #eee; }
  .submenu .layout-full-width-block__content {
    margin-bottom: 0; }

.submenu__list {
  padding: 0;
  list-style: none; }

.submenu__item {
  display: inline-block; }

.submenu__link {
  font-size: 0.875rem;
  display: block;
  padding: 1rem 1rem 1rem 0;
  color: #999; }

.submenu__link--active {
  color: #000001; }

.submenu__link:hover {
  text-decoration: underline;
  color: #00aceb; }

@media all and (max-width: 992px) {
  .submenu {
    display: none; } }

/*
dkdkd
*/
.page-menu-block__header {
  font-size: 0.75rem;
  text-transform: uppercase; }

.page-menu__list {
  margin-bottom: 4rem;
  padding-left: 0;
  list-style: none; }

.page-menu__item {
  position: relative;
  padding: 0.9375rem 0 0.9375rem 1.875rem;
  border-top: 1px solid #eee; }

.page-menu__item:before {
  position: absolute;
  top: 23px;
  left: 8px;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #00aceb;
  border-width: 1px 1px 0 0; }

.page-menu__item:last-child {
  border-bottom: 1px solid #eee; }

.page-menu__link {
  font-size: 0.875rem;
  color: #999; }

.page-menu__link--active {
  color: #000001; }

.page-menu__link:hover {
  color: #00aceb; }

.page-menu {
  position: relative; }

.page-menu .btn,
.page-menu .close-icon {
  display: none; }

@media all and (max-width: 1200px) {
  .page-menu__container {
    position: relative;
    left: -999em;
    width: 100vw;
    height: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .page-menu__container.js-open,
    :target .page-menu__container {
      z-index: 0;
      left: 0;
      height: auto;
      margin-top: 1rem;
      border-top: 1px solid #eee; }
  .nav-link.clicked {
    text-indent: 0; }
  .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    border: 1px solid #eee;
    border-width: 1px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .page-menu .btn,
    .page-menu .close-icon {
      display: inline-block;
      max-height: 3rem; }
    .page-menu .close-icon {
      position: absolute;
      top: -4rem;
      left: 0;
      visibility: hidden;
      border-right: 0; }
    .page-menu .btn {
      position: absolute;
      top: 1rem;
      right: 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .page-menu .nav-link {
      font-size: 1rem;
      width: auto;
      height: 4.3rem;
      padding-top: 1.5rem;
      padding-left: 3rem;
      text-transform: none;
      border-right: none;
      background-position: 1rem; }
    .page-menu .nav-link:after {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 1rem;
      content: '';
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      border: 1px solid #00aceb;
      border-width: 0 1px 1px 0; }
    .page-menu .clicked:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .page-menu .skip-link {
      background-size: 1rem; } }

.page-menu--clone .btn--primary,
.page-menu--clone .skip-link {
  display: none; }

.page-menu--clone .page-menu__container {
  left: 0;
  height: auto; }

@media all and (min-width: 1200px) {
  .page-menu--clone {
    display: none; } }

.filter__button {
  position: relative;
  display: inline-block;
  padding: .625rem 1.5rem;
  color: #00aceb;
  background-image: url("../images/icons/Icon-Filter.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.filter__button:after {
  position: absolute;
  top: .625rem;
  right: 0;
  display: block;
  width: 9px;
  height: 9px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #00aceb;
  border-width: 0 1px 1px 0; }

.filter__button--hide:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

@media all and (max-width: 992px) {
  .filter-block__container,
  .filter__button--hide {
    position: absolute;
    left: -999em; }
  :target .filter-block__container,
  :target .filter__button--hide {
    position: relative;
    left: 0; }
  :target .filter__button--show {
    display: none; }
  .filter-block__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media all and (min-width: 400px) and (max-width: 992px) {
  .filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; } }

@media all and (max-width: 400px) {
  .filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; } }

.hero {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  height: 300px;
  margin: 0 auto; }
  @media all and (min-width: 768px) {
    .hero {
      background-position: center -100px; } }
  @media all and (min-width: 992px) {
    .hero {
      background-position: center -180px; } }
  @media all and (min-width: 1200px) {
    .hero {
      background-position: center -240px; } }

.hero:not(.hero--simple) {
  background-color: #c6002a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.hero__content {
  position: relative;
  z-index: 10;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.25rem; }

.hero:after {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.6) 100%); }

.hero__image {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  display: block;
  width: 1920px;
  height: 660px;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px); }

.header--hero {
  position: relative;
  position: absolute;
  z-index: 15;
  bottom: 1rem;
  left: 0;
  margin: 0 auto;
  color: #fff; }

.header--hero:after {
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 11px;
  height: 11px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff; }

.hero--simple {
  max-width: 100%;
  max-height: 150px;
  background-color: rgba(238, 238, 238, 0.5); }
  .hero--simple .header--hero {
    color: #000001; }

.hero--pattern {
  background-image: url("../images/hero-simple-bg.png");
  background-repeat: repeat; }

.hero--simple:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0)), to(#f6f6f6));
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 0%, #f6f6f6 100%); }

:root {
  --min-height: 348px;
  --min-width: calc(--min-height * 1.5); }

.hero-home {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: var(--min-height);
  margin: 0;
  padding: 0; }

.hero-home__content {
  position: absolute;
  top: 150px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.header--hero-home {
  max-width: 1140px;
  margin: 0 auto; }

.header--hero-home .header__text {
  max-width: 500px;
  text-transform: uppercase;
  color: #fff; }
  .header--hero-home .header__text:after {
    content: var(--min-height); }

.hero-home__image {
  width: 100%;
  min-width: var(--min-width);
  max-width: 1920px; }

@media all and (min-width: 540px) and (max-width: 992px) {
  :root {
    --min-height: 496px;
    --min-width: calc(--min-height * 1.5); } }

@media all and (min-width: 992px) {
  :root {
    --min-height: 600px;
    --min-width: calc(--min-height * 1.5); }
  .hero-home__image {
    margin-top: -50px; } }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #eee;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 768px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  [role='tablist'] a,
  [role='tablist'] li {
    position: static;
    display: block; }
  [role='tablist'] [aria-selected] {
    position: static; } }

.vertical-hero {
  background-color: #c6002a; }

@media all and (min-width: 992px) {
  .vertical-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 750px;
    height: 100vh;
    max-height: 1000px;
    padding: 1.25rem;
    text-align: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/* templates */
.resultpage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.resultpage__list {
  margin-top: 2rem;
  margin-bottom: 2rem; }

@media all and (min-width: 992px) {
  .resultpage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .active-filters__container,
  .resultpage__footer,
  .resultpage__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-left: 263px; }
  .resultpage__header {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .active-filters__container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .filter__button {
    display: none; }
  .resultpage__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 263px;
            flex: 0 1 263px;
    margin-top: -3rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .resultpage__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .resultpage__footer {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  @supports (display: grid) {
    .resultpage__list {
      display: grid;
      width: 100%;
      height: 100%;
      grid-gap: 20px;
      grid-template-columns: 263px 1fr;
      grid-template-rows: 50px auto 1fr 1fr;
      grid-template-areas: '. header ' 'aside sub-header' 'aside content' 'aside footer'; }
    .active-filters__container,
    .resultpage__footer,
    .resultpage__header {
      padding-left: 0; }
    .resultpage__header {
      grid-area: header;
      -ms-grid-row: 1;
      -ms-grid-column: 2; }
    .active-filters__container {
      grid-area: sub-header;
      -ms-grid-row: 2;
      -ms-grid-column: 2; }
    .resultpage__aside {
      margin-top: 0;
      grid-area: aside;
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-row-span: 2; }
    .resultpage__content {
      grid-area: content;
      -ms-grid-row: 3;
      -ms-grid-column: 2; }
    .resultpage__footer {
      grid-area: footer;
      -ms-grid-row: 4;
      -ms-grid-column: 2; } } }

@media all and (max-width: 992px) {
  .filter__button {
    display: inline-block; }
  .resultpage__filters {
    display: none;
    -webkit-column-count: 2;
            column-count: 2; }
  .resultpage__filters:target {
    display: block; }
  .filter__header {
    -webkit-column-span: all;
            column-span: all; } }

/*
	testing
*/
.avans-homepage .main-content {
  margin-top: -100px; }

@media all and (max-width: 768px) {
  .layout-full-width-block__content--intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-content .fooBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    outline: 1px dotted red; }
    .main-content .fooBar .image-block__header-block {
      top: 5%;
      right: -110%;
      bottom: initial; }
  .link-block__item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .link-block__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .link-block__text {
    width: 50%; }
  .link-block__item:nth-child(odd) {
    margin-right: 0; } }

.layout-full-width-block__content--subhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.subhome__content:nth-child(even) {
  background-color: #f6f6f6; }

.subhome__content {
  margin-bottom: 1rem; }

@media all and (min-width: 992px) {
  .subhome__content:nth-child(even) {
    padding: 4rem 0; }
    .subhome__content:nth-child(even) .layout-full-width-block__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .subhome__content--top .vertical-hero {
    outline: 1px solid red; }
  .layout-full-width-block__content--subhome .content {
    max-width: 750px; }
  .layout-full-width-block__content--subhome .vertical-hero {
    margin-right: 20px;
    margin-left: -375px; } }

@media all and (max-width: 992px) {
  .subhome__content:nth-child(1) .layout-full-width-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .subhome__content--top .vertical-hero {
    height: 300px;
    margin: 0 -1rem;
    outline: 1px solid green; }
  .layout-full-width-block__content--subhome .content {
    max-width: 100%; } }
/*# sourceMappingURL=style.css.map */