// scss

.schedule {
	width: 100%;

	border-collapse: collapse;
	//@extend .testing;
}

.schedule__header,
.schedule__slot,
td,
th {
	padding: $spacing-xs 0;

	border-bottom: 1px solid #eee;
}

.schedule__header,
th {
	text-align: left;
}


.schedule__header--head {
	font-size: $table-header;

	text-transform: uppercase;

	color: #999;
	border-top: 0;
	border-bottom: 1px solid #ccc;
	background-color: $white;
}

.schedule__header--line {
	font-weight: normal;

	width: 50%;
	min-width: 400px;
	max-width: 100%;
}

.schedule__header--line,
.schedule__slot {
	font-size: $fs-s;
	line-height: 1.5;

	padding: .5rem 1.5rem .5rem 0;

	vertical-align: top;
}

.schedule__slot--active .schedule__slot-content {
	display: block;

	margin: .5rem 0;

	color: #999;
	background-color: #999;
}

.schedule {
	position: relative;
}
.schedule__head {
	position: sticky;
	top: 0;

	// outline: 1px solid red;
}
.schedule__head th {
	position: sticky;
	top: 0;

	// outline: 1px solid green;
}

@media all and (max-width: $bp-m) {
	.schedule__row {
		display: flex;
		//
		// flex-wrap: wrap;
		//	display: block;
	}

	.schedule__header,
	.schedule__slot {
		flex: 0 1 25%;
		// display: inline-block;

		// width: 24%;
	}

	.schedule__header--head:first-of-type,
	.schedule__header--line {
		flex-basis: 100%;
		// display: block;

		// width: 100%;
	}
}
