// scss

.schedule {
	width: 100%;

	border-collapse: collapse;
	//@extend .testing;
}

.schedule__header,
.schedule__slot,
td,
th {
	padding: $spacing-xs 0;

	border: 1px solid #eee;
	border-width: 0 0 1px 0;
}
// 2017 css
.box-program-courses .block {
	border-left-width: 0;
}

.schedule__header,
th {
	text-align: left;
}


.schedule__header--head {
	font-size: $table-header;

	text-transform: uppercase;

	color: #999;
	border-top: 0;
	border-bottom: 1px solid #ccc;
	background-color: $white;
}

.schedule__header--line {
	font-weight: normal;

	width: 40%;
	min-width: 200px;
	max-width: 100%;
	padding: .25rem 1.5rem .25rem 0;
}
.schedule__slot {
	padding: .25rem 0 .25rem 0;
}
.schedule__header--line,
.schedule__slot {
	font-size: $fs-s;
	line-height: 1;

	vertical-align: center;
}

.schedule__slot--active .schedule__slot-content {
	position: static;

	display: block;

	width: calc(100% - 1rem);
	height: auto;
	margin: .25rem 0;

	color: #999;
	background: #999;
}

.schedule {
	position: relative;
}

.schedule__row--head,
.schedule__head {
	position: sticky;
	top: 0;
}
.schedule__head th {
	position: sticky;
	top: 0;
}

@media all and (max-width: $bp-m) {
	.schedule__row {
		display: flex;
		//

		flex-wrap: wrap;
		//	display: block;
	}

	.schedule__header,
	.schedule__slot {
		flex: 0 1 25%;
		// display: inline-block;

		// width: 24%;
	}

	.schedule__header--head:first-of-type,
	.schedule__header--line {
		flex-basis: 100%;
		// display: block;

		// width: 100%;
	}
}

.box-program-courses table span,
.box-program-courses .block {
	width: auto;
}
