// search stuff

.js-open .top-search,
:target .top-search {
	width: calc(100% - 1rem);
	height: auto;

	transition: width .5s;

	background-color: $white;
}

.js-open .search-link,
:target .search-link {
	border-right: 0;
	border-left: 1px solid $lighter-gray;

	order: 0;
}

.js-open .nav,
:target .nav {
	display: none;
}

.input.input--search {
	margin-right: 0;
}
@media all and (max-width: $bp-m) {
	.input.input--search {
		margin: .5rem 1rem;
	}
}

.top-search__container {
	display: flex;

	height: 100%;

	background-color: $white;
}



.js-open .nav-link,
.top-search__button,
.top-search__label,
:target .nav-link {
	@include hideVisually();
}
