// search stuff

:target .top-search {
  width: calc(100% - 1rem);
 transition: width $time-s;
  background-color: #fff;
}
:target .search-link {
  order: 0;
}

:target .nav {
  outline: 1px solid red;
  display: none;
}

.top-search__container {
  background-color: #fff;
  display: flex;
}
.top-search__input {

}

:target .nav-link,
.top-search__button,
.top-search__label {
  position: absolute;
  left: -999em;
}
