<form action="#" class="top-search">
  <div class="top-search__container">
    {{# searchlabel}}
      {{> atoms-label}}
    {{/ searchlabel }}


      {{# searchbox }}
        {{> atoms-input }}
      {{/ searchbox }}
    <button type="submit" class="top-search__button">Search</button>
    <a href="#" class="skip-link close-icon">close search</a>
  </div>
</form>
