<form action="#" class="top-search">
  <div class="top-search__container">
    <label for="search" class="top-search__label">
      {{ label }}
    </label>
    <input
      type="search"
      placeholder="Wat zoek je?"
      class="top-search__input"
      required />
    <button type="submit" class="top-search__button">Search</button>
    <a href="#" class="skip-link close-icon">close search</a>
  </div>
</form>
