.result-block {
	max-width: 848px;
	margin-bottom: 2rem; //	@extend .testing;
	padding-bottom: 2rem;

	list-style: none;

	border-bottom: $lighter-gray 1px solid;
}

.result-block__link {
	display: flex;

	color: $text-color;
}
@media all and (max-width: $bp-xs) {
	.result-block__link {
		flex-direction: column;
	}

	.result-block__image-container {
		margin-bottom: $spacing;
	}
}

.result-block__link:hover {
	.result-block__header {
		color: $avans-blue;
	}
	.result-block__location {
		text-decoration: none;

		color: $text-color;
	}
}

.result-block__content-container {
	margin-left: $spacing-xl; //	flex: 1;

	order: 1;
}

.result-block__image-container {
	position: relative;

	display: inline-block;

	min-width: 220px;
	height: 147px;

	order: 0;
	flex-basis: 220px;
}

.result-block__link:hover .result-block__image-container:after {
	height: 147px;
}
@media all and (max-width: $bp-s) {
	.result-block__image-container {
		min-width: 169px;
		height: 112px;

		flex-basis: 169px;
	}
}
@media all and (max-width: $bp-xs) {
	.result-block__image-container {
		height: auto;

		flex-basis: 147px;
	}
}
@media all and (min-width: $bp-xl) {
	.result-block__image-container {
		min-width: 263px;
		height: 175px;

		flex-basis: 263px;
	}

	.result-block__link:hover .result-block__image-container:after {
		height: 175px;
	}
}

.result-block__image-container:after {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 0;

	content: '';
	transition: height $time-s ease;

	background-color: rgba($avans-blue, .2);
}

.result-block__image {
	//	max-width: 200px;
	width: 100%;
	height: 100%;
}



.result-block__header {
	font-size: $result-block__header;

	margin-top: 0;

	transition: color $time-s ease;
}

.result-block__header:hover {
	text-decoration: underline;
}


.result-block__location {
	display: inline-block;

	margin-left: 1.25rem;
	padding-left: 1.5rem;

	background-image: url('../images/icons/icon-locationMarker.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
@media all and (max-width: $bp-m) {
	.result-block__location {
		display: block;

		margin-top: $spacing-s;
		margin-left: 0;
	}
}

.result-block__location,
.result-block__alert {
	font-size: $fs-s;
}

.alert__header {
	padding-right: .5rem;

	color: $avans-red;
}

@media all and (max-width: $bp-m) {
	.result-block__content {
		display: none;
	}
}
