.result-block {
	list-style: none;
	border-bottom: $lighter-gray 1px solid;
	padding-bottom: 2rem;
	margin-bottom: 2rem; //	@extend .testing;
}

.result-block__link {
	color: #000;
	display: flex;
}

.result-block__link:hover {
	.result-block__header {
		color: $avans-blue;
	}
}

.result-block__content-container {
	order: 1;
	margin-left: $spacing-xl;
}

.result-block__image-container {
	order: 0;
	position: relative;
	min-width: 220px;
	height: 147px;
	display: inline-block;
}

.result-block__link:hover .result-block__image-container:after {
	height: 147px;
}
@media all and (min-width: $bp-xl) {
	.result-block__image-container {
		min-width: 263px;
		height: 175px;
	}

	.result-block__link:hover .result-block__image-container:after {
		height: 175px;
	}
}

.result-block__image-container:after {
	content: '';
	width: 100%;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($avans-blue, .2);
	transition: height $time-s ease;
}

.result-block__image {
	//	max-width: 200px;
	width: 100%;
	height: 100%;
}

.result-block__header-group {}

.result-block__header {
	margin-top: 0;
	font-size: 1.25rem;
	transition: color $time-s ease;
}

.result-block__location {
	font-size: 0.875rem;
	display: inline-block;
	padding-left: 1.5rem;
	margin-left: 1.25rem;
	background-repeat: no-repeat;
	background-image: url("/images/icons/icon-locationMarker.svg");
	background-size: contain;
}

.alert__header {
	color: $avans-red;
	padding-right: 0.5rem;
}
@media all and (max-width: $bp-m) {
	.result-block__alert,
	.result-block__content {
		display: none;
	}
}
