<div class="layout-full-width-block submenu">
	<div class="layout-full-width-block__content">
		<ul class="submenu__list">
			{{# submenu }}
				<li class="submenu__item">
					<a class="submenu__link {{# active }} submenu__link--active {{/ active }}" href="{{ href }}">{{ text }}</a>
				</li>
			{{/ submenu }}
		</ul>
	</div>
</div>
