.submenu {
	border-bottom: 1px solid $lighter-gray;

	.layout-full-width-block__content {
		margin-bottom: 0;
	}
}
.submenu__list {
	padding: 0;

	list-style: none;
}

.submenu__item {
	display: inline-block;
}

.submenu__link {
	font-size: $fs-s;

	display: block;

	padding: 1rem 1rem 1rem 0;

	color: $light-gray;
}

.submenu__link--active {
	color: $text-color;
}

.submenu__link:hover {
	text-decoration: underline;

	color: $avans-blue;
}

@media all and (max-width: $bp-l) {
	.submenu {
		display: none;
	}
}
