<nav id="page-menu" class="page-menu content-page__menu">
	<a href="#page-menu" class="skip-link nav-link">Nieuws</a>

	<div class="page-menu__container">
		<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN 's Hertogenbosch</h3>
		<ul class="page-menu__list">

			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/introductie">
Introductie</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/opbouw">
Opbouw</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/buitenland">
Buitenland</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/wat-anderen-zeggen">
Wat anderen zeggen</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/projecten">
Projecten</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/studie-in-cijfers">
Studie in cijfers</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/blog">
Blog</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link page-menu__link--active" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/blog">
Nieuws</a>
			</li>
		</ul>
		<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
		<ul class="page-menu__list">

			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/beroepen">
Beroepen</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/vervolgstudies">
Vervolgstudies</a>
			</li>
		</ul>
		<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
		<ul class="page-menu__list">

			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/toelating">
Toelating</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/studiekosten">
Studiekosten</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/locatie">
Locatie</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/aanmelden">
Aanmelden</a>
			</li>
		</ul>
		<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
		<ul class="page-menu__list">

			<li class="page-menu__item">
				<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-avond-21-maart-2018-2018-03-21">
Open dag</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/proefstuderen">
Proefstuderen</a>
			</li>
			<li class="page-menu__item">
				<a class="page-menu__link" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/factsheet">
Factsheet</a>
			</li>
		</ul>
		<a href="#" class="skip-link close-icon">Verberg het menu</a>
	</div>
	<div class="widget widget--sidebar">
		<div class="widget__content">
			<a href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/aanmelden" class="btn btn--primary btn--widget">
				<!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


				Meld je aan</a>
		</div>
	</div>
</nav>
