<main class="layout-full-width-block main-content layout-full-width-block--simple-content-page">
	<div class="layout-full-width-block__content content-page-simple">
		{{> organisms-menu }}
		<article class="main-content simple-content-page__content">

			<h2 class="article-header">Nieuws</h2>

			<ul class="result__list test">
				<li class="result-block">
					<a href="" class="result-block__link">
						<div class="result-block__content-container">
							<h3 class="result-block__header">header that is going to be very very long. we are going to talk about lots of stuff.</h3>

							<p class="result-block__date-author">
								<time datetime="2017-09-28T14:02+0200" class="updated">28 september 2017</time>
								<span>, door&nbsp;Punt.</span>
							</p>

							<div class="result-block__content">

								<p>De Keuzegids Hbo 2016 plaatste alle 6 de opleidingen van de Academie voor Industrie en Informatica op de eerste plaats.</p>
							</div>

							<div class="result-block__link-more">Lees verder</div>
						</div>
						<div class="result-block__image-container">

							<div class="result-block__image-hover-overlay">
								<img alt="ICT en Techniekopleidingen Avans bieden soelaas krapte arbeidsmarkt" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/2017/10/whatsapp-image-2017-10-10-at-11.32.35.jpeg/whatsapp-image-2017-10-10-at-11.32.35.jpeg/nextweb%3Acontent570x300">
							</div>
						</div>
					</a>
				</li>
			</ul>
			<section class="resultpage__content">
				<ul class="result__list ">
					<li class="result-block">
						<a href="/over-avans/nieuws-en-pers/nieuwsberichten/detail/2017/10/ict-en-techniekopleidingen-avans-bieden-soelaas-krapte-arbeidsmarkt" class="result-block__link">

							<div class="result-block__content-container">

								<h3 class="result-block__header">ICT en Techniekopleidingen Avans bieden soelaas krapte arbeidsmarkt en dan met een lange titel...</h3>

								<p class="result-block__date-author">
									<time datetime="2017-10-10T11:48+0200" class="updated">10 oktober 2017</time>
									<span>, door&nbsp;Avans Hogeschool</span>
								</p>
								<div class="result-block__content">

									<p>Het ict- en techniekonderwijs van Avans Hogeschool in ’s-Hertogenbosch staat in de top van het hoger onderwijs van Nederland. Alle zes de opleidingen die de Academie voor Industrie en Informatica (AI&amp;I) biedt staan volgens de Keuzegids hbo
										2018, de belangrijkste ranking van het jaar, op een nummer 1–positie. Ook is er sprake van een flinke toename van studenten. De kwaliteit en het arbeidspotentieel vallen op. Op 10 oktober nemen ruim 80 bedrijven deel aan de zogeheten ‘speedmeet’
										bij Avans. Gezien de krapte op de arbeidsmarkt in de ict- en technieksector een welkome ontmoeting met toekomstige beroepsprofessionals.</p>
								</div>

								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">

								<div class="result-block__image-hover-overlay">
									<img alt="ICT en Techniekopleidingen Avans bieden soelaas krapte arbeidsmarkt" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/2017/10/whatsapp-image-2017-10-10-at-11.32.35.jpeg/whatsapp-image-2017-10-10-at-11.32.35.jpeg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>

					<li class="result-block">
						<a href="/over-avans/nieuws-en-pers/nieuwsberichten/detail/2017/09/alle-opleidingen-academie-voor-industrie-en-informatica-op-1-in-keuzegids-hbo-2018" class="result-block__link">

							<div class="result-block__content-container">

								<h3 class="result-block__header">Alle opleidingen Academie voor Industrie en Informatica op 1 in Keuzegids Hbo 2018</h3>

								<p class="result-block__date-author">
									<time datetime="2017-09-28T14:02+0200" class="updated">28 september 2017</time>
									<span>, door&nbsp;Punt.</span>
								</p>

								<div class="result-block__content">

									<p>De Keuzegids Hbo 2016 plaatste alle 6 de opleidingen van de Academie voor Industrie en Informatica op de eerste plaats.</p>
								</div>

								<div class="result-block__link-more">Lees verder</div>
							</div>

							<div class="result-block__image-container">

								<div class="result-block__image-hover-overlay">
									<img alt="Alle opleidingen Academie voor Industrie en Informatica op 1 in Keuzegids Hbo 2018" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/2017/09/beeld-keuzegids-hbo-2018-1e-plaats.jpg/beeld-keuzegids-hbo-2018-1e-plaats.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>

					<li class="result-block">
						<a href="/over-avans/nieuws-en-pers/nieuwsberichten/detail/2017/09/avans-ook-op-nummer-1-in-ranglijst-elsevier" class="result-block__link">

							<div class="result-block__content-container">

								<h3 class="result-block__header">Avans ook op nummer 1 in ranglijst Elsevier</h3>

								<p class="result-block__date-author">
									<time datetime="2017-09-28T11:27+0200" class="updated">28 september 2017</time>
									<span>, door&nbsp;Avans Hogeschool</span>
								</p>

								<div class="result-block__content">
									<p></p>
									<p></p>
									<p>Avans Hogeschool is gekozen tot beste hogeschool met een breed studieaanbod in het onderzoek ‘Beste studies 2017’ van Elsevier Weekblad. Vorig jaar stond Avans ook op de eerste plaats. Het onderzoek is gebaseerd op de Nationale Studenten Enquête.
										In deze enquête wordt er onder andere gekeken naar de tevredenheid van studenten over hun opleiding en hun docenten. Ook in de Keuzegids Hbo 2018, die eerder deze week uitkwam, is Avans gekozen tot beste grote hogeschool van Nederland.</p>
								</div>

								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">

								<div class="result-block__image-hover-overlay">
									<img alt="Avans ook op nummer 1 in ranglijst Elsevier" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/2017/09/header-elsevier-002.jpg/header-elsevier-002.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
					<li class="result-block">
						<a href="/over-avans/nieuws-en-pers/nieuwsberichten/detail/2017/09/studenten-zetten-avans-weer-op-1-in-landelijke-ranglijst" class="result-block__link">

							<div class="result-block__content-container">

								<h3 class="result-block__header">Studenten zetten Avans weer op 1 in landelijke ranglijst</h3>

								<p class="result-block__date-author">
									<time datetime="2017-09-25T13:57+0200" class="updated">25 september 2017</time>
									<span>, door&nbsp;Avans Hogeschool</span>
								</p>

								<div class="result-block__content">

									<p>Avans Hogeschool is dit jaar volgens studenten opnieuw de beste grote hogeschool van Nederland. Dat blijkt uit de Keuzegids Hbo 2018 die vandaag verschijnt. Studenten zijn met name tevreden over de sfeer bij Avans en zijn blij met de docenten.
										Avans staat al 9 jaar in de top 3 en behaalt nu voor de zesde keer een nummer-1-positie.</p>
								</div>

								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">

								<div class="result-block__image-hover-overlay">
									<img alt="Studenten zetten Avans weer op 1 in landelijke ranglijst" class="result-block__image" src="/binaries/content/gallery/nextweb/nieuws/2017/09/beeld-keuzegids-hbo-2018-1e-plaats.jpg/beeld-keuzegids-hbo-2018-1e-plaats.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
					<li class="result-block">
						<a href="/over-avans/nieuws-en-pers/nieuwsberichten/detail/2017/07/app-voor-blinden" class="result-block__link">

							<div class="result-block__content-container">

								<h3 class="result-block__header">Studenten maken apps voor blinden, rolstoelers en mensen met depressie</h3>

								<p class="result-block__date-author">
									<time datetime="2017-07-11T10:02+0200" class="updated">11 juli 2017</time>
									<span>, door&nbsp;Avans Hogeschool</span>
								</p>

								<div class="result-block__content">

									<p>Derdejaarsstudenten Informatica Software Ontwikkeling van Avans Hogeschool maakten afgelopen periode enkele apps in opdracht van maatschappelijke organisaties. Zo presenteerden zij 2 navigatie-apps voor blinden en slechtzienden en rolstoelers.
										En creëerden studenten een muziekapp voor mensen die kampen met depressieve klachten.</p>
								</div>

								<div class="result-block__link-more">Lees verder</div>
							</div>

							<div class="result-block__image-container">

								<div class="result-block__image-hover-overlay">
									<img alt="Studenten maken apps voor blinden, rolstoelers en mensen met depressie" class="result-block__image" src="/binaries/content/gallery/nextweb/nieuws/2017/07/app-voor-blinden.jpg/app-voor-blinden.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
				</ul>
			</section>


			<script>
				function pageNumber(pageNumber) { //function: go to selected pagenumber
					//get current url
					let url = window.location.href;
					//if the ?page=x is in the url, get the part of the url till the ?
					let lengthTillPage = url.indexOf("page=");
					if (lengthTillPage == -1) {
						//page not found, add to go to that page.
						if (url.indexOf("?") == -1)
							url = url.concat("?page=", pageNumber);
						else
							url = url.concat("&page=", pageNumber);
					} else {
						//get the full page=xxxx part
						let gotoPagePart = url.substring(lengthTillPage)
						let tillEndOfPagePart = gotoPagePart.indexOf("&");
						if (tillEndOfPagePart == -1) { //nothing after page=xxx)
							url = url.replace(gotoPagePart, "page=" + pageNumber);
						} else {
							url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
						}
					}
					window.location.href = url;
				}
			</script>

			<footer class="resultpage__footer">
				<h3>
            1 - 5 &nbsp;van&nbsp;15 berichten</h3>
				<div class="pagination">
					<ol class="pagination__list">
						<li class="pagination__item"><a href="javascript:pageNumber(1)" class="pagination__link  pagination__link--active">
                                    1</a></li>
						<li class="pagination__item"><a href="javascript:pageNumber(2)" class="pagination__link  ">
                                    2</a></li>
						<li class="pagination__item"><a href="javascript:pageNumber(3)" class="pagination__link  ">
                                    3</a></li>
					</ol>
				</div>
			</footer>
		</article>
	</div>
</main>
