<main class="layout-full-width-block main-content layout-full-width-block--simple-content-page">
	<div class="layout-full-width-block__content content-page-simple">
		<nav class="page-menu content-page__menu" id="page-menu">
			<a class="skip-link nav-link" href="#page-menu">Projecten</a>

			<div class="page-menu__container">
				<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN Breda</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/introductie">
											Introductie</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/opbouw">
											Opbouw</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/buitenland">
											Buitenland</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/wat-anderen-zeggen">
											Wat anderen zeggen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link page-menu__link--active" href="">
											Projecten</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/studie-in-cijfers">
											Studie in cijfers</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/blog">
											Blog</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/nieuws">
											Nieuws</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/beroepen">
											Beroepen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/vervolgstudies">
											Vervolgstudies</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/toelating">
											Toelating</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/studiekosten">
											Studiekosten</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/locatie">
											Locatie</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/aanmelden">
											Aanmelden</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-avond-21-maart-2018-2018-03-21">
											Open dag</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/proefstuderen">
											Proefstuderen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/meeloopdagen">
											Meeloopdagen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/online-magazine">
											Online magazine</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/factsheet">
											Factsheet</a>
					</li>
				</ul>
				<a class="skip-link close-icon" href="#">Verberg het menu</a>
			</div>
			<div class="widget widget--sidebar">
				<div class="widget__content">
					<a class="btn btn--primary btn--widget" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/aanmelden">
						<!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


						Meld je aan</a>
				</div>
			</div>
		</nav>
		<article class="main-content simple-content-page__content">
			<!-- [AB] Lijst artikelen 2CP -->
			<h2 class="article-header">Projecten</h2>
			<p>Bekijk de projecten van deze opleiding.
				<br>
			</p>
			<ul class="tabs">
				<li class="tab__item tab__item--selected">
					<a class="tab__link" id="tabId-STUDIE_PROJECT" aria-selected="true" href="?tab=STUDIE_PROJECT" data-tabgroup="subjects">
        Studieproject</a>
				</li>
				<li class="tab__item">
					<a class="tab__link" id="tabId-INTERNSHIP" href="?tab=INTERNSHIP" data-tabgroup="subjects">
        Stageproject</a>
				</li>
				<li class="tab__item">
					<a class="tab__link" id="tabId-GRADUATION" href="?tab=GRADUATION" data-tabgroup="subjects">
        Afstudeerproject</a>
				</li>
			</ul>

			<section class="resultpage__content">
				<ul class="result__list result__list--grid">
					<li class="result-block">
	<a class="result-block__link" href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/projecten/../project-detail/?project=7bf0bc93-a5f4-48d3-83c7-595640da7e02">
	<div class="result-block__content-container">
	<div>
			<h3 class="result-block__header">Er was eens een vraagstuk bij de Efteling</h3>
			<div class="result-block__content">
				<p>Eerstejaarsstudenten werkten aan horecaconcepten voor een nieuwe eetgelegenheid in de Efteling.</p>
					</div>
				</div>
			<div class="result-block__link-more">Lees verder</div>
				</div>
		<div class="result-block__image-container">
				<div class="result-block__image-hover-overlay">
					<img class="result-block__image" alt="Er was eens een vraagstuk bij de Efteling" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/accountancy/project-efteling-groepspresentatie-460x150-002.jpg/project-efteling-groepspresentatie-460x150-002.jpg/nextweb%3Acontent570x300">
				</div>
			</div>
		</a>
	</li>
					<li class="result-block">
						<a class="result-block__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/projecten/../project-detail/?project=07756eae-2ddf-4cbc-be0a-f07aac2f53c6">
							<div class="result-block__content-container">
								<h3 class="result-block__header">Afstuderen in de evenementenbranche</h3>
								<div class="result-block__content">
									<p>Jessie in t’ Veen studeerde af bij Plugged Productions B.V. Een organisatie die live shows voor de entertainmentbranche verzorgt.</p>
								</div>
								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">
								<div class="result-block__image-hover-overlay">
									<img class="result-block__image" alt="Afstuderen in de evenementenbranche" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/commerciele-economie/plugged-productions460x150.jpg/plugged-productions460x150.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
					<li class="result-block">
						<a class="result-block__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/projecten/../project-detail/?project=24552e6f-1351-4d55-a75c-a61da93a99b2">
							<div class="result-block__content-container">
								<h3 class="result-block__header">Avansstudent doet onderzoek bij Feyenoord</h3>
								<div class="result-block__content">
									<p>Het lukte vierdejaarsstudent Commerciële Economie Mick Steffens om een stageplaats bij Feyenoord te bemachtigen</p>
								</div>
								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">
								<div class="result-block__image-hover-overlay">
									<img class="result-block__image" alt="Avansstudent doet onderzoek bij Feyenoord" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/2016/rotterdam_feyenoord_stadion_2-rechtenvrij.jpg/rotterdam_feyenoord_stadion_2-rechtenvrij.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
					<li class="result-block">
						<a class="result-block__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/projecten/../project-detail/?project=ddd71393-292f-431e-9a5f-93db49a90669">
							<div class="result-block__content-container">
								<h3 class="result-block__header">Marketingonderzoek voor Rivas kraamzorg</h3>
								<div class="result-block__content">
									<p>Aanstaande ouders moeten al vóór de zwangerschap bekend zijn met kraamzorg. Dat blijkt uit onderzoek van Denise van Groenewegen voor Rivas kraamzorg.</p>
								</div>
								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">
								<div class="result-block__image-hover-overlay">
									<img class="result-block__image" alt="Marketingonderzoek voor Rivas kraamzorg" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/commerciele-economie/rivas_kraamzorg.jpg/rivas_kraamzorg.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
					<li class="result-block">
						<a class="result-block__link" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/projecten/../project-detail/?project=7a85f07a-f634-428c-a10a-76490d0ab898">
							<div class="result-block__content-container">
								<h3 class="result-block__header">Waarde creëren met circulaire staalbouw</h3>
								<div class="result-block__content">
									<p>Aniek Akkermans, Lieke de Groot en Nadine Muffels studeerden af bij het lectoraat Sustainable Strategy and Innovation van Avans.</p>
								</div>
								<div class="result-block__link-more">Lees verder</div>
							</div>
							<div class="result-block__image-container">
								<div class="result-block__image-hover-overlay">
									<img class="result-block__image" alt="Waarde creëren met circulaire staalbouw" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/commerciele-economie/afstuderen-aniek-lieke-en-nadine-ce-460x150.jpg/afstuderen-aniek-lieke-en-nadine-ce-460x150.jpg/nextweb%3Acontent570x300">
								</div>
							</div>
						</a>
					</li>
				</ul>
			</section>

			<!-- Pagination -->
			<script>
				function pageNumber(pageNumber) { //function: go to selected pagenumber
					//get current url
					let url = window.location.href;
					//if the ?page=x is in the url, get the part of the url till the ?
					let lengthTillPage = url.indexOf("page=");
					if (lengthTillPage == -1) {
						//page not found, add to go to that page.
						if (url.indexOf("?") == -1)
							url = url.concat("?page=", pageNumber);
						else
							url = url.concat("&page=", pageNumber);
					} else {
						//get the full page=xxxx part
						let gotoPagePart = url.substring(lengthTillPage)
						let tillEndOfPagePart = gotoPagePart.indexOf("&");
						if (tillEndOfPagePart == -1) { //nothing after page=xxx)
							url = url.replace(gotoPagePart, "page=" + pageNumber);
						} else {
							url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
						}
					}
					window.location.href = url;
				}
			</script>

			<footer class="resultpage__footer">
				<h3>
            1 - 4 &nbsp;van&nbsp;4 projecten</h3>
			</footer>

		</article>
	</div>
</main>
