@media all and (max-width: $bp-l) {
    .nav.js-open,
    .nav:target {
        width: 100%;
        opacity: 100%;
        overflow: visible;
        height: calc(100vh - 100px);
        position: absolute;
        z-index: 20;
        top: 100px;
        transition: height .5s;
    }
}
.nav {
  height: 0;
  margin-left: -$spacing;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,.9);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.nav__item {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 $spacing-l;
    .util-nav &:last-child {
        border-right: 0;
    }
}

.nav__item--sub {
  border-bottom: none;
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: $spacing 0;
}
.nav__link--sub {
  @extend .blue-arrow;
  padding-left: $spacing-xl;
  font-weight: normal;
}

// big screen
@media all and (min-width: $bp-l) {
  .nav {
    height: auto;
    width: auto;
    flex-direction: row;
    order: 1;
    overflow: visible;
  }
  .nav__list {
    flex-direction: row;
  }
  .nav__sub {
    position: absolute;
    left: -999em;
    background-color: $avans-blue;
    top: 100px;
    flex-direction: column;
  }
  .nav__sub:after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    background-color: $avans-blue;
    position: absolute;
    left: $spacing-xl;
    top: -5px;
  }
  .nav__item:hover .nav__sub {
    left: -$spacing-s;
  }
  .nav__link--sub {
    color: #fff;
    background-image: url('../../../images/icons/ICON-Arrow-Right-White.svg');
  }
  .nav__item--sub {
    margin: 0 $spacing-l;
    border-bottom: 1px solid rgba(255,255,255,.4);
  }
  .nav__item--sub:last-child {
    border-bottom: 0;
  }
}

.nav__sub {

}



.nav__item:hover .nav_sub {
  height: auto;
}
