$nav-border-color: #eee;
$sub-nav-border-color: rgba(255,255,255,.35);
$nav-gray: #999;
$nav-gray-arrow-color: $nav-gray;
$nav-link-color: $nav-gray;
$nav-link-active-color: #000;

@media all and (max-width: $bp-l) {
	.nav.js-open,
	.nav:target {
		width: 100%;
		overflow: auto;
		height: 100vh;
		min-height: calc(100vh - 100px);
		position: absolute;
		z-index: 20;
		top: 100px;
		left: $spacing;
	}

	.nav__list {
		border-top: 1px solid $nav-border-color;
	}
}

.nav {
	height: 0;
	min-height: 0;
	margin-left: -$spacing;
	display: flex;
	flex-direction: column;
	background-color: rgba(255,255,255,.98);
	//@extend .testing;
}

.nav__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.nav__item {
	border-bottom: 1px solid $nav-border-color;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 0 $spacing-l;

	&:first-child {
		padding-left: $spacing;
	}
}

.nav__item--sub {
	border-top: 1px solid $sub-nav-border-color;
	border-bottom: 0;
}

.nav__item--sub:first-child {

}

.nav__link,
.nav__link--active .nav__link--sub,
.nav__link--sub  {
	color: $nav-link-color;
}

.nav__link {
	text-decoration: none;

	padding: $spacing 0;
}
@media all and (max-width: $bp-l) {
	.nav__link--active,
	.nav__link--sub.nav__link--active {
		color: $nav-link-active-color;
	}
}


.nav__link--sub {
	@extend .blue-arrow;
	padding-left: $spacing;
	font-weight: normal;
}
// big screen
@media all and (min-width: $bp-l) {
	.nav {
		height: auto;
		width: auto;
		flex-direction: row;
		order: 1;
		overflow: visible;
	}

	.nav__list {
		flex-direction: row;
	}

	.nav__item {
		border-bottom: 0;
	}

	.nav__sub {
		width: auto;
		background-color: $avans-blue;
		top: 100px;
		flex-direction: column;
		@include hideVisually();
	}

	.nav__item--has-sub:before {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
		border: 1px solid $nav-gray-arrow-color;
		border-width: 0 1px 1px 0;
		position: absolute;
		left: calc(50% - 8px);
		bottom: 20px;
	}

	.nav__item--has-sub:hover:after {
		content: '';
		display: block;
		width: 11px;
		height: 11px;
		transform: rotate(45deg);
		background-color: $avans-blue;
		position: absolute;
		left: calc(50% - 8px);
		bottom: -5px;
	}

	.nav__sub-opener {
		display: none;
	}

	.nav__item--top-level {
		border-right: 1px solid $nav-border-color;
	}

	.nav__item--top-level:hover > .nav__link {
		color: $avans-blue;
	}

	.nav__item:hover .nav__sub,
	.nav__item:focus .nav__sub{
		left: 0;
		margin-top: 2px;
		padding: 1.25rem 0;
	}

	.nav__item--sub {
		margin: 0 $spacing-l;
		padding: 0 $spacing;
	}

	.nav__item--sub:last-child {
		border-bottom: 1px solid $sub-nav-border-color;
	}

	.nav__link--sub {
		color: #fff;
		background-image: url('../images/icons/ICON-Arrow-Right-White.svg');
		white-space: nowrap;
	}

	.nav__link--sub:hover {
		text-decoration: underline;
	}

	.lang-nav {}
}

.nav__sub {
	height: auto;
}

.nav__item:hover .nav_sub,
.nav__item:focus .nav_sub {
	height: auto;
}
@media all and (max-width: $bp-l) {
	.nav__item--has-sub .nav__sub {
		display: none;
	}

	.nav__sub--opened .nav__sub {
		display: block;
	}

	.nav__item--top-level {
		position: relative;
	}

	.nav__sub-opener {
		//	outline: 1px solid red;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 3rem;
		width: 4rem;
		text-indent: 5rem;
		white-space: nowrap;
		overflow: hidden;
	}

	.nav__sub-opener:after {
		content: '';
		position: absolute;
		right: 1.5rem;
		top: 1rem;
		//outline: 1px solid green;
		width: 9px;
		height: 9px;
		border: 1px solid #333;
		border-width: 0 0 1px 1px;
		transform: rotate(-45deg);
		transition: transform 0.5s ease;
	}

	.nav__sub--opened .nav__sub-opener:after {
		//border-width:  1px 1px 0 0;
		transform: rotate(135deg);
	}
}
