<ul class="main-nav nav__list">
  {{# main-nav }}
    {{> atoms-nav-item }}
  {{/ main-nav }}
</ul>
<!-- / main nav -->
<ul class="lang-nav nav__list">
  {{# lang-nav }}
    {{> atoms-nav-item }}
  {{/ lang-nav }}
</ul>
<a href="#" class="skip-link close-icon">Sluit menu</a>
<!-- / util nav -->
