.main-content--subhome {
	// @extend .testing;
}

.layout-full-width-block__content--subhome {
	//	@extend .testing;
	display: flex;

	justify-content: center;
}

.subhome__content:nth-child(even) {
	background-color: $default-background;
}

.subhome__content {
	margin-bottom: 1rem;
}
@media all and (min-width: $bp-l) {
	.subhome__content:nth-child(even) {
		padding: $spacing-xxl 0;
		.layout-full-width-block__content {
			display: flex;

			align-items: stretch;
			justify-content: space-between;
		}
	}

	.subhome__content--top .vertical-hero {
		outline: 1px solid red;
	}

	.layout-full-width-block__content--subhome {
		.content {
			max-width: 750px;
		}

		.vertical-hero {
			margin-right: 20px;
			margin-left: -375px;
		}
	}
}
@media all and (max-width: $bp-l) {
	.subhome__content:nth-child(1) {
		.layout-full-width-block__content {
			flex-direction: column;
		}
	}

	.subhome__content--top .vertical-hero {
		height: 300px;
		margin: 0 -1rem;

		outline: 1px solid green;
	}

	.layout-full-width-block__content--subhome {
		.content {
			max-width: 100%;
		}

		.vertical-hero {
		}
	}
}
