.active-filters__list {
	border: 1px solid $lighter-gray ;
	border-width: 1px 0;
	padding: .625rem 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.active-filters__label {
	padding-top: .625rem;
	margin-right: 1rem;
}

.active-filters__item {
	margin: 0;
}

.btn--filter {
	border-radius: 30px;
	background-color: $lighter-gray;
	position: relative;
	padding: .625rem 2.5rem .625rem 1rem;
	margin-bottom: .625rem;
}

.btn--filter:after {
	content:'x';
	color: $light-gray;
	position: absolute;
	right: .8rem;
	top: .2rem;
	font-size: $fs-l;
}
