.active-filters__list {
	display: flex;

	margin: 0;
	padding: .625rem 0 0 0;

	border: 1px solid $lighter-gray;
	border-width: 1px 0;

	flex-wrap: wrap;
}

.active-filters__label {
	margin-right: 1rem;
	margin-bottom: .625rem;
	padding-top: .75rem;
}

.active-filters__item {
	height: 2.5rem;
	margin: 0 0 .625rem;
}

.active-filters__label,
.btn--filter {
	font-size: $fs-s;
}

.btn--filter {
	position: relative;

	padding: .75rem 2.5rem .75rem 1rem;

	border-radius: 30px;
	background-color: $lighter-gray;
}

.btn--filter:after {
	font-size: $fs-l;

	position: absolute;
	top: .3rem;
	right: .8rem;

	content: '+';
	transform: rotate(45deg);

	color: $light-gray;
}

.btn--filter:hover {
	cursor: pointer;
}

.btn--filter:hover:after {
	color: $avans-blue;
}
