dl {
	outline: 1px solid red;
	display: flex;
}

.btn--filter {
	border-radius: 30px;
	background-color: #eeeeee;
	position: relative;
}

.btn--filter:after {
	content:'x';
	color: #999;
	font-size: 1.5rem;
}
