<form action="#" method="get" class="active-filters__container">
	<dl class="active-filters__list">
		<dt class="active-filters__label">{{ filter-label }}</dt>
		{{# filters }}
			<dd class="active-filters__item">
				{{> atoms-button}}
			</dd>
		{{/ filters }}
	</dl>
</form>
