<div class="content" role="main">

	<header class="ec-banner mt-10 bg-cover bg-overlay" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/expertisecentrumsustainableenergy.jpg/expertisecentrumsustainableenergy.jpg/nextweb%3AbannerHigh'); background-color: rgba(0, 0, 0, 0.20);" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="titles-container">
          <div class="titles">
            <h2 class="ec-subtitle">EXPERTISECENTRUM</h2>
            <h1 class="ec-title">Sustainable Business</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3">
    <div id="research_menu" class="ec-menu xs-collapsed sm-collapsed">
        <div class="current-location">
            <span>Introductie</span>
        </div>

        <ul>
<li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/introductie">Introductie</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/introductie">Introductie</a>
            </li>
        <li class="active">
                <a class="visible-xs visible-sm">Lectoraten<span class="count pull-right">6</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoraten">Lectoraten<span class="count pull-right">6</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoren">Lectoren<span class="count pull-right">6</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoren">Lectoren<span class="count pull-right">6</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/deelnemers">Deelnemers<span class="count pull-right">41</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/deelnemers">Deelnemers<span class="count pull-right">41</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/projecten">Projecten<span class="count pull-right">18</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/projecten">Projecten<span class="count pull-right">18</span>
                    </a>
            </li>
        <li class="">&nbsp;</li><li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/nieuws">Nieuws</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/nieuws">Nieuws</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/publicaties">Publicaties</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/publicaties">Publicaties</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/blog">Blog</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/blog">Blog</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/contact">Contact</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/contact">Contact</a>
            </li>
        </ul>

    </div>
    </div>


<script src="/js/backtooverview.js"></script>

<div class="col-xs-12 col-sm-8 col-md-6">
    <div class="le-header">
        <h2 class="le-title">lectoraten</h2>
    </div>
    <section class="ec-content">























<form id="postForm" method="POST">
                <input type="hidden" id="origin" name="origin" value="/onderzoek/expertisecentra/sustainable-business/lectoraten">





















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/improvingbusiness.jpg/improvingbusiness.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">Improving Business </h2>

        <p>Programma’s als Lean Management en Six Sigma helpen bij het duurzaam verbeteren van processen.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/improving-business');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article>




















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/internationalbusiness.jpg/internationalbusiness.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">International Business </h2>

        <p>Jonge internationale bedrijven hebben belang bij effectief samenwerken in duurzame netwerken.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/international-business');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article>




















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/newmarketing.jpg/newmarketing.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">New Marketing </h2>

        <p>Digitalisering en social media verbreden de beschikbare marketingtools op een duurzame manier.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/new-marketing');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article>




















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/sustainable-finance-and-accounting.jpg/sustainable-finance-and-accounting.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">Sustainable Finance and Accounting </h2>

        <p>Vernieuwing van het financieel-economische systeem leidt tot meer duurzaamheid.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/sustainable-finance-and-accounting');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article>




















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/sustainablestrategyandinnovation.jpg/sustainablestrategyandinnovation.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">Sustainable Strategy and Innovation </h2>

        <p>Bedrijven moeten duurzaamheid strategisch benaderen en doorvertalen naar winstgevende businesmodellen.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/sustainable-strategy-and-innovation');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article>




















 <article class="le-article clearfix">
    <div class="le-article-media bg-cover">

            <div class="le-article-image bg-cover" style="background-image: url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/swo.jpg/swo.jpg/nextweb%3Acontent300');"></div>

    </div>

    <div class="le-article-body xs-mt-20">

        <h2 class="mt-0">Sustainable Working and Organising </h2>

        <p>Duurzaam ontwikkelen vraagt om technologische en economische innovatie en het samenbrengen daarvan.</p>
        <a href="javascript:postForm('/onderzoek/expertisecentra/sustainable-business/lectoraten/sustainable-working-and-organising');" class="btn btn-red pull-left">Meer informatie</a>
    </div>
</article><a href="javascript:document.getElementById('back-link').submit()"></a>
            </form>
            </section>
</div>

<script src="/js/backtooverview.js"></script>

<script type="text/javascript">

        var twitterInterval=6000;

  var asyncTwitterUrl = "/twitterfeeds-async?twitterId=be626d18-7319-4cc0-ba69-5d883c3ee847&amp;nrOftweets=10@nextweb:twitterAuthenticationData";

</script>
<div class="col-xs-12 col-sm-4 col-md-3">

  <div class="widgets">










        <!-- Small Widget -->
        <div class="widget-red half mt-30">
            <h2 class="item-title">Laat uw onderzoek doen door dit Expertisecentrum</h2>
            <div class="actions">





                    <a href="http://www.formdesk.com/omnismart/onderzoeksvraag_ESB" class="btn-black sink-right">Neem contact op</a>

            </div>
        </div>
















        <!-- Big widget -->



        <div class="widget-image bg-cover bg-overlay" style="background-image:url('/binaries/content/gallery/nextweb/onderzoek-nieuw/sustainable-business/minorstudenten-continu-verbeteren.jpg/minorstudenten-continu-verbeteren.jpg/nextweb%3Asquare');">
            <h2 class="item-title">Continu Verbeteren</h2>
            <p></p><p>Symposium op 24 januari</p><p></p>




                <a href="/onderzoek/expertisecentra/sustainable-business/evenementen/symposium/symposium-continu-verbeteren-2018" class="btn-red sink-right">Meer info</a>

        </div>


<div class="widget-news">
          <h2>Nieuws</h2>
          <ul>
              <form id="postFormNews" method="POST">
                  <input type="hidden" id="origin" name="origin" value="/onderzoek/expertisecentra/sustainable-business/nieuws">

                  <li>
                    <a href="javascript:postFormWithFormname('postFormNews','/onderzoek/expertisecentra/sustainable-business/nieuws/2017/10/sociale-innovatie---club-kruimel');" onclick="_gaq.push(['_trackEvent', 'Research News Widget', 'NewsItem clicked', 'Sociale innovatie']);">Sociale innovatie</a>
                    <div class="when">
                      11 oktober 2017</div>
                  </li>
                 <li>
                    <a href="javascript:postFormWithFormname('postFormNews','/onderzoek/expertisecentra/sustainable-business/nieuws/2017/09/meld-je-aan-voor-de-minor-onderzoek-in-sustainable-business');" onclick="_gaq.push(['_trackEvent', 'Research News Widget', 'NewsItem clicked', 'Minor Onderzoek in Sustainable Business']);">Minor Onderzoek in Sustainable Business</a>
                    <div class="when">
                      20 september 2017</div>
                  </li>
                 </form>
            <li>
           <a href="/onderzoek/expertisecentra/sustainable-business/nieuws" class="caret" onclick="_gaq.push(['_trackEvent', 'Research News Widget', 'More news clicked', 'Sustainable Business']);">Meer nieuws</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
<div id="research_menu_duplicate" class="col-xs-12 visible-xs-block"><div class="ec-menu"><div class="titles">
            <h2 class="ec-subtitle">EXPERTISECENTRUM</h2>
            <h1 class="ec-title">Sustainable Business</h1>
          </div>


        <ul>
<li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/introductie">Introductie</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/introductie">Introductie</a>
            </li>
        <li class="active">
                <a class="visible-xs visible-sm">Lectoraten<span class="count pull-right">6</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoraten">Lectoraten<span class="count pull-right">6</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoren">Lectoren<span class="count pull-right">6</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/lectoren">Lectoren<span class="count pull-right">6</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/deelnemers">Deelnemers<span class="count pull-right">41</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/deelnemers">Deelnemers<span class="count pull-right">41</span>
                    </a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/projecten">Projecten<span class="count pull-right">18</span>
                    </a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/projecten">Projecten<span class="count pull-right">18</span>
                    </a>
            </li>
        <li class="">&nbsp;</li><li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/nieuws">Nieuws</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/nieuws">Nieuws</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/publicaties">Publicaties</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/publicaties">Publicaties</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/blog">Blog</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/blog">Blog</a>
            </li>
        <li class="">
                <a class="visible-xs visible-sm" href="/onderzoek/expertisecentra/sustainable-business/contact">Contact</a>
                <a class="hidden-xs hidden-sm" href="/onderzoek/expertisecentra/sustainable-business/contact">Contact</a>
            </li>
        </ul>

    </div></div>
		</div>
	</div>
</div>
