<div
	role="tabpanel"
	data-tabgroup="{{ tab-group }}"
	aria-labelledby="id-{{ tab-id }}"
	class="tab__content"
	id="section-{{ tab-id }}"
	{{^ tab-selected }}
		hidden
	{{/ tab-selected }}>
	{{{ tab-content }}}
</div>
