.faq__question::-webkit-details-marker {
	display: none;
}
.faq__question {
	position: relative;

	display: block;
	&:after {
		line-height: 1;

		position: absolute;
		top: 0;
		right: 0;

		display: block;

		width: 1rem;
		height: 1rem;

		content: '^';
		transition: .2s transform ease;
		transform-origin: 50% 50% 0;
		text-align: center;

		color: #fff;
		border: 1px solid $light-gray;
		border-radius: 1rem;
		background-color: $light-gray;
		[open] & {
			transform: rotate(180deg);

			border-color: $avans-blue;
			background-color: $avans-blue;
		}
	}
	&:focus,
	&:hover {
		color: $avans-blue;
	}
}

.faq {
	margin: $spacing;
}
