<figure class="image__container {{ container-class }}">
	<img
		src="{{ img-src }}"
		class="image {{ image-class }}"
		srcset="{{# srcSet }} {{ src }} {{ res }}, {{/ srcSet }}"
		{{# sizes }}
		 	sizes=" {{# sizes }} {{ mq }} {{ len }},{{/ sizes }} 100vw"
		{{/ sizes }}/>
</figure>
