<div class="image__container {{ container-class }}">
	<img class="image {{ image-class }} {{# sizes }} image--sizes{{/ sizes }}" alt="{{ alt }}" srcset="{{# img-srcSet }} {{ src }} {{ res }}, {{/ img-srcSet }}" {{# sizes }} sizes="{{# sizes }} {{ mq }} {{ len }},{{/ sizes }} 100vw" {{/ sizes }}  src="{{ img-src }}" />
</div>
