<li
  class="nav__item nav__item--top-level {{# sub }}nav__item--has-sub {{# active }} nav__sub--opened{{/ active }}{{/ sub }}">
  <a
    class="nav__link nav__link--top-level {{# active }} nav__link--active{{/ active }}"
    href="{{ href }}">
    {{ content }}
  </a>
  {{# sub }}
    <ul class="nav__sub nav__list">
      {{# items }}
      <li class="nav__item nav__item--sub"><a
        class="nav__link nav__link--sub"
        href="{{ href }}">
        {{ content }}
      </a></li>
      {{/ items }}
    </ul>
    {{/ sub }}
</li>
<!-- /nav-item -->
