<li
  class="nav__item">
  <a
    class="nav__link"
    href="{{ href }}">
    {{ content }}
  </a>
  {{# sub }}
    <ul class="nav__sub">
      {{# items }}
      <li><a
        class="nav__link"
        href="{{ href }}">
        {{ content }}
      </a></li>
      {{/ items }}
    </ul>
    {{/ sub }}
</li>
<!-- /nav-item -->
