/*
dkdkd
*/
.page-menu-block__header {
	font-size: $page-menu-header;

	text-transform: uppercase;
}

.page-menu__list {
	margin-bottom: $spacing-xxl;

	@include reset-list();
}
// combat 2017 css
.page-menu__item {
	line-height: 1.2;

	position: relative;

	padding: $spacing 0 $spacing $spacing-xl;

	border-top: 1px solid $lighter-gray;
	&.has-sublevel.open {
		padding-bottom: 0;
	}
}

.page-menu__item {
	ul {
		@include reset-list();
	}
	.toggle {
		position: absolute;
		top: 1rem;
		right: 0;
	}
}

.page-menu__item:before {
	position: absolute;
	top: 23px;
	left: 8px;

	width: 5px;
	height: 5px;

	content: '';
	transform: rotate(45deg);

	border: 1px solid $avans-blue;
	border-width: 1px 1px 0 0;
}

.page-menu__item:last-child {
	border-bottom: 1px solid $lighter-gray;
	// 2017
	.has-sublevel & {
		border-bottom: 0;
	}
}

.page-menu__link {
	font-size: $fs-s;

	text-decoration: none;

	color: $light-gray;
}

.page-menu__link--active {
	color: $text-color;
}

.page-menu__link:hover {
	color: $avans-blue;
}

.page-menu {
	position: relative;
	ul {
		margin-top: 1rem;
	}
}

.page-menu {
	.btn,
	.close-icon {
		display: none;
	}
}

.toggle {
	overflow: hidden;

	width: 17px;
	height: 17px;

	white-space: nowrap;
	text-indent: 2rem;

	border-radius: 8px;
	background-color: $light-gray;
	background-image: none;

	@include small-arrow(#fff, 135deg);

	&:after {
		top: 3px;
		left: 4px;

		transition: top .2s ease, transform .2s ease;
	}

	.open &,
	&:hover {
		background-color: $avans-blue;
		&:after {
			top: 5px;

			transform: rotate(-45deg);
		}
	}
	// 2017
	.accordion & {
		top: 1rem;
	}
}


// combatting 2017 code
.accordion {
	a.active {
		background-color: transparent;
	}
	ul {
		padding-left: 0;
	}
	a {
		text-decoration: none;
	}
}
@media all and (max-width: $bp-xl) {
	.page-menu__container {
		position: relative;
		left: -999em;

		width: 100vw;
		height: 0;

		order: 2;

		&.js-open,
		:target & {
			z-index: 0;
			left: 0;

			height: auto;
			margin-top: 1rem;

			border-top: 1px solid $lighter-gray;
		}
	}

	.nav-link.clicked {
		text-indent: 0;
	}

	.page-menu {
		display: flex;
		//margin: 1rem 0;

		padding-top: 0;

		border: 1px solid $lighter-gray;
		border-width: 1px 0;

		justify-content: space-between;
		flex-wrap: wrap;


		.btn,
		.close-icon {
			display: inline-block;

			max-height: 3rem;
		}

		.close-icon {
			position: absolute;
			top: -4rem;
			left: 0;

			visibility: hidden;

			border-right: 0;
		}

		.btn {
			// position: absolute;
			// top: 1rem;
			// right: 0;
			//
			// order: 1;
			margin-top: .625rem;
		}

		.nav-link {
			font-size: $fs;

			position: relative;

			display: block;

			width: auto;
			height: 4.3rem;
			margin-right: 1rem;
			padding: 1.6rem 2rem 0 3rem;

			text-transform: none;

			border-right: none;
			background-position: 1rem;
		}

		.nav-link:after {
			position: absolute;
			top: 1.625rem;
			right: 2px;

			display: inline-block;

			width: 9px;
			height: 9px;

			content: '';
			transform: rotate(45deg);

			border: 1px solid $avans-blue;
			border-width: 0 1px 1px 0;
		}
		.clicked:after {
			top: 1.825rem;

			transform: rotate(-135deg);
		}

		.skip-link {
			background-size: 1rem;
		}
	}
}

.page-menu--clone {
	.btn--primary,
	.skip-link {
		display: none;
	}

	.page-menu__container {
		left: 0;

		height: auto;
	}
}
@media all and (min-width: $bp-xl) {
	.page-menu--clone {
		display: none;
	}
}

@media all and (max-width: $bp-m) {
	.page-menu {
		flex-direction: row;
	}
}
