/*
dkdkd
*/
.page-menu-block__header {
	font-size: $page-menu-header;
	text-transform: uppercase;
}

.page-menu__list {
	list-style: none;
	padding-left: 0;
	margin-bottom: $spacing-xxl;
}

.page-menu__item {
	border-top: 1px solid $lighter-gray;
	padding: $spacing 0 $spacing $spacing-xl;
	position: relative;
}

.page-menu__item:before {
	content: "";
	width: 5px;
	height: 5px;
	border: 1px solid $avans-blue;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
	position: absolute;
	top: 23px;
	left: 8px;
}

.page-menu__item:last-child {
	border-bottom: 1px solid $lighter-gray;
}

.page-menu__link {
	font-size: $fs-s;
	color: $light-gray;
}

.page-menu__link--active {
	color: $text-color;
}

.page-menu__link:hover {
	color: $avans-blue;
}

.page-menu {
	position: relative;
	//@extend .testing;
}

.page-menu {
	.btn,
	.close-icon {
		display: none;
	}
}
@media all and (max-width: $bp-xl) {
	.page-menu__container {
		width: 100vw;
		order: 2;
		position: relative;
		height: 0;
		left: -999em;

		&.js-open,
		:target & {
			left: 0;
			height: auto;
			margin-top: 1rem;
			border-top: 1px solid $lighter-gray;
			z-index: 0;
		}
	}

	.nav-link.clicked {
		text-indent: 0;
	}

	.page-menu {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid $lighter-gray;
		border-width: 1px 0;
		//margin: 1rem 0;
		padding-top: 0;

		.btn,
		.close-icon {
			display: inline-block;
			max-height: 3rem;
		}

		.close-icon {
			position: absolute;
			left: 0;
			top: -4rem;
			border-right: 0;
			visibility: hidden;
		}

		.btn {
			position: absolute;
			right: 0;
			top: 1rem;
			order: 1;
			align-self: flex-end;
		}

		.nav-link {
			width: auto;
			height: 4.3rem;
			padding-top: 1.5rem;
			text-transform: none;
			font-size: $fs;
			padding-left: 3rem;
			background-position: 1rem;
			border-right: none;
		}

		.nav-link:after {
			content: '';
			border: 1px solid $avans-blue;
			width: 9px;
			height: 9px;
			transform: rotate(45deg);
			display: inline-block;
			margin-left: 1rem;
			border-width: 0 1px 1px 0;
		}
		.clicked:after {
			transform: rotate(135deg);
		}

		.skip-link {
			background-size: 1rem;
		}
	}
}

.page-menu--clone {
	.btn--primary,
	.skip-link {
		display: none;
	}

	.page-menu__container {
		left: 0;
		height: auto;
	}
}
@media all and (min-width: $bp-xl) {
	.page-menu--clone {
		display: none;
	}
}
