/*
dkdkd
*/
.page-menu-block__header {
	font-size: $page-menu-header;

	text-transform: uppercase;
}

.page-menu__list {
	margin-bottom: $spacing-xxl;
	padding-left: 0;

	list-style: none;
}

.page-menu__item {
	position: relative;

	padding: $spacing 0 $spacing $spacing-xl;

	border-top: 1px solid $lighter-gray;
}

.page-menu__item:before {
	position: absolute;
	top: 23px;
	left: 8px;

	width: 5px;
	height: 5px;

	content: '';
	transform: rotate(45deg);

	border: 1px solid $avans-blue;
	border-width: 1px 1px 0 0;
}

.page-menu__item:last-child {
	border-bottom: 1px solid $lighter-gray;
}

.page-menu__link {
	font-size: $fs-s;

	color: $light-gray;
}

.page-menu__link--active {
	color: $text-color;
}

.page-menu__link:hover {
	color: $avans-blue;
}

.page-menu {
	position: relative;
	//@extend .testing;
}

.page-menu {
	.btn,
	.close-icon {
		display: none;
	}
}
@media all and (max-width: $bp-xl) {
	.page-menu__container {
		position: relative;
		left: -999em;

		width: 100vw;
		height: 0;

		order: 2;

		&.js-open,
		:target & {
			z-index: 0;
			left: 0;

			height: auto;
			margin-top: 1rem;

			border-top: 1px solid $lighter-gray;
		}
	}

	.nav-link.clicked {
		text-indent: 0;
	}

	.page-menu {
		display: flex;
		//margin: 1rem 0;

		padding-top: 0;

		border: 1px solid $lighter-gray;
		border-width: 1px 0;

		flex-wrap: wrap;

		.btn,
		.close-icon {
			display: inline-block;

			max-height: 3rem;
		}

		.close-icon {
			position: absolute;
			top: -4rem;
			left: 0;

			visibility: hidden;

			border-right: 0;
		}

		.btn {
			position: absolute;
			top: 1rem;
			right: 0;

			order: 1;
			align-self: flex-end;
		}

		.nav-link {
			font-size: $fs;

			width: auto;
			height: 4.3rem;
			padding-top: 1.5rem;
			padding-left: 3rem;

			text-transform: none;

			border-right: none;
			background-position: 1rem;
		}

		.nav-link:after {
			display: inline-block;

			width: 9px;
			height: 9px;
			margin-left: 1rem;

			content: '';
			transform: rotate(45deg);

			border: 1px solid $avans-blue;
			border-width: 0 1px 1px 0;
		}
		.clicked:after {
			transform: rotate(135deg);
		}

		.skip-link {
			background-size: 1rem;
		}
	}
}

.page-menu--clone {
	.btn--primary,
	.skip-link {
		display: none;
	}

	.page-menu__container {
		left: 0;

		height: auto;
	}
}
@media all and (min-width: $bp-xl) {
	.page-menu--clone {
		display: none;
	}
}
