<nav class="page-menu {{ page-menu-class }}">
	{{# page-menu-block }}
	<h3 class="page-menu-block__header">{{ block-title }}</h3>
	<ul class="page-menu__list">
		{{# items }}
		<li class="page-menu__item">
			<a href="{{ href }}" class="page-menu__link {{# active }}page-menu__link--active{{/ active }}">{{ text }}</a>
		</li>
		{{/ items }}
	</ul>
	{{/ page-menu-block }}
</nav>
