{{> organisms-header }} {{> organisms-submenu }}

<main class="layout-full-width-block main-content notfound ">
	<div class="l-container">



		<article class="main-content simple-content-page__content">
			<!-- [AB] Lijst artikelen 2CP -->
<section class="notfound__content">
			<h1>Pagina niet gevonden</h1>
			<p class="article__meta">404 Redirect</p>
			<h2>Mogelijke oorzaken</h2>
			<ul>
				<li>Je bent hier gekomen via een niet-werkende link, <a href="http:/www.google.com">geef het ons door</a></li>
				<li>Als je zelf de url hebt getypt, controleer dan de spelling</li>
				<li>Er zijn werkzaamheden op de Avans server</li>
			</ul>
			<br>
			<h2>Dit kun je doen</h2>
			<ul>
				<li>Navigeer via het menu bovenaan deze pagina</li>
				<li>Doorzoek de website</li>
			</ul>
			<p>Excuus voor het ongemak!</p>
</section>

		</article>
	</div>
</main>


{{> organisms-footer }}
