<div class="open-dag">
	<h4 class="open-dag__header">{{header}}</h4>
	<p class="open-dag__time">{{ datum }},<time>{{time}}</time>
	<em class="open-dag__location">{{ location }}</em></p>
	<a href="{{ call-to-action.href }}" class="btn btn--primary btn--open-dag">
		{{ call-to-action.text }}
	</a>
</div>
