.btn {
	font-size: $fs;

	margin-right: $spacing;
	padding: $spacing;

	border: 0;
}

.btn--image-block,
.btn--primary {
	color: $white;
}
.btn--primary {
	background-color: $avans-red;
}
.btn--open-dag,
.btn--image-block {
	background-color: $text-color;
}

.btn--open-dag {
	display: inline-block;
}
.btn--hidden {
	position: absolute;
	left: -999em;
}

.btn--widget {
	width: 100%;
}

a.btn--widget {
	display: block;

	text-align: center;
}


@media all and (max-width: $bp-xs) {
	.btn:not(.btn--page-menu) {
		width: 100%;
	}
	.btn + .btn {
		margin-top: 1rem;
	}
}
