.btn {
  padding: $spacing;
  margin-right: $spacing;
  border: 0;
  font-size: 1rem;
}

.btn--image-block,
.btn--primary {
  color: #fff;
}
.btn--primary {
  background-color: $avans-red;
}
.btn--image-block {
  background-color: #000;
}
.btn--hidden {
	position: absolute;
	left:-999em;
}


@media all and (max-width: $bp-xs) {
	.btn {
		width: 100%;
	}
    .btn + .btn {
        margin-top: 1rem;
    }
}
