.btn {
	font-size: $fs;

	margin-right: $spacing;
	padding: .5rem $spacing;

	border: 0;
}

a.btn {
	text-decoration: none;
}

.btn--open-dag,
.btn--image-block,
.btn--primary {
	color: $white;

	&:hover {
		color: $white;
	}
}
.btn--primary {
	background-color: $avans-red;
	&:hover {
		background-color: $text-color;
	}
}
.btn--open-dag,
.btn--image-block {
	background-color: $text-color;
	&:hover {
		background-color: $avans-blue;
	}
}

.btn--open-dag {
	display: inline-block;

	margin-bottom: .625rem;
}
.btn--hidden {
	position: absolute;
	left: -999em;
}

.btn--widget {
	// size matters
	width: 248px;
	max-width: 100%;
	margin-top: 1rem;
}

a.btn--widget {
	display: block;

	text-align: center;
}


@media all and (max-width: $bp-xs) {
	.btn:not(.btn--page-menu) {
		width: 100%;
	}
	.btn + .btn {
		margin-top: 1rem;
	}
}
