<div class="footer-links__list-block">
	<h4 class="footer-links__header">{{ share-header }}</h4>
	<ul class="footer-links__list footer-links__list--share">
		{{# share }}
			<li class="footer-link__item  footer-link__item--icon  footer-link__item--share footer-link__item--{{ item }}">
				<a href="{{ href }}" title="{{ item }}" class="footer-link__link footer-link__link--icon footer-link__link--{{ item }}">
					{{ item }}
				</a>
			</li>
		{{/ share }}
	</ul>
</div>
