:root {
--min-height: 348px;
--min-width: calc(--min-height * 1.5);
}



.hero-home {
	height: var(--min-height);
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	@extend .testing;
}

@media all and (min-width: $bp-s) and  (max-width: $bp-m) {
}


.hero-home__content {
	position: absolute;
	top: 150px;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.header--hero-home {
	max-width: $width__overal;
	margin: 0 auto;
}
.header--hero-home .header__text {
	color: $white;
	max-width: 500px;
	text-transform: uppercase;
	&:after {
		content : var(--min-height);
	}
}
.hero-home__image {
	width: 100%;
	min-width: var(--min-width);
	max-width: 1920px;
}


@media all and (min-width: $bp-s) and  (max-width: $bp-l) {
	:root {
	--min-height: 496px;
	--min-width: calc(--min-height * 1.5);
	}
}

@media all and (min-width: $bp-l) {
	:root {
	--min-height: 600px;
	--min-width: calc(--min-height * 1.5);
	}
	.hero-home__image {
		margin-top: -50px;
	}
}
