<div class="hero layout-full-width-block">
	{{# hero-image }}
		{{> atoms-image }}
	<!-- / hero image -->
	{{/ hero-image }}

	<div class="hero__content">
		<h1 class="header--hero header">
	      <span class="header__text">
	        {{ hero-title }}
	       </span>
	       <!-- / header text -->
	     </h1>
		<!-- / hero header -->
	</div>
	<!-- / hero content -->

</div>
<!-- / hero -->
