{{> organisms-header }} {{> organisms-submenu }}
<div class="landing-page">
<div id="slides" class="box box-carousel medium">

	<div class="slides_container multiple">

		<section class="slide text">
			<div class="outer">
				<div class="inner">
					<p>HANDEN UIT DE MOUWEN</p>
					<p>IN ONZE REGIO.</p>
				</div>
			</div>
		</section>
	</div>
</div>

<div id="main" class="layout-2col">

	<div class="container_12">
		<div class="grid_6 equal-heights-body">

			<div class="hst-container content-page__aside-container">
				<div class="hst-container-item">
					<div class="grid_6">
						<section class="box box-editorial hentry ">
							<h2>Bedrijven &amp; instellingen</h2>
							<div class="body entry-content">
								<p>Avans Hogeschool werkt intensief samen met het regionale bedrijfsleven. Gezamenlijk bundelen we onze krachten. We denken mee over het oplossen van ondernemersvraagstukken. En leveren kennis. Bijvoorbeeld als u een praktijkopdracht heeft of een
									onderzoeksvraag. Of als u een stagiair zoekt.
								</p>
							</div>
						</section>
					</div>
				</div>
				<div class="hst-container-item">
					<div class="grid_6">
						<section class="box box-editorial style-highlight">
							<h3>Stel direct uw vraag of neem contact op:</h3>
							<div class="entry-content">
								<p>088 - 525 77 37 - <a href="http://webcms-test.avans.nl/bedrijven-en-instellingen/het-loket/contact">contactgegevens</a>
								</p>
							</div>

							<form action="/bedrijven-en-instellingen/het-loket/stel-uw-vraag" method="get">
								<textarea name="question" maxlength="500" placeholder="Uw vraag..." rows="5" wrap="soft"></textarea>

								<div class="buttons">
									<input type="submit" value="Verder">
								</div>
							</form>
						</section>
					</div>
				</div>
			</div>
			<div class="container_6 equal-heights equal-heights-body">

				<div class="hst-container">
					<span class="hst-container-item">
                <div class="grid_3">
  </div>
                </span>
					<span class="hst-container-item">
                <div class="grid_3">

    <section class="box box-editorial box-content-list-small box-teaser-list">
        </section>
</div>
                </span>
				</div>
			</div>
		</div>
		<div class="grid_6 equal-heights-body equal-heights">

			<div class="hst-container content-page__aside-container">
				<div class="hst-container-item">
					<div class="grid_6">
						<section class="box box-team-member style-highlight">
							<figure>
								<img src="http://www.avans.nl/binaries/content/gallery/nextweb/bedrijven--instellingen/widgets-bi/ondernemen290x310.jpg" alt="Ondernemerscentrum">
							</figure>
							<div class="body">
								<h3>Ondernemerscentrum</h3>
								<div class="description">
									Het <a href="http://webcms-test.avans.nl/bedrijven-en-instellingen/ondernemen/avans-ondernemerscentrum" title="avans ondernemerscentrum">Avans Ondernemerscentrum</a> (AOC) is het loket voor bedrijven en instellingen. U kunt bij ons terecht voor
									vragen.</div>
							</div>
						</section>
					</div>
				</div>
				<div class="hst-container-item">
					<div class="grid_6">
					</div>
				</div>
				<div class="hst-container-item">
					<div class="grid_6">
						<section class="box box-team-member style-highlight">
							<figure>
								<img src="http://www.avans.nl/binaries/content/gallery/nextweb/bedrijven--instellingen/widgets-bi/stage-en-afstudeer.jpg" alt="Stages en opdrachten">
							</figure>
							<div class="body">
								<h3>Stages en opdrachten</h3>
								<div class="description">
									<p>U zoekt een <a href="http://www.avans.nl/bedrijven-en-instellingen/stages-en-opdrachten" title="Stages en opdrachten">stagiair of heeft een opdracht</a>.&nbsp;Wij vinden samen&nbsp;met u een goede match.
									</p>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="hst-container-item">
					<div class="grid_6">
						<section class="box box-team-member style-highlight">
							<figure>
								<img src="http://www.avans.nl/binaries/content/gallery/nextweb/bedrijven--instellingen/widgets-bi/widgetevc120x120.jpg" alt="Samenwerken in de regio">
							</figure>
							<div class="body">
								<h3>Samenwerken in de regio</h3>
								<div class="description">
									<p class="MsoNormal"><span lang="NL" style="font-size: 9.0pt;font-family:&quot;Verdana&quot;,sans-serif;mso-ansi-language:NL">U bent benieuwd naar onze innovatieve bijdragen voor de regio. Bekijk in welke <a href="http://webcms-test.avans.nl/bedrijven-en-instellingen/samenwerken-in-de-regio" title="Samenwerken in de regio">kennisnetwerken</a> Avans een rol speelt en wat dat oplevert.<o:p></o:p></span>
									</p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
</div>
{{> organisms-footer }}
