{{> organisms-header }}
{{> organisms-submenu }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
						<a href="#page-menu" class="skip-link nav-link">Jaarverslag 2016</a>
						<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/over-avans/organisatie">Organisatie</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/organisatie/avans-hogeschool">Onderwijs en kwaliteit</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/over-avans/organisatie/bestuur">Bestuur</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/bestuur/raad-van-toezicht">Raad van Toezicht</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/bestuur/college-van-bestuur">College van Bestuur</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/bestuur/medezeggenschap">Medezeggenschap</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/organisatie/governance">Governance</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/organisatie/anbi-status">Anbi-status</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/over-avans/organisatie/duurzaamheid">Avans Duurzaam</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/duurzaamheid/onderwijs-en-onderzoek">Onderwijs en onderzoek</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/duurzaamheid/bedrijfsvoering">Bedrijfsvoering</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/duurzaamheid/omgeving">Omgeving</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/duurzaamheid/greenoffice">GreenOffice</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/organisatie/avans-in-cijfers">Avans in cijfers</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/organisatie/nieuwbouw">Bouwprojecten</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/over-avans/organisatie/leveranciers">Leveranciers</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/leveranciers/inkoop-en-aanbesteding">Inkoop</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/leveranciers/facturen-en-betalingen">Facturen</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item has-sublevel open">
													<a class="page-menu__link  active page-menu__link--active" href="/over-avans/organisatie/jaarverslag-2016">Jaarverslag 2016</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul>
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/over-avans/organisatie/jaarverslag-2016/jaarverslagen">Jaarverslagen</a>
																	</li>
																</ul>
												</li>
											</ul>
							<a href="#" class="skip-link close-icon">Verberg het menu</a>
						</div>
					</nav>

				<article class="main-content content-page__content">
					<h1 class="entry-title">Jaarverslag 2016</h1>
					<!-- [AB] Lijst artikelen 3CP -->
					<p>In het jaarverslag laat Avans Hogeschool zien hoe we bij alles wat we doen meerwaarde creëren voor de samenleving. En op welke manieren we daar invulling aan geven.</p>









































        <div>Bekijk het <a href="http://www.avans.nl/binaries/content/assets/nextweb/over-avans/organisatie/jaarverslag_2016_avans_hogeschool.pdf" title="Jaarverslag 2016">jaarverslag</a> en de <a href="http://www.avans.nl/binaries/content/assets/nextweb/over-avans/organisatie/jaarrekening_2016_avans_hogeschool.pdf" title="jaarrekening 2016">jaarrekening</a> 2016.
</div>











































    <section class="resultpage__content">
        <ul class="result__list result__list--grid">


                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/de-beste-zijn-en-blijven" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">We willen de beste zijn en blijven</h2>



                                <div class="result-block__content">
                                        Sinds 1 december is ze lid van het College van Bestuur. Maar nieuw voelt Jacomine Ravensbergen zich niet meer. “Natuurlijk leer ik elke week nog iets nieuws. Tegelijkertijd is het werk vanaf dag 1 begonnen.”
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/jacomine.jpg/jacomine.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/vijfde-keer-nummer-1" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">Voor de vijfde keer nummer 1</h2>



                                <div class="result-block__content">
                                        Avans Hogeschool was in 2016 opnieuw de beste grote hogeschool van Nederland. Dat bleek uit de Keuzegids Hbo 2017 die in september verscheen.
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/keuzegids---beste-hpgeschool.jpg/keuzegids---beste-hpgeschool.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/modern-onderwijs" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">Modern onderwijs</h2>



                                <div class="result-block__content">
                                        Avans Hogeschool wil modern onderwijs bieden dat startbekwame en toekomstbestendige professionals aflevert. Om dat te bereiken richten wij ons op 6 thema’s.
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/onderwijs-2.jpg/onderwijs-2.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/avans-duurzaam" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">Avans Duurzaam</h2>



                                <div class="result-block__content">
                                        Avans leidt professionals op die later het verschil maken. In uiteenlopende vakgebieden, maar altijd met het oog op de toekomst. We leveren studenten af die een duurzame bijdrage leveren aan de samenleving en daarbij aandacht hebben voor mens, milieu en welvaart.
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/duurzaam.jpg/duurzaam.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/onderzoek-helpt-maatschappij-en-onderwijs" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">Onderzoek helpt maatschappij en onderwijs</h2>



                                <div class="result-block__content">
                                        Avans ontwikkelt nieuwe kennis die het onderwijs en de samenleving ten goede komt. Studenten, docenten en lectoren van Avans doen hiervoor praktijkgericht onderzoek, samen met bedrijven, overheden en maatschappelijke organisaties.
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/onderzoek.jpg/onderzoek.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



                    <li class="result-block">

                        <a href="/over-avans/organisatie/jaarverslagen/brede-waardecreatie" class="result-block__link">

                            <div class="result-block__content-container">

                                <h2 class="result-block__header">Brede waardecreatie</h2>



                                <div class="result-block__content">
                                        Het Avans-jaarverslag is gebaseerd op het Integrated Reporting Framework. Dit is een integraal model van het International Integrated Reporting Council. Dit raamwerk gaat uit van 6 kapitalen die van invloed zijn op de missie, visie, strategie en dagelijkse activiteiten van de organisatie.
                                </div>
                                <div class="result-block__link-more">
                                    Lees verder
                                </div>

                            </div>














                            <div class="result-block__image-container">
                                <div class="result-block__image-hover-overlay">
                                    <img alt="" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/organisatie/jaarverslagen/2016/ir-en-menselijk-kapitaal.jpg/ir-en-menselijk-kapitaal.jpg/nextweb%3Acontent570x300">
                                </div>
                            </div>

                        </a>
                    </li>



            <!-- Pagination -->

            <script>
    function pageNumber(pageNumber) {//function: go to selected pagenumber
        //get current url
        let url = window.location.href;
        //if the ?page=x is in the url, get the part of the url till the ?
        let lengthTillPage = url.indexOf("page=");
        if (lengthTillPage == -1) {
            //page not found, add to go to that page.
            if(url.indexOf("?") == -1)
                url = url.concat("?page=", pageNumber);
            else
                url = url.concat("&page=", pageNumber);
        }
        else {
            //get the full page=xxxx part
            let gotoPagePart = url.substring(lengthTillPage)
            let tillEndOfPagePart = gotoPagePart.indexOf("&");
            if (tillEndOfPagePart == -1) {//nothing after page=xxx)
                url = url.replace(gotoPagePart, "page=" + pageNumber);
            }
            else {
                url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
            }
        }
        window.location.href = url;
    }
</script>

<footer class="resultpage__footer">
        <h3>
            1 - 6 van 6 berichten</h3>
        <div class="pagination">
                <ol class="pagination__list">
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(1)" class="pagination__link  pagination__link--active">
                                    1</a></li>
                    </ol>
                </div>
        </footer>

        </ul>
    </section>













        Bekijk de <a href="/over-avans/organisatie/jaarverslag-2016/jaarverslagen" target="_blank" title="jaarverslagen voorgaande jaren">jaarverslagen van voorgaande jaren</a>.












</article>
				<aside class="content-page__aside">
					<!-- [AO] Blogger teaser -->

    <div class="hst-container content-page__aside-container">
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
    </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
	</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
    </div>
</aside>
			</div>
</main>

{{> organisms-footer }}
