{{> organisms-header }}
{{> organisms-submenu }}
<div class="content" role="main">
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Interessegebieden</h1>

                    <p class="md-mb-40">&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/aarde_en_milieu_980x320.jpg') !important;">
                            <h2>Aarde en Milieu</h2>
                            <p>3 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Aarde-en-Milieu" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/economie-en-bedrijf_gespiegeld_980x320.jpg') !important;">
                            <h2>Economie en Bedrijf</h2>
                            <p>69 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Economie-en-Bedrijf" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/exact-en-informatica_gespiegeld_980x320.jpg') !important;">
                            <h2>Exact en Informatica</h2>
                            <p>13 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Exact-en-Informatica" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/gedrag_en_maatschappij_980x320.jpg') !important;">
                            <h2>Gedrag en Maatschappij</h2>
                            <p>11 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Gedrag-en-Maatschappij" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/gezondheid_980x320.jpg') !important;">
                            <h2>Gezondheid</h2>
                            <p>10 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Gezondheid" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/kunst_en_cultuur_980x320.jpg') !important;">
                            <h2>Kunst en Cultuur</h2>
                            <p>8 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Kunst-en-Cultuur" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/onderwijs_en_opvoeding_980x320.jpg') !important;">
                            <h2>Onderwijs en Opvoeding</h2>
                            <p>2 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Onderwijs-en-Opvoeding" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/recht_en-_bestuur_980x320.jpg') !important;">
                            <h2>Recht en Bestuur</h2>
                            <p>16 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Recht-en-Bestuur" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/taal_en_communicatie_980x320.jpg') !important;">
                            <h2>Taal en Communicatie</h2>
                            <p>5 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Taal-en-Communicatie" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="interessegebied bg-cover bg-overlay-45" style="background-image: url('/binaries/content/gallery/nextweb/interessegebieden/techniek_980x320.jpg') !important;">
                            <h2>Techniek</h2>
                            <p>30 opleidingen</p>

                              <a href="interessegebieden/interessegebied?vorm=voltijd&amp;interessegebied=Techniek" class="btn-red btn-small sink-right">Lees meer</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{{> organisms-footer }}
