{{> organisms-header }}
{{> organisms-submenu }}

<div id="main">

<div id="contact-locations-grid" class="container_12">

	<div class="grid_4">

			<!-- [BB] List of large locations -->
			<section class="box box-location-list">

				<h2>Breda</h2>

				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-hsl.jpg" alt="Foto van locatie HogeschoollaanBreda" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Hogeschoollaan, locatie</span>
										Hogeschoollaan<span class="hidden">Breda</span>
								</h3>

								<div class="adr">
									<span class="street-address">Hogeschoollaan&nbsp;1</span><br>
									<span class="postal-code">4818 CR</span>
									<span class="locality">Breda</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Hogeschoollaan%2B1%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/hogeschoollaan-1">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/lovensdijkstraatweb.jpg" alt="Foto van locatie LovensdijkstraatBreda" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Lovensdijkstraat, locatie</span>
										Lovensdijkstraat<span class="hidden">Breda</span>
								</h3>

								<div class="adr">
									<span class="street-address">Lovensdijkstraat&nbsp;61-63</span><br>
									<span class="postal-code">4818 AJ</span>
									<span class="locality">Breda</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Lovensdijkstraat%2B61-63%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/lovensdijkstraat">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-beuk.jpg" alt="Foto van locatie BeukenlaanBreda" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Beukenlaan, locatie</span>
										Beukenlaan<span class="hidden">Breda</span>
								</h3>

								<div class="adr">
									<span class="street-address">Beukenlaan&nbsp;1</span><br>
									<span class="postal-code">4834 CR</span>
									<span class="locality">Breda</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Beukenlaan%2B1%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/beukenlaan">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/bijster300x160.jpg" alt="Foto van locatie Bijster 7-21Breda" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Bijster 7-21, locatie</span>
										Bijster 7-21<span class="hidden">Breda</span>
								</h3>

								<div class="adr">
									<span class="street-address">Bijster&nbsp;7-21</span><br>
									<span class="postal-code">4817 HZ</span>
									<span class="locality">Breda</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Bijster%2B7-21%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/bijster">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				</section>

		</div>
	<div class="grid_4">

			<!-- [BB] List of large locations -->
			<section class="box box-location-list">

				<h2>'s-Hertogenbosch</h2>

				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-owb215.jpg" alt="Foto van locatie Onderwijsboulevard 215's-Hertogenbosch" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Onderwijsboulevard 215, locatie</span>
										Onderwijsboulevard 215<span class="hidden">'s-Hertogenbosch</span>
								</h3>

								<div class="adr">
									<span class="street-address">Onderwijsboulevard&nbsp;215</span><br>
									<span class="postal-code">5223 DE</span>
									<span class="locality">'s-Hertogenbosch</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088-  525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Onderwijsboulevard%2B215%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/onderwijsboulevard-215">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-cob-256.jpg" alt="Foto van locatie Onderwijsboulevard 256's-Hertogenbosch" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Onderwijsboulevard 256, locatie</span>
										Onderwijsboulevard 256<span class="hidden">'s-Hertogenbosch</span>
								</h3>

								<div class="adr">
									<span class="street-address">Onderwijsboulevard&nbsp;256</span><br>
									<span class="postal-code">5223 DJ</span>
									<span class="locality">'s-Hertogenbosch</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Onderwijsboulevard%2B256%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/onderwijsboulevard-256">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-herv.jpg" alt="Foto van locatie Hervenplein's-Hertogenbosch" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Hervenplein, locatie</span>
										Hervenplein<span class="hidden">'s-Hertogenbosch</span>
								</h3>

								<div class="adr">
									<span class="street-address">Hervenplein&nbsp;2</span><br>
									<span class="postal-code">5232 JE</span>
									<span class="locality">'s-Hertogenbosch</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Hervenplein%2B2%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/hervenplein">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/_0030172bewhoogedonkenzwweb.jpg" alt="Foto van locatie Parallelweg's-Hertogenbosch" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Parallelweg, locatie</span>
										Parallelweg<span class="hidden">'s-Hertogenbosch</span>
								</h3>

								<div class="adr">
									<span class="street-address">Parallelweg&nbsp;64</span><br>
									<span class="postal-code">5223 AL</span>
									<span class="locality">'s-Hertogenbosch</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Parallelweg%2B64%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/parallelweg">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/stationsplein_50_300x160.jpg" alt="Foto van locatie Stationsplein 50's-Hertogenbosch" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Stationsplein 50, locatie</span>
										Stationsplein 50<span class="hidden">'s-Hertogenbosch</span>
								</h3>

								<div class="adr">
									<span class="street-address">Stationsplein&nbsp;50</span><br>
									<span class="postal-code">5211 AP</span>
									<span class="locality">'s-Hertogenbosch</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088-525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Stationsplein%2B50%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/stationsplein-50">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				</section>

		</div>
	<div class="grid_4">

			<!-- [BB] List of large locations -->
			<section class="box box-location-list">

				<h2>Tilburg</h2>

				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/contact-prof-215.jpg%5B2%5D" alt="Foto van locatie Professor CobbenhagenlaanTilburg" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Professor Cobbenhagenlaan, locatie</span>
										Professor Cobbenhagenlaan<span class="hidden">Tilburg</span>
								</h3>

								<div class="adr">
									<span class="street-address">Professor Cobbenhagenlaan&nbsp;13</span><br>
									<span class="postal-code">5037 DA</span>
									<span class="locality">Tilburg</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Professor+Cobbenhagenlaan%2B13%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/professor-cobbenhagelaan">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/meerkoldreef-300x160.jpg" alt="Foto van locatie MeerkoldreefTilburg" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Meerkoldreef, locatie</span>
										Meerkoldreef<span class="hidden">Tilburg</span>
								</h3>

								<div class="adr">
									<span class="street-address">Meerkoldreef&nbsp;6</span><br>
									<span class="postal-code">5042 PN</span>
									<span class="locality">Tilburg</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Meerkoldreef%2B6%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/meerkoldreef">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				<article class="box style-highlight">

						<div class="vcard equal-heights" style="height: 908px;">

							<figure>
								<img src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/locaties/sportlaan.jpg" alt="Foto van locatie Sportweg 15Tilburg" class="photo">
							</figure>

							<div class="body">
								<h3 class="org">
									<span class="hidden">Avans Sportweg 15, locatie</span>
										Sportweg 15<span class="hidden">Tilburg</span>
								</h3>

								<div class="adr">
									<span class="street-address">Sportweg&nbsp;15</span><br>
									<span class="postal-code">5037 AC</span>
									<span class="locality">Tilburg</span>
								</div>
								<div class="pobox">
											Postbus 90.116, 4800 RA&nbsp;Breda</div>
								<div class="tel">Receptie: 088 - 525 75 00</div>
								<div class="tel"> Studentinfo: 088 - 525 75 50</div>
									</div>

						</div>

						<ul class="arrowed">
							<li>
								<a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Sportweg%2B15%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
							</li>
							<li>
									<a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/sportweg">Parkeren</a>
								</li>
							<li>
								<a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
							</li>

						</ul>
					</article>
				</section>

		</div>
	</div>

</div>

{{> organisms-footer }}
