{{> organisms-header }}
{{> organisms-submenu }}

<div id="main">

    <!-- Carousel -->
    <div class="container_12 style-primary">
        <div class="grid_12 hentry">

            <div class="box">
                <h1 class="pull-right" style="display:inline;">Visie Avans Hogeschool</h1>
                <figure>
                    <iframe title="Youtube video over Avans Visie" width="560" height="315" src="http://www.youtube.com/embed/uJCe2SvEgkA?rel=0" frameborder="0" allowfullscreen=""></iframe></figure>
            </div>

        </div>
    </div>

    <div class="container_12 equal-heights">

    <div class="hst-container">
                <span class="hst-container-item">
                <div class="grid_6">
    <section class="box box-editorial hentry " style="height: 924px;">
                    <h2>Visie</h2>
                    <div class="body entry-content">
                        <p> Het verschil maken, dat willen we bij Avans Hogeschool. Door wat we doen en door hoe we het doen. Dat doen we allemaal: onze studenten, onze alumni en onze medewerkers.
  <br>
  <br>Wij dagen onze studenten uit. Helpen hen om het maximale uit zichzelf te halen. Zich te ontwikkelen tot personen die een duurzame bijdrage leveren aan de complexe samenleving waarin zij leven en gaan werken.
  <br>
  <br>Wij leveren een structurele en leidende bijdrage aan de kennisontwikkeling en -deling op de thema’s waar de regio zich in specialiseert en ontwikkelt.
  <br>
  <br>Bij elke keuze maken we een bewuste afweging waarin de aspecten toekomstgericht, leefbaar en rechtvaardig een rol spelen.
  <br>
</p>
<h2>Ambitie
</h2>
<p>In de Ambitie 2020 beschrijven we hoe we de komende jaren het verschil gaan maken. Het verschil maken begint in het onderwijs.
  <br>
  <br>
  <br>
  <br>
</p></div>
                </section>
            </div>
                </span>
                <span class="hst-container-item">
                <div class="grid_6">
    <section class="box box-editorial hentry " style="height: 924px;">
                    <h2></h2>
                    <div class="body entry-content">
                        <p>We zijn tevreden als onze studenten worden herkend door hun lerende, onderzoekende, ondernemende en verantwoordelijke houding. Als onze studenten en onze medewerkers een kritische houding hebben en gesprekspartner zijn voor partners in de regio. Als onze studenten en medewerkers multidisciplinair samenwerken. Komen tot creatieve oplossingen, die maatschappelijk van waarde zijn. En als ze de afweging maken tussen toekomstgericht, leefbaar en maatschappelijk verantwoord.
  <br>
  <br>Lees onze Ambitie 2020:
  <br><a title="Ambitie 2020 Avans Hogeschool" href="http://www.i-flipbook.nl/nl_nl/flipbook/667-avans-corporate-ambitie-2020.html" target="_blank"><img alt="Ambitie 2020 Avans Hogeschool" align="left" src="http://webcms-test.avans.nl/binaries/content/gallery/nextweb/over-avans/ambitie-2020_460x146.jpg"></a>
  <br>
</p>
<p>&nbsp;
</p>
<h3>Concreet
</h3>
<p>Deze ambitie hebben we concreet gemaakt in onze <a title="Onderwijsvisie" href="http://www.i-flipbook.nl/nl_nl/flipbook/447-samen-het-maximale-uit-jezelf-ha.html" target="_blank">Onderwijsvisie</a> en <a title="Visie op valorisatie" href="http://www.i-flipbook.nl/nl_nl/flipbook/1330-avans-visie-op-valorisatie.html" target="_blank">Visie op valorisatie</a>. We dagen studenten uit om het maximale uit zichzelf te halen en zichzelf verder te ontwikkelen. Het faciliteren van het leerproces van de student staat hierbij centraal. We kiezen voor kleinschalig, beroepsgericht onderwijs met passende leerroutes.&nbsp;
  <br>
  <br>
  <br>
</p></div>
                </section>
            </div>
                </span>
    </div>
</div>

    <div class="container_12 equal-heights">
        </div>

    <div class="container_12 equal-heights">
        </div>

    <div class="container_12">
        <div class="grid_12">

            <!-- [F] News ticker -->
            </div>
    </div>

</div>

{{> organisms-footer }}
