{{> organisms-header }}
{{> organisms-submenu }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
						<a href="#page-menu" class="skip-link nav-link">Submenu</a>
						<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/studeren/studiekeuze">Studiekeuze</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link" href="/opleidingen/open-dagen">Open dagen</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link page-menu__link--active" href="/opleidingen/proefstuderen">Proefstuderen</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/mbo-middag">Mbo-middag</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/opleidingen/voltijd-studeren/meeloopdagen">Meeloopdagen</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/informatie-aanvragen">Info aanvragen</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/connect-yourself">Connect yourself</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/studeren/studiekeuze/uitleg-benamingen">Uitleg benamingen</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/uitleg-benamingen/voltijd-deeltijd-duaal">Voltijd deeltijd duaal</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/uitleg-benamingen/bachelor-en-master">Bachelor en master</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/uitleg-benamingen/major-en-minor">Major en minor</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/uitleg-benamingen/associate-degree">Associate degree</a>
																	</li>
																</ul>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/ouders-en-studiekeuze">Ouders en studiekeuze</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/meesterproef-techniek">Meesterproef techniek</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/studeren/studiekeuze/info-voor-decanen">Info voor decanen</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/info-voor-decanen/voorlichting-op-maat">Voorlichting op maat</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/info-voor-decanen/leerlingvolgsysteem">Leerlingvolgsysteem</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/info-voor-decanen/netwerken">Netwerken</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/info-voor-decanen/nieuws">Nieuws</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/studiekeuze/info-voor-decanen/activiteiten-techniek">Activiteiten techniek</a>
																	</li>
																</ul>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/studiekeuze/aanbod-minors">Aanbod minors</a>
												</li>
											</ul>
							<a href="#" class="skip-link close-icon">Verberg het menu</a>
						</div>
					</nav>

				<div class="header-image service-page-header service-page-header">
		<img class="header-image__image" src="/binaries/content/gallery/nextweb/headers-algemeen/proefstuderen1.jpg" alt="">
		</div>
<article class="main-content content-page__content">
					<h2 class="entry-title">Proefstuderen</h2>
					<!-- [AB] Lijst artikelen 3CP -->
					<div class="box content-body">

        <article class="hentry">
    <!-- NXTWB-1678

    <hgroup>
                <h1 class="entry-title">Proefstuderen</h1>
            </hgroup>
                   -->

            <div class="entry-content body">

                <p>Je hebt via de website al informatie verzameld. En bent naar een Open dag geweest. Je wilt checken of je opleidingskeuze de juiste is. Kom dan een dagje proefstuderen.</p>
                <p>Je krijgt in groepsverband een goede indruk van de opleiding. Een proefstudeerdag is per opleiding verschillend. Je volgt een les. Je doet opdrachten. Of je gaat op excursie. Je wordt altijd begeleid door studenten en docenten. Je komt erachter hoe een dag van een student eruit ziet. Proeft de dagelijkse sfeer. Maakt kennis met het lesprogramma. En het beroep waarvoor je wordt opgeleid. Je ziet en hoort veel. De manier om te ontdekken of Avans Hogeschool en de opleiding bij je passen.&nbsp;
</p>
<p>Bekijk onderstaande film en krijg een indruk van hoe een proefstudeerdag eruit ziet.
  <br>
  <br><iframe src="https://www.youtube.com/embed/M8--C-bcbjg?rel=0"  frameborder="0" width="100%" height="100%">&amp;amp;amp;amp;lt;span id="XinhaEditingPostion"&amp;amp;amp;amp;gt;&amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;gt;</iframe>
</p>
<h2>Aanmelden
</h2>
<p>Dit studiejaar zijn er geen proefstudeerdagen meer. In september maken we de nieuwe data bekend. Meld je dan aan voor een proefstudeerdag.&nbsp;
  <br>
</p></div>

            <ul class="nav nav-tree arrowed accordion">
                <li class="has-sublevel open">
                            <a class="link-toggle active">Aarde en Milieu</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: block; overflow: hidden;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Biologie en Medisch Laboratoriumonderzoek'" href="/opleidingen/opleidingzoeker/biologie-en-medisch-laboratoriumonderzoek-breda-voltijd-bachelor/proefstuderen">Biologie en Medisch Laboratoriumonderzoek&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Environmental Science for Sustainable Energy and Technology of Milieukunde'" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/proefstuderen">Environmental Science for Sustainable Energy and Technology of Milieukunde&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Ruimtelijke Ontwikkeling'" href="/opleidingen/opleidingzoeker/ruimtelijke-ontwikkeling-tilburg-voltijd-bachelor/proefstuderen">Ruimtelijke Ontwikkeling&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Economie en Bedrijf</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Accountancy'" href="/opleidingen/opleidingzoeker/accountancy-s-hertogenbosch-voltijd-bachelor/proefstuderen">Accountancy&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Accountancy'" href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/proefstuderen">Accountancy&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Advanced Business Creation'" href="/opleidingen/opleidingzoeker/advanced-business-creation-s-hertogenbosch-voltijd-bachelor/proefstuderen">Advanced Business Creation&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfseconomie'" href="/opleidingen/opleidingzoeker/bedrijfseconomie-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bedrijfseconomie&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfseconomie'" href="/opleidingen/opleidingzoeker/bedrijfseconomie-breda-voltijd-bachelor/proefstuderen">Bedrijfseconomie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfskunde MER'" href="/opleidingen/opleidingzoeker/bedrijfskunde-mer-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bedrijfskunde MER&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfskunde MER'" href="/opleidingen/opleidingzoeker/bedrijfskunde-mer-breda-voltijd-bachelor/proefstuderen">Bedrijfskunde MER&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bestuurskunde/ Overheidsmanagement'" href="/opleidingen/opleidingzoeker/bestuurskunde-overheidsmanagement-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bestuurskunde/ Overheidsmanagement&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bouwkunde'" href="/opleidingen/opleidingzoeker/bouwkunde-tilburg-voltijd-bachelor/proefstuderen">Bouwkunde&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bouwkunde'" href="/opleidingen/opleidingzoeker/bouwkunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bouwkunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Business IT &amp; Management'" href="/opleidingen/opleidingzoeker/business-it--management-breda-voltijd-bachelor/proefstuderen">Business IT &amp; Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Commerciële Economie'" href="/opleidingen/opleidingzoeker/commerciele-economie-breda-voltijd-bachelor/proefstuderen">Commerciële Economie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Commerciële Economie'" href="/opleidingen/opleidingzoeker/commerciele-economie-s-hertogenbosch-voltijd-bachelor/proefstuderen">Commerciële Economie&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communicatie'" href="/opleidingen/opleidingzoeker/communicatie-breda-voltijd-bachelor/proefstuderen">Communicatie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Human Resource Management'" href="/opleidingen/opleidingzoeker/human-resource-management-s-hertogenbosch-voltijd-bachelor/proefstuderen">Human Resource Management&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Human Resource Management'" href="/opleidingen/opleidingzoeker/human-resource-management-breda-voltijd-bachelor/proefstuderen">Human Resource Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Industrial Engineering &amp; Management'" href="/opleidingen/opleidingzoeker/industrial-engineering--management-breda-voltijd-bachelor/proefstuderen">Industrial Engineering &amp; Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Informatica'" href="/opleidingen/opleidingzoeker/informatica-breda-voltijd-bachelor/proefstuderen">Informatica&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Informatica'" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/proefstuderen">Informatica&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Integrale Veiligheid'" href="/opleidingen/opleidingzoeker/integrale-veiligheid-s-hertogenbosch-voltijd-bachelor/proefstuderen">Integrale Veiligheid&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Integrale Veiligheid'" href="/opleidingen/opleidingzoeker/integrale-veiligheid-breda-voltijd-bachelor/proefstuderen">Integrale Veiligheid&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'International Business and Languages'" href="/opleidingen/opleidingzoeker/international-business-and-languages-s-hertogenbosch-voltijd-bachelor/proefstuderen">International Business and Languages&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'International Business and Management Studies'" href="/opleidingen/opleidingzoeker/international-business-and-management-studies-breda-voltijd-bachelor/proefstuderen">International Business and Management Studies&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'International Financial Management'" href="/opleidingen/opleidingzoeker/international-financial-management-breda-voltijd-bachelor/proefstuderen">International Financial Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Ruimtelijke Ontwikkeling'" href="/opleidingen/opleidingzoeker/ruimtelijke-ontwikkeling-tilburg-voltijd-bachelor/proefstuderen">Ruimtelijke Ontwikkeling&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Small Business en Retail Management'" href="/opleidingen/opleidingzoeker/small-business-en-retail-management-breda-voltijd-bachelor/proefstuderen">Small Business en Retail Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Small Business en Retail Management'" href="/opleidingen/opleidingzoeker/small-business-en-retail-management-s-hertogenbosch-voltijd-bachelor/proefstuderen">Small Business en Retail Management&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Bedrijfskunde'" href="/opleidingen/opleidingzoeker/technische-bedrijfskunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">Technische Bedrijfskunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Bedrijfskunde'" href="/opleidingen/opleidingzoeker/technische-bedrijfskunde-tilburg-voltijd-bachelor/proefstuderen">Technische Bedrijfskunde&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Exact en Informatica</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Business IT &amp; Management'" href="/opleidingen/opleidingzoeker/business-it--management-breda-voltijd-bachelor/proefstuderen">Business IT &amp; Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemie'" href="/opleidingen/opleidingzoeker/chemie-breda-voltijd-bachelor/proefstuderen">Chemie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemie'" href="/opleidingen/opleidingzoeker/chemie-s-hertogenbosch-voltijd-bachelor/proefstuderen">Chemie&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemische Technologie'" href="/opleidingen/opleidingzoeker/chemische-technologie-breda-voltijd-bachelor/proefstuderen">Chemische Technologie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-s-hertogenbosch-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Informatica'" href="/opleidingen/opleidingzoeker/informatica-breda-voltijd-bachelor/proefstuderen">Informatica&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Informatica'" href="/opleidingen/opleidingzoeker/informatica-s-hertogenbosch-voltijd-bachelor/proefstuderen">Informatica&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Informatica'" href="/opleidingen/opleidingzoeker/technische-informatica-breda-voltijd-bachelor/proefstuderen">Technische Informatica&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Informatica'" href="/opleidingen/opleidingzoeker/technische-informatica-s-hertogenbosch-voltijd-bachelor/proefstuderen">Technische Informatica&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Gedrag en Maatschappij</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Human Resource Management'" href="/opleidingen/opleidingzoeker/human-resource-management-s-hertogenbosch-voltijd-bachelor/proefstuderen">Human Resource Management&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Human Resource Management'" href="/opleidingen/opleidingzoeker/human-resource-management-breda-voltijd-bachelor/proefstuderen">Human Resource Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Social Work'" href="/opleidingen/opleidingzoeker/social-work-s-hertogenbosch-voltijd-bachelor/proefstuderen">Social Work&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Social Work'" href="/opleidingen/opleidingzoeker/social-work-breda-voltijd-bachelor/proefstuderen">Social Work&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Gezondheid</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Fysiotherapie'" href="/opleidingen/opleidingzoeker/fysiotherapie-breda-voltijd-bachelor/proefstuderen">Fysiotherapie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'HBO-Verpleegkunde'" href="/opleidingen/opleidingzoeker/hbo-verpleegkunde-breda-voltijd-bachelor/proefstuderen">HBO-Verpleegkunde&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'HBO-Verpleegkunde'" href="/opleidingen/opleidingzoeker/hbo-verpleegkunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">HBO-Verpleegkunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Mens en Techniek'" href="/opleidingen/opleidingzoeker/mens-en-techniek-tilburg-voltijd-bachelor/proefstuderen">Mens en Techniek&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Kunst en Cultuur</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Autonome Beeldende Kunst'" href="/opleidingen/opleidingzoeker/autonome-beeldende-kunst-s-hertogenbosch-voltijd-bachelor/proefstuderen">Autonome Beeldende Kunst&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Autonome Beeldende Kunst'" href="/opleidingen/opleidingzoeker/autonome-beeldende-kunst-breda-voltijd-bachelor/proefstuderen">Autonome Beeldende Kunst&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-s-hertogenbosch-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Fotografie | Film (major)'" href="/opleidingen/opleidingzoeker/fotografie--film-major-breda-voltijd-bachelor-139/proefstuderen">Fotografie | Film (major)&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Grafisch | Ruimtelijk Ontwerp (major)'" href="/opleidingen/opleidingzoeker/grafisch--ruimtelijk-ontwerp-major-breda-voltijd-bachelor-140/proefstuderen">Grafisch | Ruimtelijk Ontwerp (major)&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Grafisch | Ruimtelijk Ontwerp (major)'" href="/opleidingen/opleidingzoeker/grafisch--ruimtelijk-ontwerp-major-s-hertogenbosch-voltijd-bachelor-182/proefstuderen">Grafisch | Ruimtelijk Ontwerp (major)&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Illustratie | Animatie (major)'" href="/opleidingen/opleidingzoeker/illustratie--animatie-major-breda-voltijd-bachelor-181/proefstuderen">Illustratie | Animatie (major)&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Illustratie | Animatie (major)'" href="/opleidingen/opleidingzoeker/illustratie--animatie-major-s-hertogenbosch-voltijd-bachelor-183/proefstuderen">Illustratie | Animatie (major)&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Onderwijs en Opvoeding</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Leraar Basisonderwijs'" href="/opleidingen/opleidingzoeker/leraar-basisonderwijs-breda-voltijd-bachelor/proefstuderen">Leraar Basisonderwijs&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Leraar Basisonderwijs'" href="/opleidingen/opleidingzoeker/leraar-basisonderwijs-breda-deeltijd-bachelor/proefstuderen">Leraar Basisonderwijs&nbsp;Breda&nbsp;Deeltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Recht en Bestuur</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfskunde MER'" href="/opleidingen/opleidingzoeker/bedrijfskunde-mer-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bedrijfskunde MER&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bedrijfskunde MER'" href="/opleidingen/opleidingzoeker/bedrijfskunde-mer-breda-voltijd-bachelor/proefstuderen">Bedrijfskunde MER&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bestuurskunde/ Overheidsmanagement'" href="/opleidingen/opleidingzoeker/bestuurskunde-overheidsmanagement-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bestuurskunde/ Overheidsmanagement&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'HBO-Rechten'" href="/opleidingen/opleidingzoeker/hbo-rechten-tilburg-voltijd-bachelor/proefstuderen">HBO-Rechten&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'HBO-Rechten'" href="/opleidingen/opleidingzoeker/hbo-rechten-s-hertogenbosch-voltijd-bachelor/proefstuderen">HBO-Rechten&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Integrale Veiligheid'" href="/opleidingen/opleidingzoeker/integrale-veiligheid-s-hertogenbosch-voltijd-bachelor/proefstuderen">Integrale Veiligheid&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Integrale Veiligheid'" href="/opleidingen/opleidingzoeker/integrale-veiligheid-breda-voltijd-bachelor/proefstuderen">Integrale Veiligheid&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Taal en Communicatie</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communicatie'" href="/opleidingen/opleidingzoeker/communicatie-breda-voltijd-bachelor/proefstuderen">Communicatie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-s-hertogenbosch-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'International Business and Languages'" href="/opleidingen/opleidingzoeker/international-business-and-languages-s-hertogenbosch-voltijd-bachelor/proefstuderen">International Business and Languages&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    <li class="has-sublevel">
                            <a class="link-toggle">Techniek</a> <span class="toggle" title="Toon opleidingen">+</span>
                            <ul style="display: none;">
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Biologie en Medisch Laboratoriumonderzoek'" href="/opleidingen/opleidingzoeker/biologie-en-medisch-laboratoriumonderzoek-breda-voltijd-bachelor/proefstuderen">Biologie en Medisch Laboratoriumonderzoek&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bouwkunde'" href="/opleidingen/opleidingzoeker/bouwkunde-tilburg-voltijd-bachelor/proefstuderen">Bouwkunde&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Bouwkunde'" href="/opleidingen/opleidingzoeker/bouwkunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">Bouwkunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemie'" href="/opleidingen/opleidingzoeker/chemie-breda-voltijd-bachelor/proefstuderen">Chemie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemie'" href="/opleidingen/opleidingzoeker/chemie-s-hertogenbosch-voltijd-bachelor/proefstuderen">Chemie&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Chemische Technologie'" href="/opleidingen/opleidingzoeker/chemische-technologie-breda-voltijd-bachelor/proefstuderen">Chemische Technologie&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Civiele Techniek'" href="/opleidingen/opleidingzoeker/civiele-techniek-tilburg-voltijd-bachelor/proefstuderen">Civiele Techniek&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Civiele Techniek'" href="/opleidingen/opleidingzoeker/civiele-techniek-s-hertogenbosch-voltijd-bachelor/proefstuderen">Civiele Techniek&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Communication &amp; Multimedia Design'" href="/opleidingen/opleidingzoeker/communication--multimedia-design-s-hertogenbosch-voltijd-bachelor/proefstuderen">Communication &amp; Multimedia Design&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Elektrotechniek'" href="/opleidingen/opleidingzoeker/elektrotechniek-breda-voltijd-bachelor/proefstuderen">Elektrotechniek&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Elektrotechniek'" href="/opleidingen/opleidingzoeker/elektrotechniek-s-hertogenbosch-voltijd-bachelor/proefstuderen">Elektrotechniek&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Environmental Science for Sustainable Energy and Technology of Milieukunde'" href="/opleidingen/opleidingzoeker/environmental-science-for-sustainable-energy-and-technology-of-milieukunde-breda-voltijd-bachelor/proefstuderen">Environmental Science for Sustainable Energy and Technology of Milieukunde&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Industrial Engineering &amp; Management'" href="/opleidingen/opleidingzoeker/industrial-engineering--management-breda-voltijd-bachelor/proefstuderen">Industrial Engineering &amp; Management&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Mechatronica'" href="/opleidingen/opleidingzoeker/mechatronica-breda-voltijd-bachelor/proefstuderen">Mechatronica&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Mens en Techniek'" href="/opleidingen/opleidingzoeker/mens-en-techniek-tilburg-voltijd-bachelor/proefstuderen">Mens en Techniek&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Ruimtelijke Ontwikkeling'" href="/opleidingen/opleidingzoeker/ruimtelijke-ontwikkeling-tilburg-voltijd-bachelor/proefstuderen">Ruimtelijke Ontwikkeling&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Bedrijfskunde'" href="/opleidingen/opleidingzoeker/technische-bedrijfskunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">Technische Bedrijfskunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Bedrijfskunde'" href="/opleidingen/opleidingzoeker/technische-bedrijfskunde-tilburg-voltijd-bachelor/proefstuderen">Technische Bedrijfskunde&nbsp;Tilburg&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Informatica'" href="/opleidingen/opleidingzoeker/technische-informatica-breda-voltijd-bachelor/proefstuderen">Technische Informatica&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Technische Informatica'" href="/opleidingen/opleidingzoeker/technische-informatica-s-hertogenbosch-voltijd-bachelor/proefstuderen">Technische Informatica&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Werktuigbouwkunde'" href="/opleidingen/opleidingzoeker/werktuigbouwkunde-breda-voltijd-bachelor/proefstuderen">Werktuigbouwkunde&nbsp;Breda&nbsp;Voltijd</a>
                                    </li>
                                <li>
                                        <a title="Bekijk details over het evenement van opleiding 'Werktuigbouwkunde'" href="/opleidingen/opleidingzoeker/werktuigbouwkunde-s-hertogenbosch-voltijd-bachelor/proefstuderen">Werktuigbouwkunde&nbsp;'s-Hertogenbosch&nbsp;Voltijd</a>
                                    </li>
                                </ul>
                        </li>
                    </ul>

        </article>




    </div>
</article>
				<aside class="content-page__aside">
					<!-- [AO] Blogger teaser -->

    <div class="hst-container content-page__aside-container">
    </div>
</aside>
			</div>
</main>

{{> organisms-footer }}
