{{> organisms-header }}
{{> organisms-submenu }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
	<a href="#page-menu" class="skip-link nav-link">Projecten</a>

	<div class="page-menu__container">
		<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN Breda</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/introductie?tab=STUDIE_PROJECT">
											Introductie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/opbouw?tab=STUDIE_PROJECT">
											Opbouw</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/buitenland?tab=STUDIE_PROJECT">
											Buitenland</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/wat-anderen-zeggen?tab=STUDIE_PROJECT">
											Wat anderen zeggen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link page-menu__link--active" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/wat-anderen-zeggen?tab=STUDIE_PROJECT">
											Projecten</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/studie-in-cijfers?tab=STUDIE_PROJECT">
											Studie in cijfers</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/verenigingen?tab=STUDIE_PROJECT">
											Verenigingen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/nieuws?tab=STUDIE_PROJECT">
											Nieuws</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/beroepen?tab=STUDIE_PROJECT">
											Beroepen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/vervolgstudies?tab=STUDIE_PROJECT">
											Vervolgstudies</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/toelating?tab=STUDIE_PROJECT">
											Toelating</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/studiekosten?tab=STUDIE_PROJECT">
											Studiekosten</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/locatie?tab=STUDIE_PROJECT">
											Locatie</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/aanmelden?tab=STUDIE_PROJECT">
											Aanmelden</a>
									</li>
								</ul>
			<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
					<ul class="page-menu__list">

					<li class="page-menu__item">
										<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-dag-27-januari-2018-2018-01-27">
											Open dag</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen?tab=STUDIE_PROJECT">
											Proefstuderen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/meeloopdagen?tab=STUDIE_PROJECT">
											Meeloopdagen</a>
									</li>
								<li class="page-menu__item">
										<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/factsheet?tab=STUDIE_PROJECT">
											Factsheet</a>
									</li>
								</ul>
			<a href="#" class="skip-link close-icon">Verberg het menu</a>
	</div>
        <a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/aanmelden" class="btn btn--primary btn--page-menu"><!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


Meld je aan</a>
</nav>
<article class="main-content content-page__content">
					<h2 class="article-header">Voltijdopleiding in Breda</h2>
  <!-- Some body text -->

<div class="container_12">
	<div class="grid_8">
		<div class="body entry-content">
			<p>Bekijk de projecten van deze opleiding.
  <br>
</p></div>

        <!-- Tab headers for each subject -->
        <ul class="nav nav-tabs">
            <li class="active">
                    <a href="?tab=STUDIE_PROJECT">Studieproject</a></li>
            <li class="">
                    <a href="?tab=GRADUATION">Afstudeerproject</a></li>
            </ul>

<!-- Six figure boxes in layout -->
		<div style="outline: 1px solid red;">
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="CMD ontwikkelt Time100 website" src="http://www.avans.nl/binaries/content/gallery/nextweb/nieuws/websitetime-010def4980x300.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>CMD ontwikkelt Time100 website</h3>
			<p>De belangrijke Time100 website is ontwikkeld door studenten en docenten van CMD in Breda.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=c27ada75-1674-4b8e-82f7-3e1f07881388">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="Cinekid" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/cinekid-460x150.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>Cinekid</h3>
			<p>Tweedejaarsstudenten ontwikkelden interactieve toepassingen voor Cinekid.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=1a61b417-f095-4ea6-bc6a-be3928e50ab6">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="FreeSpace" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/free-space-460x150.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>FreeSpace</h3>
			<p>Studenten krijgen met FreeSpace de mogelijkheid om zich uit te leven op creatief gebied.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=3e16715b-f682-4f1f-87c7-7df32bb647a6">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        </div>
		<div style="clear:both;"></div>
		<div>
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="Iconen" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/iconen-460x150.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>Iconen</h3>
			<p>Eerstejaarsstudenten gaan aan de slag met iconen, een opdracht in het eerste blok.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=d485da05-c238-4062-9570-e8e9a43db089">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="Interactie-cases" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/ii3_expo_111216_impressie04-interactie-cases.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>Interactie-cases</h3>
			<p>Studenten verdiepten zich in informatie- en interactieontwerp met als resultaat innovatieve ontwerpen voor Philips Research.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=48fcc1e0-c006-45a6-bf44-8e9a6f56dd9f">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        <div class="grid_4">
                <section class="box box-figure">

		<figure>
		      <img alt="Natural Interfaces" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/20140603_163813.jpg">
		</figure>

		<div class="body style-highlight">

			<h3>Natural Interfaces</h3>
			<p>150 tweedejaars studenten presenteerden 25 interactieve installaties in het Chassé Theater in Breda. Het centrale thema was natural interaction.</p>
			   <ul class="arrowed list-horizontal">
				<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=4576efd3-ea39-413b-a348-d9bf6a0826a5">Lees verder</a></li>

				</ul>
		</div>
	</section>
</div>
        </div>
    </div>
</div>

<script>
    function pageNumber(pageNumber) {//function: go to selected pagenumber
        //get current url
        let url = window.location.href;
        //if the ?page=x is in the url, get the part of the url till the ?
        let lengthTillPage = url.indexOf("page=");
        if (lengthTillPage == -1) {
            //page not found, add to go to that page.
            if(url.indexOf("?") == -1)
                url = url.concat("?page=", pageNumber);
            else
                url = url.concat("&page=", pageNumber);
        }
        else {
            //get the full page=xxxx part
            let gotoPagePart = url.substring(lengthTillPage)
            let tillEndOfPagePart = gotoPagePart.indexOf("&");
            if (tillEndOfPagePart == -1) {//nothing after page=xxx)
                url = url.replace(gotoPagePart, "page=" + pageNumber);
            }
            else {
                url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
            }
        }
        window.location.href = url;
    }
</script>

<footer class="resultpage__footer">
        <h3>
            1 - 6 van 10 </h3>
        <div class="pagination">
                <ol class="pagination__list">
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(1)" class="pagination__link  pagination__link--active">
                                    1</a></li>
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(2)" class="pagination__link  ">
                                    2</a></li>
                    </ol>
                </div>
        </footer>


































</article>
				<!--. grid_9 -->
			</div>
</main>

{{> organisms-footer }}
