{{> organisms-header }} {{> organisms-submenu }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
			<a href="#page-menu" class="skip-link nav-link">Projecten</a>

			<div class="page-menu__container">
				<h3 class="page-menu-block__header">DE voltijdOPLEIDING IN Breda</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/introductie?tab=STUDIE_PROJECT">
											Introductie</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/opbouw?tab=STUDIE_PROJECT">
											Opbouw</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/buitenland?tab=STUDIE_PROJECT">
											Buitenland</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/wat-anderen-zeggen?tab=STUDIE_PROJECT">
											Wat anderen zeggen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link page-menu__link--active" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/wat-anderen-zeggen?tab=STUDIE_PROJECT">
											Projecten</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/studie-in-cijfers?tab=STUDIE_PROJECT">
											Studie in cijfers</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/verenigingen?tab=STUDIE_PROJECT">
											Verenigingen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/nieuws?tab=STUDIE_PROJECT">
											Nieuws</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">NA JE OPLEIDING</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/beroepen?tab=STUDIE_PROJECT">
											Beroepen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/vervolgstudies?tab=STUDIE_PROJECT">
											Vervolgstudies</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">PRAKTISCHE ZAKEN</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/toelating?tab=STUDIE_PROJECT">
											Toelating</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/studiekosten?tab=STUDIE_PROJECT">
											Studiekosten</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/locatie?tab=STUDIE_PROJECT">
											Locatie</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/aanmelden?tab=STUDIE_PROJECT">
											Aanmelden</a>
					</li>
				</ul>
				<h3 class="page-menu-block__header">STUDIEVOORLICHTING</h3>
				<ul class="page-menu__list">

					<li class="page-menu__item">
						<a class="page-menu__link" href="http://webcms-test.avans.nl/opleidingen/open-dagen/2017-2018/open-dag-27-januari-2018-2018-01-27">
											Open dag</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/proefstuderen?tab=STUDIE_PROJECT">
											Proefstuderen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/meeloopdagen?tab=STUDIE_PROJECT">
											Meeloopdagen</a>
					</li>
					<li class="page-menu__item">
						<a class="page-menu__link" href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/factsheet?tab=STUDIE_PROJECT">
											Factsheet</a>
					</li>
				</ul>
				<a href="#" class="skip-link close-icon">Verberg het menu</a>
			</div>
			<a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/aanmelden" class="btn btn--primary btn--page-menu">
				<!-- label = 'ENROLL_ACTION', labelset = program-widgets, value = 'Meld je aan' (from labels: '' -->


				Meld je aan</a>
		</nav>
		<article class="main-content content-page__content">
			<h2 class="article-header">Voltijdopleiding in Breda</h2>
			<!-- Some body text -->

			<div class="container_12">
				<div class="grid_8">
					<div class="body entry-content">
						<p>Bekijk de projecten van deze opleiding.
							<br>
						</p>
					</div>

					<!-- Tab headers for each subject -->
					<!-- <ul class="nav nav-tabs">
						<li class="active">
							<a href="?tab=STUDIE_PROJECT">Studieproject</a></li>
						<li class="">
							<a href="?tab=GRADUATION">Afstudeerproject</a></li>
					</ul> -->

					<!-- Six figure boxes in layout -->
					<!-- <section class="resultpage__content"> -->
						<ul class="result__list result__list--grid result__list--narrow">
							<li class="result-block">
								<a href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/projecten/../project-detail/?project=7bf0bc93-a5f4-48d3-83c7-595640da7e02" class="result-block__link">
									<div class="result-block__content-container">
										<h3 class="result-block__header">Er was eens een vraagstuk bij de Efteling</h3>

											<div class="result-block__content">
												<p>test Eerstejaarsstudenten werkten aan  Efteling.</p>
											</div>
											<div class="result-block__link-more">Lees verder</div>

									</div>
									<div class="result-block__image-container">
										<div class="result-block__image-hover-overlay">
											<img alt="Er was eens een vraagstuk bij de Efteling" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/accountancy/project-efteling-groepspresentatie-460x150-002.jpg/project-efteling-groepspresentatie-460x150-002.jpg/nextweb%3Acontent570x300">
										</div>
									</div>
								</a>
							</li>
							<li class="result-block">
								<a href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/projecten/../project-detail/?project=bd457637-ff4a-475c-9653-9bd6ddd4e08d" class="result-block__link">
									<div class="result-block__content-container">
										<h3 class="result-block__header">Inhousedagen bij Van Oers</h3>

											<div class="result-block__content">
												<p> test In het eerste jaar van de opleiding Accountancy gaan de studenten een dag op bezoek bij Van Oers Accountancy &amp; Advies in Breda.</p>
											</div>
											<div class="result-block__link-more">Lees verder</div>

									</div>
									<div class="result-block__image-container">
										<div class="result-block__image-hover-overlay">
											<img alt="Inhousedagen bij Van Oers" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/accountancy/accountancy-br-project-van-oers-inhousedagen-460x150-alexander-goethals.jpg/accountancy-br-project-van-oers-inhousedagen-460x150-alexander-goethals.jpg/nextweb%3Acontent570x300">
										</div>
									</div>
								</a>
							</li>
							<li class="result-block">
								<a href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/projecten/../project-detail/?project=2d4932aa-b989-4cde-9c53-5016ad245cc1" class="result-block__link">
									<div class="result-block__content-container">
										<h3 class="result-block__header">Studiegroep Help, de bankier verzuipt</h3>
											<div class="result-block__content">
												<p>De vraag is of bankiers de zondebokken blijven voor alles wat er mis is in de wereld of dat er nog hoop is. Studenten onderzochten dit in de studiegroep Help, de bankier verzuipt!</p>
											</div>
											<div class="result-block__link-more">Lees verder</div>

									</div>
									<div class="result-block__image-container">
										<div class="result-block__image-hover-overlay">
											<img alt="Studiegroep Help, de bankier verzuipt" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/bedrijfseconomie/project-acc-en-be-help-de-bankier-verzuipt.jpg/project-acc-en-be-help-de-bankier-verzuipt.jpg/nextweb%3Acontent570x300">
										</div>
									</div>
								</a>
							</li>
							<li class="result-block">
								<a href="/opleidingen/opleidingzoeker/accountancy-breda-voltijd-bachelor/projecten/../project-detail/?project=d9e2a1af-0192-4220-a18b-79d94ae88687" class="result-block__link">
									<div class="result-block__content-container">
										<h3 class="result-block__header">Witlox VCS lezingen</h3>
										<div class="result-block__content result-block__content--person">
											<div class="result-block__content">
												<p>Accountancy- en Bedrijfseconomiestudenten volgen enkele lezingen over inspirerende onderwerpen. Bijvoorbeeld over crowdfunding.</p>
											</div>
											<div class="result-block__link-more">Lees verder</div>
										</div>
									</div>
									<div class="result-block__image-container">
										<div class="result-block__image-hover-overlay">
											<img alt="Witlox VCS lezingen" class="result-block__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/bedrijfseconomie/accountancy-bedrijfseconomie-project-witlox-vcs-lezingen-zaa1400x500l.jpg/accountancy-bedrijfseconomie-project-witlox-vcs-lezingen-zaa1400x500l.jpg/nextweb%3Acontent570x300">
										</div>
									</div>
								</a>
							</li>
						</ul>
					<!-- </section> -->

					<div>
						<div class="grid_4">
							<section class="box box-figure">

								<figure>
									<img alt="Iconen" src="http://www.avans.nlhttp://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/iconen-460x150.jpg">
								</figure>

								<div class="body style-highlight">

									<h3>Iconen</h3>
									<p>Eerstejaarsstudenten gaan aan de slag met iconen, een opdracht in het eerste blok.</p>
									<ul class="arrowed list-horizontal">
										<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=d485da05-c238-4062-9570-e8e9a43db089">Lees verder</a></li>

									</ul>
								</div>
							</section>
						</div>
						<div class="grid_4">
							<section class="box box-figure">

								<figure>
									<img alt="Interactie-cases" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/ii3_expo_111216_impressie04-interactie-cases.jpg">
								</figure>

								<div class="body style-highlight">

									<h3>Interactie-cases</h3>
									<p>Studenten verdiepten zich in informatie- en interactieontwerp met als resultaat innovatieve ontwerpen voor Philips Research.</p>
									<ul class="arrowed list-horizontal">
										<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=48fcc1e0-c006-45a6-bf44-8e9a6f56dd9f">Lees verder</a></li>

									</ul>
								</div>
							</section>
						</div>
						<div class="grid_4">
							<section class="box box-figure">

								<figure>
									<img alt="Natural Interfaces" src="http://www.avans.nl/binaries/content/gallery/nextweb/projecten/breda/voltijd/communication-en-multimedia-design/20140603_163813.jpg">
								</figure>

								<div class="body style-highlight">

									<h3>Natural Interfaces</h3>
									<p>150 tweedejaars studenten presenteerden 25 interactieve installaties in het Chassé Theater in Breda. Het centrale thema was natural interaction.</p>
									<ul class="arrowed list-horizontal">
										<li><a href="/opleidingen/opleidingzoeker/communication--multimedia-design-breda-voltijd-bachelor/projecten/../project-detail/?project=4576efd3-ea39-413b-a348-d9bf6a0826a5">Lees verder</a></li>

									</ul>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>

			<script>
				function pageNumber(pageNumber) { //function: go to selected pagenumber
					//get current url
					let url = window.location.href;
					//if the ?page=x is in the url, get the part of the url till the ?
					let lengthTillPage = url.indexOf("page=");
					if (lengthTillPage == -1) {
						//page not found, add to go to that page.
						if (url.indexOf("?") == -1)
							url = url.concat("?page=", pageNumber);
						else
							url = url.concat("&page=", pageNumber);
					} else {
						//get the full page=xxxx part
						let gotoPagePart = url.substring(lengthTillPage)
						let tillEndOfPagePart = gotoPagePart.indexOf("&");
						if (tillEndOfPagePart == -1) { //nothing after page=xxx)
							url = url.replace(gotoPagePart, "page=" + pageNumber);
						} else {
							url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
						}
					}
					window.location.href = url;
				}
			</script>

			<footer class="resultpage__footer">
				<h3>
            1 - 6 van 10 </h3>
				<div class="pagination">
					<ol class="pagination__list">
						<li class="pagination__item">
							<a href="javascript:pageNumber(1)" class="pagination__link  pagination__link--active">
                                    1</a></li>
						<li class="pagination__item">
							<a href="javascript:pageNumber(2)" class="pagination__link  ">
                                    2</a></li>
					</ol>
				</div>
			</footer>










		</article>
		<!--. grid_9 -->
	</div>
</main>

{{> organisms-footer }}
