{{> organisms-header }}
{{> organisms-submenu }}

<main class="layout-full-width-block main-content layout-full-width-block--content-page">
	<div class="layout-full-width-block__content content-page">

		<!-- [K] Paginanavigatie -->
		<nav id="page-menu" class="page-menu content-page__menu">
						<a href="#page-menu" class="skip-link nav-link">Submenu</a>
						<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/bedrijven-en-instellingen/ondernemen/avans-ondernemerscentrum">Ondernemerscentrum</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link" href="/bedrijven-en-instellingen/ondernemen/avans-ondernemerscentrum">Avans Ondernemerscentrum</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/bedrijven-en-instellingen/ondernemen/valorisatie">Valorisatie</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/bedrijven-en-instellingen/ondernemen/voor-ondernemers/projecten">Projecten</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/bedrijven-en-instellingen/ondernemen/contact">Contact</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link page-menu__link--active" href="/bedrijven-en-instellingen/ondernemen/stel-je-vraag">Stel uw vraag</a>
												</li>
											</ul>
							<a href="#" class="skip-link close-icon">Verberg het menu</a>
						</div>
					</nav>

				<article class="main-content content-page__content">
					<h2 class="entry-title">Stel uw vraag</h2>
					<!-- [AB] Lijst artikelen 3CP -->
					<style>
    label.error {
        color:red;
        font-style:italic;
        display:block;
    }
    input.error {
        border: 1px dotted red;
    }
    textarea.error {
        border: 1px dotted red;
    }
    .info {
        color: green;
        padding: 3px;

    }
</style>
<div class="box content-body">

        <article class="hentry">
            <!-- NXTWB-1678

            <hgroup>
                <h1 class="entry-title">Stel uw vraag</h1>
            </hgroup>
                   -->

            <div class="entry-content body">

                <p>Leg uw vraag aan ons voor. En vul onderstaand formulier in. Wij helpen u verder. En verwijzen u door naar de juiste persoon.</p>
                        </div>

        </article>
    </div>

    <form action="/bedrijven-en-instellingen/ondernemen/stel-je-vraag?_hn:type=action&amp;_hn:ref=r105_r1_r1" id="questionForm" class="box box-form" method="post" novalidate="novalidate">

            <div class="field">
                <label for="question">Vraag</label>&nbsp;<em>*</em>
                <div class="field-textarea">
                    <textarea id="question" name="question" placeholder="Uw vraag..." class="{required:true, messages:{required:'Vult hier uw vraag in'}}"></textarea>
                </div>
            </div>

            <div class="field">
                <label for="name">Naam</label>&nbsp;<em>*</em>
                <div class="field-input">
                    <input type="text" name="name" id="name" class="{required:true, messages:{required:'Vult hier uw naam in'}}">
                </div>
            </div>


            <div class="field">
                <label for="telephoneNumber">Telefoonnummer</label>
                <div class="field-input">
                    <input type="text" name="telephoneNumber" id="telephoneNumber">
                </div>
            </div>

            <div class="field">
                <label for="emailAddress">E-mail adres</label>&nbsp;<em>*</em>
                <div class="field-input">
                    <input type="text" name="emailAddress" id="emailAddress" class="{required:true, email:true, messages:{required:'Vult hier uw e-mail in', email:'Vult een valide e-mail in'}}">
                </div>
            </div>

            velden met een * zijn verplicht.<div class="buttons">
                <input type="submit" value="Verzend">
            </div>
        </form>
    </article>
				<aside class="content-page__aside">
					<!-- [AO] Blogger teaser -->

    <div class="hst-container content-page__aside-container">
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
    </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
	</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  </div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
  <section>
    </section>
</div>

                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
                <div class="hst-container-item">
                    <div class="grid_3">
</div>





                </div>
    </div>
</aside>
			</div>
</main>

{{> organisms-footer }}
