{{> organisms-header }}
{{> organisms-submenu }}
<div id="main">

    <div class="container_12">

        <div class="grid_3">

            <!-- [K] Paginanavigatie -->
            <nav id="page-menu" class="page-menu content-page__menu">
							<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/studeren/voorzieningen">Voorzieningen</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten">Locaties en faciliteiten</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/voorzieningen/studie-en-buitenland">Studie en buitenland</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/studeren/voorzieningen/begeleiding-op-maat">Begeleiding op maat</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/hulp-en-begeleiding">Hulp en begeleiding</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-met-een-functiebeperking">Een functiebeperking</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-en-topsport">Studeren en topsport</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/voorzieningen/rechten-en-plichten">Rechten en plichten</a>
												</li>
											<li class="page-menu__item has-sublevel open">
													<a class="page-menu__link  active page-menu__link--active" href="/opleidingen/studeren-bij-avans/jaarrooster/2016">Jaarrooster 2016-2017</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul>
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/jaarrooster/2017">Jaarrooster 2017-2018</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd">Wonen en vrije tijd</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-breda">Leven in Breda</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-den-bosch">Leven in 's-Hertogenbosch</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-tilburg">Leven in Tilburg</a>
																	</li>
																</ul>
												</li>
											</ul>
						</div>
					</nav>


            &nbsp;
        </div>

        <div class="grid_9">

            <!-- Bean may not have property title -->
                <div class="grid_12 hentry grid-header">
                    <hgroup>
                        <h1 class="entry-title">Jaarrooster 2016 / 2017</h1>
                        </hgroup>
                </div>

            <!-- [AB] Lijst artikelen 2CP -->
            <article class="hentry">


        <div class="container_12">
            <div class="grid_8">

                <!-- Some body paragraphs -->
                <div class="body entry-content">
                    <p>Dit is het jaarrooster van het studiejaar 2016-2017.</p><p>In het jaarrooster zie je de indeling van de semesters. Wanneer er tentamenweken zijn bijvoorbeeld. En wanneer het vakantie is. In principe heb je geen herfstvakantie.
  <br>
  <br><a href="/opleidingen/studeren-bij-avans/jaarrooster/2017" title="Naar jaarrooster 2017 - 2018">Bekijk hier het jaarrooster 2017-2018</a>. &nbsp; &nbsp;
  <br>
</p>
<h3>Let op
</h3>
<p><strong> </strong>Dit is een algemeen jaarrooster. Jouw persoonlijke rooster kan hiervan afwijken. Dit rooster krijg je van jouw opleiding.
</p>
<h3>Toelichting op onderstaande tabel
  <br>
</h3>
<ul>
  <li>Doorgetrokken kruis = gebouw gesloten</li>
  <li>Gestippeld kruis = gebouwen open tot 18:00 uur</li>
  <li>KW = kalenderweek OW = onderwijsweek BW = blokweek</li>
  <li>***** =&nbsp; voortgezet en basisonderwijs zuid hebben vakantie</li>
  <li>** = BL en OWB256 zijn open op zaterdagen in de onderwijsweken</li>
</ul>
<div>
  <br>
</div><p></p>
                </div>

            </div> <!-- .grid_8 -->
        </div> <!-- .container_12 -->

        <!-- [AJ] Study program -->
        <section class="box box-study-program">
                <table>
                    <caption>Jaarrooster</caption>
                    <colgroup>
                        <col style="width: 25px;">
                        <col style="width: 60px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: 25px;">
                        <col style="width: auto;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th id="col-1">W#</th>
                        <th id="col-2">Datum</th>
                        <th id="col-3">KW</th>
                        <th id="col-4">OW</th>
                        <th id="col-5">BW</th>
                        <th id="col-6">ma</th>
                        <th id="col-7">di</th>
                        <th id="col-8">wo</th>
                        <th id="col-9">do</th>
                        <th id="col-10">vr</th>
                        <th id="col-11">za</th>
                        <th id="col-12">Opmerking</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>1</strong></td>
                            <td headers="col-2">22-08-2016</td>
                            <td headers="col-3">34</td>
                            <td headers="col-4">42</td>
                            <td headers="col-5">0</td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">introductie/herkansen, 22/8 opening Avans.</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>2</strong></td>
                            <td headers="col-2">29-08-2016</td>
                            <td headers="col-3">35</td>
                            <td headers="col-4">1</td>
                            <td headers="col-5">1</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>3</strong></td>
                            <td headers="col-2">05-09-2016</td>
                            <td headers="col-3">36</td>
                            <td headers="col-4">2</td>
                            <td headers="col-5">2</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>4</strong></td>
                            <td headers="col-2">12-09-2016</td>
                            <td headers="col-3">37</td>
                            <td headers="col-4">3</td>
                            <td headers="col-5">3</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>5</strong></td>
                            <td headers="col-2">19-09-2016</td>
                            <td headers="col-3">38</td>
                            <td headers="col-4">4</td>
                            <td headers="col-5">4</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>6</strong></td>
                            <td headers="col-2">26-09-2016</td>
                            <td headers="col-3">39</td>
                            <td headers="col-4">5</td>
                            <td headers="col-5">5</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">PropedeuseUitreiking-week</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>7</strong></td>
                            <td headers="col-2">03-10-2016</td>
                            <td headers="col-3">40</td>
                            <td headers="col-4">6</td>
                            <td headers="col-5">6</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>8</strong></td>
                            <td headers="col-2">10-10-2016</td>
                            <td headers="col-3">41</td>
                            <td headers="col-4">7</td>
                            <td headers="col-5">7</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>9</strong></td>
                            <td headers="col-2">17-10-2016</td>
                            <td headers="col-3">42</td>
                            <td headers="col-4">8</td>
                            <td headers="col-5">8</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>10</strong></td>
                            <td headers="col-2">24-10-2016</td>
                            <td headers="col-3">43</td>
                            <td headers="col-4">9</td>
                            <td headers="col-5">9</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>11</strong></td>
                            <td headers="col-2">31-10-2016</td>
                            <td headers="col-3">44</td>
                            <td headers="col-4">10</td>
                            <td headers="col-5">10</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>12</strong></td>
                            <td headers="col-2">07-11-2016</td>
                            <td headers="col-3">45</td>
                            <td headers="col-4">11</td>
                            <td headers="col-5">1</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>13</strong></td>
                            <td headers="col-2">14-11-2016</td>
                            <td headers="col-3">46</td>
                            <td headers="col-4">12</td>
                            <td headers="col-5">2</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>14</strong></td>
                            <td headers="col-2">21-11-2016</td>
                            <td headers="col-3">47</td>
                            <td headers="col-4">13</td>
                            <td headers="col-5">3</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>15</strong></td>
                            <td headers="col-2">28-11-2016</td>
                            <td headers="col-3">48</td>
                            <td headers="col-4">14</td>
                            <td headers="col-5">4</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>16</strong></td>
                            <td headers="col-2">05-12-2016</td>
                            <td headers="col-3">49</td>
                            <td headers="col-4">15</td>
                            <td headers="col-5">5</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>17</strong></td>
                            <td headers="col-2">12-12-2016</td>
                            <td headers="col-3">50</td>
                            <td headers="col-4">16</td>
                            <td headers="col-5">6</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>18</strong></td>
                            <td headers="col-2">19-12-2016</td>
                            <td headers="col-3">51</td>
                            <td headers="col-4">17</td>
                            <td headers="col-5">7</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>19</strong></td>
                            <td headers="col-2">26-12-2016</td>
                            <td headers="col-3">52</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="closed"><span>x</span></td>
                            <td headers="col-7" class="closed"><span>x</span></td>
                            <td headers="col-8" class="closed"><span>x</span></td>
                            <td headers="col-9" class="closed"><span>x</span></td>
                            <td headers="col-10" class="closed"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Kerstvakantie, *****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>20</strong></td>
                            <td headers="col-2">02-01-2017</td>
                            <td headers="col-3">1</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>21</strong></td>
                            <td headers="col-2">09-01-2017</td>
                            <td headers="col-3">2</td>
                            <td headers="col-4">18</td>
                            <td headers="col-5">8</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>22</strong></td>
                            <td headers="col-2">16-01-2017</td>
                            <td headers="col-3">3</td>
                            <td headers="col-4">19</td>
                            <td headers="col-5">9</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>23</strong></td>
                            <td headers="col-2">23-01-2017</td>
                            <td headers="col-3">4</td>
                            <td headers="col-4">20</td>
                            <td headers="col-5">10</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">deadline blok 2 vóór 1 februari, DiplomaUitr.-week</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>24</strong></td>
                            <td headers="col-2">30-01-2017</td>
                            <td headers="col-3">5</td>
                            <td headers="col-4">21</td>
                            <td headers="col-5">1</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>25</strong></td>
                            <td headers="col-2">06-02-2017</td>
                            <td headers="col-3">6</td>
                            <td headers="col-4">22</td>
                            <td headers="col-5">2</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>26</strong></td>
                            <td headers="col-2">13-02-2017</td>
                            <td headers="col-3">7</td>
                            <td headers="col-4">23</td>
                            <td headers="col-5">3</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>27</strong></td>
                            <td headers="col-2">20-02-2017</td>
                            <td headers="col-3">8</td>
                            <td headers="col-4">24</td>
                            <td headers="col-5">4</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>28</strong></td>
                            <td headers="col-2">27-02-2017</td>
                            <td headers="col-3">9</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="closed"><span>x</span></td>
                            <td headers="col-7" class="closed"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Carnaval,  *****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>29</strong></td>
                            <td headers="col-2">06-03-2017</td>
                            <td headers="col-3">10</td>
                            <td headers="col-4">25</td>
                            <td headers="col-5">5</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">PropedeuseUitreiking-week</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>30</strong></td>
                            <td headers="col-2">13-03-2017</td>
                            <td headers="col-3">11</td>
                            <td headers="col-4">26</td>
                            <td headers="col-5">6</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>31</strong></td>
                            <td headers="col-2">20-03-2017</td>
                            <td headers="col-3">12</td>
                            <td headers="col-4">27</td>
                            <td headers="col-5">7</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>32</strong></td>
                            <td headers="col-2">27-03-2017</td>
                            <td headers="col-3">13</td>
                            <td headers="col-4">28</td>
                            <td headers="col-5">8</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>33</strong></td>
                            <td headers="col-2">03-04-2017</td>
                            <td headers="col-3">14</td>
                            <td headers="col-4">29</td>
                            <td headers="col-5">9</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>34</strong></td>
                            <td headers="col-2">10-04-2017</td>
                            <td headers="col-3">15</td>
                            <td headers="col-4">30</td>
                            <td headers="col-5">10</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="closed"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">13/4: Onderwijsdag, Goede vrijdag</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>35</strong></td>
                            <td headers="col-2">17-04-2017</td>
                            <td headers="col-3">16</td>
                            <td headers="col-4">31</td>
                            <td headers="col-5">1</td>
                            <td headers="col-6" class="closed"><span>x</span></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Pasen</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>36</strong></td>
                            <td headers="col-2">24-04-2017</td>
                            <td headers="col-3">17</td>
                            <td headers="col-4"></td>
                            <td headers="col-5">2a</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9" class="closed"><span>x</span></td>
                            <td headers="col-10" class="closed"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Koningsdag, *****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>37</strong></td>
                            <td headers="col-2">01-05-2017</td>
                            <td headers="col-3">18</td>
                            <td headers="col-4">32</td>
                            <td headers="col-5">2</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10" class="closed"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">5 mei</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>38</strong></td>
                            <td headers="col-2">08-05-2017</td>
                            <td headers="col-3">19</td>
                            <td headers="col-4">33</td>
                            <td headers="col-5">3</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>39</strong></td>
                            <td headers="col-2">15-05-2017</td>
                            <td headers="col-3">20</td>
                            <td headers="col-4">34</td>
                            <td headers="col-5">4</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>40</strong></td>
                            <td headers="col-2">22-05-2017</td>
                            <td headers="col-3">21</td>
                            <td headers="col-4">35</td>
                            <td headers="col-5">5</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9" class="closed"><span>x</span></td>
                            <td headers="col-10" class="closed"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Hemelvaart</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>41</strong></td>
                            <td headers="col-2">29-05-2017</td>
                            <td headers="col-3">22</td>
                            <td headers="col-4">36</td>
                            <td headers="col-5">6</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>42</strong></td>
                            <td headers="col-2">05-06-2017</td>
                            <td headers="col-3">23</td>
                            <td headers="col-4">37</td>
                            <td headers="col-5">7</td>
                            <td headers="col-6" class="closed"><span>x</span></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">Pinksteren</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>43</strong></td>
                            <td headers="col-2">12-06-2017</td>
                            <td headers="col-3">24</td>
                            <td headers="col-4">38</td>
                            <td headers="col-5">8</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>44</strong></td>
                            <td headers="col-2">19-06-2017</td>
                            <td headers="col-3">25</td>
                            <td headers="col-4">39</td>
                            <td headers="col-5">9</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>45</strong></td>
                            <td headers="col-2">26-06-2017</td>
                            <td headers="col-3">26</td>
                            <td headers="col-4">40</td>
                            <td headers="col-5">10</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">DiplomaUitreiking-week/afronding jaar</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>46</strong></td>
                            <td headers="col-2">03-07-2017</td>
                            <td headers="col-3">27</td>
                            <td headers="col-4">41</td>
                            <td headers="col-5">11</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">DiplomaUitreiking-week/afronding jaar</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>47</strong></td>
                            <td headers="col-2">10-07-2017</td>
                            <td headers="col-3">28</td>
                            <td headers="col-4">42</td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>48</strong></td>
                            <td headers="col-2">17-07-2017</td>
                            <td headers="col-3">29</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>49</strong></td>
                            <td headers="col-2">24-07-2017</td>
                            <td headers="col-3">30</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>50</strong></td>
                            <td headers="col-2">31-07-2017</td>
                            <td headers="col-3">31</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>51</strong></td>
                            <td headers="col-2">07-08-2017</td>
                            <td headers="col-3">32</td>
                            <td headers="col-4"></td>
                            <td headers="col-5"></td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>52</strong></td>
                            <td headers="col-2">14-08-2017</td>
                            <td headers="col-3">33</td>
                            <td headers="col-4"></td>
                            <td headers="col-5">-1</td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7" class="limited"><span>x</span></td>
                            <td headers="col-8" class="limited"><span>x</span></td>
                            <td headers="col-9" class="limited"><span>x</span></td>
                            <td headers="col-10" class="limited"><span>x</span></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>1</strong></td>
                            <td headers="col-2">21-08-2017</td>
                            <td headers="col-3">34</td>
                            <td headers="col-4"></td>
                            <td headers="col-5">0</td>
                            <td headers="col-6" class="limited"><span>x</span></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">*****, introductie/herkansen, 22/8 Avans opening</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>2</strong></td>
                            <td headers="col-2">28-08-2017</td>
                            <td headers="col-3">35</td>
                            <td headers="col-4">1</td>
                            <td headers="col-5">1</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description">eerste lesweek</td>
                        </tr>
                    <tr>
                            <td headers="col-1" class="week-number"><strong>3</strong></td>
                            <td headers="col-2">04-09-2017</td>
                            <td headers="col-3">36</td>
                            <td headers="col-4">2</td>
                            <td headers="col-5">2</td>
                            <td headers="col-6"></td>
                            <td headers="col-7"></td>
                            <td headers="col-8"></td>
                            <td headers="col-9"></td>
                            <td headers="col-10"></td>
                            <td headers="col-11" class="closed"><span>x</span></td>
                            <td headers="col-12" class="description"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article> <!-- .grid_9 -->

    </div>
    </div>

</div>
<!-- /main -->

{{> organisms-footer }}
