{{> organisms-header }}
{{> organisms-submenu }}

<div id="main">

    <div class="container_12">

        <div class="grid_3">

            <!-- [K] Paginanavigatie -->
            <nav id="page-menu" class="page-menu content-page__menu">
						<a href="#page-menu" class="skip-link nav-link">Submenu</a>
						<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/studeren/voorzieningen">Voorzieningen</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link page-menu__link--active" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten">Locaties en faciliteiten</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/voorzieningen/studie-en-buitenland">Studie en buitenland</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/studeren/voorzieningen/begeleiding-op-maat">Begeleiding op maat</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/hulp-en-begeleiding">Hulp en begeleiding</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-met-een-functiebeperking">Een functiebeperking</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-en-topsport">Studeren en topsport</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/studeren/voorzieningen/rechten-en-plichten">Rechten en plichten</a>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/opleidingen/studeren-bij-avans/jaarrooster/2016">Jaarrooster 2016-2017</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/jaarrooster/2017">Jaarrooster 2017-2018</a>
																	</li>
																</ul>
												</li>
											<li class="page-menu__item has-sublevel">
													<a class="page-menu__link " href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd">Wonen en vrije tijd</a>
													<span class="toggle" title="Toon subnavigatie">+</span>

														<ul style="display:none;">
														<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-breda">Leven in Breda</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-den-bosch">Leven in 's-Hertogenbosch</a>
																	</li>
																<li class="page-menu__item">
																		<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-tilburg">Leven in Tilburg</a>
																	</li>
																</ul>
												</li>
											</ul>
							<a href="#" class="skip-link close-icon">Verberg het menu</a>
						</div>
					</nav>


            &nbsp;
        </div>

        <div class="grid_9">

            <!-- Bean may not have property title -->
                <div class="grid_12 hentry grid-header">
                    <hgroup>
                        <h1 class="entry-title">Locaties en faciliteiten</h1>
                        </hgroup>
                </div>

            <!-- [AB] Lijst artikelen 2CP -->
            <article class="hentry">
    <!--
    <hgroup>
        <h1 class="entry-title">Locaties en faciliteiten</h1>
    </hgroup>
    -->
    <div class="container_12">
        <div class="grid_8">

            <div class="body entry-content">
                <p>Je vindt Avans Hogeschool in Breda, ’s-Hertogenbosch en Tilburg. In Breda en ’s-Hertogenbosch hebben we meerdere vestigingen.</p>


<p>In welke stad jouw opleiding plaatsvindt zie je in het
<a href="/opleidingen/opleidingzoeker">opleidingenoverzicht</a>.</p>

<p>Bekijk per locatie welke faciliteiten we bieden. &nbsp;</p>


</div>

        </div> <!-- .grid_8 -->
    </div> <!-- .container_12 -->
    <div class="container_12">

        <div class="grid_4">

                <!-- [BB] List of large locations -->
                <section class="box box-locations">

                    <h2>Breda</h2>

                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-hsl.jpg" alt="Foto van locatie HogeschoollaanBreda" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Hogeschoollaan, locatie</span>
                                            Hogeschoollaan<span class="hidden">Breda</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Hogeschoollaan&nbsp;1</span><br>
                                        <span class="postal-code">4818 CR</span>
                                        <span class="locality">Breda</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Hogeschoollaan%2B1%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/hogeschoollaan-1">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Hogeschoollaan" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/hogeschoollaan">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/lovensdijkstraatweb.jpg" alt="Foto van locatie LovensdijkstraatBreda" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Lovensdijkstraat, locatie</span>
                                            Lovensdijkstraat<span class="hidden">Breda</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Lovensdijkstraat&nbsp;61-63</span><br>
                                        <span class="postal-code">4818 AJ</span>
                                        <span class="locality">Breda</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Lovensdijkstraat%2B61-63%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/lovensdijkstraat">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Lovensdijkstraat" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/lovensdijkstraat">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-beuk.jpg" alt="Foto van locatie BeukenlaanBreda" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Beukenlaan, locatie</span>
                                            Beukenlaan<span class="hidden">Breda</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Beukenlaan&nbsp;1</span><br>
                                        <span class="postal-code">4834 CR</span>
                                        <span class="locality">Breda</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Beukenlaan%2B1%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/beukenlaan">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Beukenlaan" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/beukenlaan">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/bijster300x160.jpg" alt="Foto van locatie Bijster 7-21Breda" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Bijster 7-21, locatie</span>
                                            Bijster 7-21<span class="hidden">Breda</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Bijster&nbsp;7-21</span><br>
                                        <span class="postal-code">4817 HZ</span>
                                        <span class="locality">Breda</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Bijster%2B7-21%2CBreda&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/bijster">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Bijster 7-21" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/bijster">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    </section>

            </div>
        <div class="grid_4">

                <!-- [BB] List of large locations -->
                <section class="box box-locations">

                    <h2>'s-Hertogenbosch</h2>

                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-owb215.jpg" alt="Foto van locatie Onderwijsboulevard 215's-Hertogenbosch" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Onderwijsboulevard 215, locatie</span>
                                            Onderwijsboulevard 215<span class="hidden">'s-Hertogenbosch</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Onderwijsboulevard&nbsp;215</span><br>
                                        <span class="postal-code">5223 DE</span>
                                        <span class="locality">'s-Hertogenbosch</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088-  525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Onderwijsboulevard%2B215%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/onderwijsboulevard-215">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Onderwijsboulevard 215" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/onderwijsboulevard-215">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-cob-256.jpg" alt="Foto van locatie Onderwijsboulevard 256's-Hertogenbosch" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Onderwijsboulevard 256, locatie</span>
                                            Onderwijsboulevard 256<span class="hidden">'s-Hertogenbosch</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Onderwijsboulevard&nbsp;256</span><br>
                                        <span class="postal-code">5223 DJ</span>
                                        <span class="locality">'s-Hertogenbosch</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Onderwijsboulevard%2B256%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/onderwijsboulevard-256">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Onderwijsboulevard 256" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/onderwijsboulevard-256">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-herv.jpg" alt="Foto van locatie Hervenplein's-Hertogenbosch" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Hervenplein, locatie</span>
                                            Hervenplein<span class="hidden">'s-Hertogenbosch</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Hervenplein&nbsp;2</span><br>
                                        <span class="postal-code">5232 JE</span>
                                        <span class="locality">'s-Hertogenbosch</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Hervenplein%2B2%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/hervenplein">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Hervenplein" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/hervenplein">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/_0030172bewhoogedonkenzwweb.jpg" alt="Foto van locatie Parallelweg's-Hertogenbosch" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Parallelweg, locatie</span>
                                            Parallelweg<span class="hidden">'s-Hertogenbosch</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Parallelweg&nbsp;64</span><br>
                                        <span class="postal-code">5223 AL</span>
                                        <span class="locality">'s-Hertogenbosch</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Parallelweg%2B64%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/parallelweg">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Parallelweg" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parallelweg">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/stationsplein_50_300x160.jpg" alt="Foto van locatie Stationsplein 50's-Hertogenbosch" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Stationsplein 50, locatie</span>
                                            Stationsplein 50<span class="hidden">'s-Hertogenbosch</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Stationsplein&nbsp;50</span><br>
                                        <span class="postal-code">5211 AP</span>
                                        <span class="locality">'s-Hertogenbosch</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088-525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Stationsplein%2B50%2C%26%23039%3Bs-Hertogenbosch&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/stationsplein-50">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Stationsplein 50" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/stationsplein-50">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    </section>

            </div>
        <div class="grid_4">

                <!-- [BB] List of large locations -->
                <section class="box box-locations">

                    <h2>Tilburg</h2>

                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/contact-prof-215.jpg%5B2%5D" alt="Foto van locatie Professor CobbenhagenlaanTilburg" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Professor Cobbenhagenlaan, locatie</span>
                                            Professor Cobbenhagenlaan<span class="hidden">Tilburg</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Professor Cobbenhagenlaan&nbsp;13</span><br>
                                        <span class="postal-code">5037 DA</span>
                                        <span class="locality">Tilburg</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Professor+Cobbenhagenlaan%2B13%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/professor-cobbenhagelaan">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Professor Cobbenhagenlaan" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/professor-cobbenhagenlaan">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/meerkoldreef-300x160.jpg" alt="Foto van locatie MeerkoldreefTilburg" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Meerkoldreef, locatie</span>
                                            Meerkoldreef<span class="hidden">Tilburg</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Meerkoldreef&nbsp;6</span><br>
                                        <span class="postal-code">5042 PN</span>
                                        <span class="locality">Tilburg</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Meerkoldreef%2B6%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/meerkoldreef">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Meerkoldreef" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/meerkoldreef-6">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    <article class="box">

                            <div class="vcard location">

                                <figure>
                                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/locaties/sportlaan.jpg" alt="Foto van locatie Sportweg 15Tilburg" class="photo">
                                </figure>

                                <div class="body style-highlight">

                                    <h3 class="org">
                                        <span class="hidden">Avans Sportweg 15, locatie</span>
                                            Sportweg 15<span class="hidden">Tilburg</span>
                                    </h3>

                                    <div class="adr">
                                        <span class="street-address">Sportweg&nbsp;15</span><br>
                                        <span class="postal-code">5037 AC</span>
                                        <span class="locality">Tilburg</span>
                                    </div>
                                    <div class="pobox">
                                                Postbus 90.116, 4800 RA&nbsp;Breda</div>
                                    <div class="tel">Receptie: 088 - 525 75 00</div>
                                    <ul class="arrowed list-horizontal">
                                        <li>
		                                    <a href="http://maps.google.nl/maps?t=h&amp;f=d&amp;daddr=Sportweg%2B15%2CTilburg&amp;ie=UTF8&amp;z=16" target="_blank" rel="external">Route via Google Maps</a>
		                                </li>
		                                <li>
		                                        <a href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/parkeren/sportweg">Parkeren</a>
		                                    </li>
		                                <li>
		                                    <a href="http://www.9292.nl/" target="_blank" rel="external">Openbaar vervoer via 9292</a>
		                                </li>
                                        <li>
                                            <a title="Bekijk de faciliteiten van locatie Sportweg 15" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten/sportweg-15">Faciliteiten</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                    </section>

            </div>
        </div>
</article>
</div>
    </div>

</div>

{{> organisms-footer }}
