{{> organisms-header }}
{{> organisms-submenu }}

<div id="main">

    <div class="container_12">

        <div class="grid_3">

            <!-- [K] Paginanavigatie -->
            <nav id="page-menu" class="page-menu content-page__menu">
						<a href="#page-menu" class="skip-link nav-link">Submenu</a>
						<div class="page-menu__container">
							<ul class="page-menu__list">

								<li class="parent-item"><a class="skip-link nav-link" href="/over-avans/werken-bij-avans/overzicht">Werken bij Avans</a> </li>
								<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/vacatures">Vacatures</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/word-docent">Word docent</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/talentontwikkeling">Ontwikkel je talent</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link page-menu__link--active" href="/over-avans/werken-bij-avans/verhalen-van-medewerkers">Collega's vertellen</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/werken-bij">Avans als werkgever</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/arbeidsvoorwaarden">Arbeidsvoorwaarden</a>
												</li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/solliciteren">Solliciteren</a>
												</li>
											<li class="spacer"></li>
											<li class="page-menu__item">
													<a class="page-menu__link" href="/over-avans/werken-bij-avans/oud-medewerkers">Oud-medewerkers</a>
												</li>
											</ul>
							<a href="#" class="skip-link close-icon">Verberg het menu</a>
						</div>
					</nav>


            &nbsp;
        </div>

        <div class="grid_9">

            <!-- Bean may not have property title -->
                <!-- [AB] Lijst artikelen 2CP -->
            <article>

        <!-- Article heading -->
        <hgroup>
            <h1 class="entry-title">Verhalen van medewerkers</h1>
        </hgroup>

        <!-- [AQ] Team member -->
            <section class="box box-team-member style-highlight">
                <figure>
                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/werken-bij-avans/ingekluijtmans.jpg" alt="Inge Kluijtmans">
                </figure>

                <div class="body">
                    <h2>Inge Kluijtmans</h2>
                    <div class="description">
                            “Als senior management assistente ben ik binnen de academie de schakel tussen de directie, teamleden en externen. Prioriteren is belangrijk in deze dynamische, inspirerende werkomgeving vol   mogelijkheden.”<br>
                    </div>
                        -<span class="read-more arrowed">
						<a href="/over-avans/werken-bij-avans/verhalen-van-medewerkers/inge-kluijtmans">Lees verder</a>
					</span>
                </div>
            </section>
        <!-- [AQ] Team member -->
            <section class="box box-team-member style-highlight">
                <figure>
                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/werken-bij-avans/lars-borgman-120x120.jpg" alt="Lars Borgman">
                </figure>

                <div class="body">
                    <h2>Lars Borgman</h2>
                    <div class="description">
                            Docent bij de opleiding Fysiotherapie in Breda. “Je moet een beetje een vakgek zijn. Zonder passie kun je je kennis niet overbrengen op studenten.”<br>
                    </div>
                        -<span class="read-more arrowed">
						<a href="/over-avans/werken-bij-avans/verhalen-van-medewerkers/lars-borgman">Lees verder</a>
					</span>
                </div>
            </section>
        <!-- [AQ] Team member -->
            <section class="box box-team-member style-highlight">
                <figure>
                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/werken-bij-avans/tommy-vorst.jpg" alt="Tommy Vorst">
                </figure>

                <div class="body">
                    <h2>Tommy Vorst</h2>
                    <div class="description">
                            Docent Engels. “Het draait bij Avans echt om de student. Dat maakt het zo’n fantastische plek om te werken.”<br>
                    </div>
                        -<span class="read-more arrowed">
						<a href="/over-avans/werken-bij-avans/verhalen-van-medewerkers/tommy-vorst">Lees verder</a>
					</span>
                </div>
            </section>
        <!-- [AQ] Team member -->
            <section class="box box-team-member style-highlight">
                <figure>
                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/over-avans/werken-bij-avans/martine-vlugter.jpg" alt="Martine Vlugter">
                </figure>

                <div class="body">
                    <h2>Martine Vlugter</h2>
                    <div class="description">
                            Docent opleiding Mens en Techniek. “Ik geniet van de snelle resultaten die we boeken. Na elk blok staat er een groep studenten met nieuwe inzichten. Jonge mensen zijn nog kneedbaar en willen graag leren. Ik voel dat ik hier iets kan betekenen.”<br>
                    </div>
                        -<span class="read-more arrowed">
						<a href="/over-avans/werken-bij-avans/verhalen-van-medewerkers/martine-vlugter">Lees verder</a>
					</span>
                </div>
            </section>
        <!-- [AQ] Team member -->
            <section class="box box-team-member style-highlight">
                <figure>
                    <img src="http://www.avans.nl/binaries/content/gallery/nextweb/onderzoek-nieuw/deelnemers/esb/marleen-janssen-groesbeek-zw.jpg" alt="Marleen Janssen Groesbeek">
                </figure>

                <div class="body">
                    <h2>Marleen Janssen Groesbeek</h2>
                    <div class="description">
                            Lector Sustainable Finance and Accounting. “Samen met studenten en docenten onderzoek doen waar bedrijven wat aan hebben, dat vind ik fantastisch om te doen.”<br>
                    </div>
                        -<span class="read-more arrowed">
						<a href="/over-avans/werken-bij-avans/verhalen-van-medewerkers/marleen-janssen-groesbeek">Lees verder</a>
					</span>
                </div>
            </section>
        </article> <!-- .grid_9 -->
    <script>
    function pageNumber(pageNumber) {//function: go to selected pagenumber
        //get current url
        let url = window.location.href;
        //if the ?page=x is in the url, get the part of the url till the ?
        let lengthTillPage = url.indexOf("page=");
        if (lengthTillPage == -1) {
            //page not found, add to go to that page.
            if(url.indexOf("?") == -1)
                url = url.concat("?page=", pageNumber);
            else
                url = url.concat("&page=", pageNumber);
        }
        else {
            //get the full page=xxxx part
            let gotoPagePart = url.substring(lengthTillPage)
            let tillEndOfPagePart = gotoPagePart.indexOf("&");
            if (tillEndOfPagePart == -1) {//nothing after page=xxx)
                url = url.replace(gotoPagePart, "page=" + pageNumber);
            }
            else {
                url = url.replace(gotoPagePart.substring(0, tillEndOfPagePart), "page=" + pageNumber);
            }
        }
        window.location.href = url;
    }
</script>

<footer class="resultpage__footer">
        <h3>
            1 - 5 van 23 </h3>
        <div class="pagination">
                <ol class="pagination__list">
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(1)" class="pagination__link  pagination__link--active">
                                    1</a></li>
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(2)" class="pagination__link  ">
                                    2</a></li>
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(3)" class="pagination__link  ">
                                    3</a></li>
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(4)" class="pagination__link  ">
                                    4</a></li>
                    <li class="pagination__item">
                            <a href="javascript:pageNumber(5)" class="pagination__link  ">
                                    5</a></li>
                    </ol>
                </div>
        </footer>
</div>
    </div>

</div>

{{> organisms-footer }}
