{{> organisms-header }}
{{> organisms-submenu }}

	<!-- http://webcms-test.avans.nl/binaries/content/gallery/nextweb/stad-en-naast-je-studie/breda-markt-gezellig.jpg -->


<main class="layout-full-width-block main-content layout-full-width-block--service-page">
	<div class="layout-full-width-block__content service-page">
		{{> organisms-page-menu}}

		<article class="main-content service-page__content">
			{{> atoms-article-header }}
			<!-- /article-header -->
			{{> molecules-grid }}

			{{{ article-content }}}
			<!-- / article-content -->
		</article>

	</div>
</main>
<!-- /main -->
{{> organisms-footer }}
