{{> organisms-header }}
{{> organisms-submenu }}

	<!-- http://webcms-test.avans.nl/binaries/content/gallery/nextweb/stad-en-naast-je-studie/breda-markt-gezellig.jpg -->

	<main class="layout-full-width-block main-content layout-full-width-block--simple-content-page">
	    <div class="layout-full-width-block__content content-page-simple">
	        <nav id="page-menu" class="page-menu content-page__menu">
							<a href="#page-menu" class="skip-link nav-link">Wonen en vrije tijd</a>
							<div class="page-menu__container">
								<ul class="page-menu__list">

									<li class="parent-item"><a class="skip-link nav-link" href="/studeren/voorzieningen">Voorzieningen</a> </li>
									<li class="page-menu__item">
														<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/locaties-en-faciliteiten">Locaties en faciliteiten</a>
													</li>
												<li class="page-menu__item">
														<a class="page-menu__link" href="/studeren/voorzieningen/studie-en-buitenland">Studie en buitenland</a>
													</li>
												<li class="page-menu__item has-sublevel">
														<a class="page-menu__link " href="/studeren/voorzieningen/begeleiding-op-maat">Begeleiding op maat</a>
														<span class="toggle" title="Toon subnavigatie">+</span>

															<ul style="display:none;">
															<li class="page-menu__item">
																			<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/hulp-en-begeleiding">Hulp en begeleiding</a>
																		</li>
																	<li class="page-menu__item">
																			<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-met-een-functiebeperking">Een functiebeperking</a>
																		</li>
																	<li class="page-menu__item">
																			<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-en-topsport">Studeren en topsport</a>
																		</li>
																	<li class="page-menu__item">
																			<a class="page-menu__link" href="/studeren/voorzieningen/begeleiding-op-maat/studeren-en-ondernemen">Studeren en ondernemen</a>
																		</li>
																	</ul>
													</li>
												<li class="page-menu__item">
														<a class="page-menu__link" href="/studeren/voorzieningen/rechten-en-plichten">Rechten en plichten</a>
													</li>
												<li class="page-menu__item">
														<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/jaarrooster/2017">Jaarrooster</a>
													</li>
												<li class="page-menu__item has-sublevel open">
														<a class="page-menu__link  active page-menu__link--active" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd">Wonen en vrije tijd</a>
														<span class="toggle" title="Toon subnavigatie">+</span>

															<ul>
															<li class="page-menu__item">
																			<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-breda">Leven in Breda</a>
																		</li>
																	<li class="page-menu__item">
																			<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-den-bosch">Leven in 's-Hertogenbosch</a>
																		</li>
																	<li class="page-menu__item">
																			<a class="page-menu__link" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-tilburg">Leven in Tilburg</a>
																		</li>
																	</ul>
													</li>
												</ul>
								<a href="#" class="skip-link close-icon">Verberg het menu</a>
							</div>
						</nav>

					<article class="main-content simple-content-page__content ">
	            <h1 class="entry-title">Wonen &amp; vrije tijd</h1>
	            <!-- [AB] Lijst artikelen 2CP -->
	            <article class="hentry">

	        <!-- NXTWB-1678
	              <h1 class="entry-title">Wonen &amp; vrije tijd</h1>
	         -->
	        <ul class="grid">
	                <li class="grid__item">
	                        <a class="grid__link" title="Bekijk Leven in Breda" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-breda">
	                            <figure class="grid__content">
	                                <div class="grid__image-container">
	                                    <img class="grid__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/stad-en-naast-je-studie/breda-markt-gezellig.jpg" alt="Naam van de stad">
	                                </div>
	                                <figcaption class="grid__caption">Leven in Breda</figcaption>
	                            </figure>
	                        </a>
	                    </li>
	                <li class="grid__item">
	                        <a class="grid__link" title="Bekijk Leven in 's-Hertogenbosch" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-den-bosch">
	                            <figure class="grid__content">
	                                <div class="grid__image-container">
	                                    <img class="grid__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/stad-en-naast-je-studie/denbosch-220x140.jpg" alt="Naam van de stad">
	                                </div>
	                                <figcaption class="grid__caption">Leven in 's-Hertogenbosch</figcaption>
	                            </figure>
	                        </a>
	                    </li>
	                <li class="grid__item">
	                        <a class="grid__link" title="Bekijk Leven in Tilburg" href="/opleidingen/studeren-bij-avans/wonen-en-vrije-tijd/leven-in-tilburg">
	                            <figure class="grid__content">
	                                <div class="grid__image-container">
	                                    <img class="grid__image" src="http://www.avans.nl/binaries/content/gallery/nextweb/stad-en-naast-je-studie/tilburg-g-220x140-.jpg" alt="Naam van de stad">
	                                </div>
	                                <figcaption class="grid__caption">Leven in Tilburg</figcaption>
	                            </figure>
	                        </a>
	                    </li>
	                </ul>
	        <div class="container_12">
	            <div class="grid_8">
	                <div class="entry-content body">
	                    <p>Je volgt een opleiding bij Avans. Maar natuurlijk niet de hele tijd. Je vrije tijd kun je op allerlei manieren besteden. Sommige opleidingen hebben studieverenigingen. Die staan vermeld bij de opleidingsinformatie.</p>

	<p>Avans Hogeschool heeft ook een <a href="https://www.facebook.com/bstdederdeakte/" target="_blank" title="Theatercomplex">toneelvereniging</a> voor studenten.</p>

	<p>Verder vertier vind je in de Avans stad waar jij je opleiding gaat doen. Breda, ’s-Hertogenbosch of Tilburg. Je maakt nieuwe vrienden. Je gaat er misschien wel op kamers wonen. Een bijbaan zoeken. Of sporten. Klik op de stad van jouw keuze. En zie wat die te bieden heeft voor wonen, leven en vrije tijd.</p></div>

	                <section class="box box-page-list">
	                    </section>
	            </div>
	        </div>
	    </article>
	</article>
	    </div>
	</main>



<main class="layout-full-width-block main-content layout-full-width-block--simple-content-page">
	<div class="layout-full-width-block__content simple-content-page">
		{{> organisms-page-menu}}

		<article class="main-content simple-content-page__content">
			{{> atoms-article-header }}
			<!-- /article-header -->
			{{> molecules-grid }}

			{{{ article-content }}}
			<!-- / article-content -->
		</article>

	</div>
</main>
<!-- /main -->
{{> organisms-footer }}
