.logo {
	// combat old css 2017
	position: static;

	display: flex;
	flex-direction: column;

	width: 163px;
	height: 100px;
	margin-left: $spacing;
	padding-top: 1.8125rem;

	transition: width .5s ease;
}
@media all and (max-width: $bp-m) {
	.logo {
		width: 122px;
		height: 60px;
		padding-top: 18px;
	}

	.logo__img {
		width: 122px;
		height: 36px;
	}
}
