.logo {
	width: 163px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-top: 1.8125rem;
	margin-left: $spacing;
	@extend .testing;
}
@media all and (max-width: $bp-s) {
	.logo {
		height: 60px;
		width: 122px;
		padding-top: 18px;
	}

	.logo__img {
		height: 36px;
		width: 122px;
	}
}
