.logo {
    width: 163px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin-left: $spacing;

}

@media all and (max-width: $bp-s) {
.logo {
	height: 70px;
	width: 114px;
}
}

.logo__img {
    width: 100%;
    height: 100%;
}
