.image-block {
	background-color: $avans-red;
}
.image-block--sans-footer {
	background: transparent;
}
.image-block__figure {
	position: relative;

	margin: 0;
}
.image-block__image {
	width: 100%;
}
.image-block__header-block {
	position: absolute;
	bottom: 0;

	color: $white;
	.image-block--sans-footer & {
		bottom: 100px;
	}
}
.image-block--sans-footer .btn--image-block {
	position: absolute;
	bottom: $spacing-xl;

	margin: 0 $spacing-xl;
}
.image-block__header-block,
.image-block__footer {
	padding: $spacing-xl;
}
.image-block__footer {
	margin: $spacing-xl 0;
}
