
.image-block {
	position: relative;

	display: flex;
	flex-direction: column;

	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.image-block--open-dag {
	position: relative;

	width: 100%;
	min-height: 328px;
	padding-left: 50%;

	background-color: $avans-red;
	background-position: 0 0;
	background-size: contain;

	justify-content: flex-end;
	justify-content: space-between;
	@media all and (min-width: $bp-l) {
		padding-left: $spacing;

		justify-content: space-before;
	}
}


.image-block__content {
	position: relative;
	z-index: 5;

	padding: 1rem;

	color: $white;
}

.image-block:before {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	content: '';

	background-color: rgba(0,0,0,.2);
	.image-block--open-dag & {
		height: calc(100% - 3.5rem);
	}
}

.image-block__header {
	font-size: $fs-xl;

	margin-top: 0;
}



.image-block__buttons {
	padding: 1rem;

	.btn {
		margin: 0;
	}
}
@media all and (max-width: $bp-s) {
	.image-block__buttons--open-dag {
		background-color: $avans-red;
	}
}

@media all  and (min-width: $bp-m) {
	.image-block__buttons--open-dag {
		background-color: $avans-red;
	}
}
