<div class="image-block {{ image-block-class }}" style="background-image: url({{ image-block-image }})">
	<div class="image-block__content">
		<h3 class="image-block__header">{{ image-block-header}}</h3>
		<!-- /image-block__header -->
		{{# image-block-time }}
			<time datetime="{{image-block-time.datetime}}">{{ image-block-time.text}}</time>
		{{/ image-block-time }}
		<!-- /image-block__sub-text -->
	</div>
	<div class="image-block__buttons image-block__buttons--open-dag">
	{{# image-block-button }}
		{{> atoms-button }}
	{{/ image-block-button }}
</div>
	<!-- /image-block__button -->



</div>
<!-- /image-block -->
