<div class="image-block image-block--sans-footer {{ class }}">
  <figure class="image-block__figure">
    <img class='image-block__image' src="../../images/image-block/samenwerken/samenwerken.png" alt="samenwerken" />
    <figcaption class="image-block__header-block">
      <h3 class=="image-block__header">{{ header}}</h3>
      <!-- /image-block__header -->
      <p class="image-block__sub-text">{{ time }}</p>
      <!-- /image-block__sub-text -->
    </figcaption>
    <!-- /image-block__header-block -->
    <a href="#" class="btn btn--image-block">Meer informatie</a>
  </figure>
  <!-- /image-block__figure -->
</div>
<!-- /image-block -->
