<div class="image-block {{ image-block-class }}"
{{# image-block-style }} style="{{ image-block-style }}"{{/ image-block-style }}>
	<div class="image-block__content">
		<h3 class="image-block__header">{{ image-block-header}}</h3>
		<!-- /image-block__header -->

		<p class="image-block__sub-text ">{{{ image-block-sub }}}</p>
		<!-- /image-block__sub-text -->
	</div>
	<!-- /image-block__header-block -->

	<div class="image-block__buttons {{ image-block__button-class}}">
	{{# image-block-button }}
		{{> atoms-button }}
	{{/ image-block-button }}
</div>

</div>
<!-- /image-block -->
