<div class="image-block">
  <figure class="image-block__figure">
    <img src="../../../images/image-block/lady/lady.png" alt="lady" />
    <figcaption class="image-block__header-block">
      <h3 class=="image-block__header">Open avond deeltijd</h3>
      <!-- /image-block__header -->
      <p class="image-block__sub-text">7 juni, 18.00 - 21.00</p>
      <!-- /image-block__sub-text -->
    </figcaption>
    <!-- /image-block__header-block -->
  </figure>
  <!-- /image-block__figure -->
  <footer class="image-block__footer">
    <a href="#" class="btn btn--image-block">Meer informatie</a>
  </footer>
</div>
<!-- /image-block -->
