.avans-homepage {
	@media all and (min-width: $bp-s) {
		* {
			//outline: 1px solid #ccc;
		}
	}
}


.homepage__top {
	background-color: $lighter-gray;
	.l-container {
		@media all and (min-width: $bp-s) {
			display: grid;

			padding: $spacing;

			grid-gap: 20px;
			grid-template-areas: 'linkbox linkbox'
			'open-dag open-dag'
			'bedrijven samenwerken';
		}
		.link-box {
			grid-area: linkbox;
		}
		.open-dag-block {
			grid-area: open-dag;
		}
		.image-block--bedrijven {
			grid-area: bedrijven;
		}
		.image-block--samenwerken {
			grid-area: samenwerken;
		}
	}
}
