.avans-listpage * {}

.top-bar__content {
    justify-content: space-between;
}

.top-bar__content,
.hero__content {
    display: flex;
}

.hero {
    background-image: url('../../../images/hero/1920.png');
    background-position: 50% 50%;
    //    background-color: #fff;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.hero:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - (1920px / 2));
    width: 100%;
    max-width: 1920px;
    height: 600px;
    background-color: rgba(0, 0, 0, .4);
}

.nav {
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100px;
}

.nav__item {
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $spacing-l;
    .util-nav &:last-child {
        border-right: 0;
    }
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.logo {
    width: 163px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.header--hero {
    color: #fff;
    text-transform: uppercase;
    width: calc( 900px / 2);
    max-width: 80vw;
    position: relative;
    z-index: 5;
    margin-left: $spacing-xl;
}

.link-box--top {
    width: 60%;
    margin-right: $spacing-xl;
}

.link-box--news {
    width: 50%;
    margin-left: $spacing-l;
}

@media all and (max-width: $bp-m) {
    .layout-full-width-block__content--intro {
        flex-direction: column;
    }
    .link-box--top {
        width: 100%;
    }
    .main-content .fooBar {
        outline: 1px dotted red;
        display: flex;
        width: 100%;
        .image-block__header-block {
            right: -110%;
            bottom: initial;
            top: 5%;
        }
    }
    .link-block__item {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        margin-right: 0;
    }
    .link-block__link {
        flex-direction: row-reverse;
    }
    .link-block__text {
        width: 50%;
    }
    .link-block__item:nth-child(odd) {
        margin-right: 0;
    }
}