{{> organisms-header }}

<main class="main-content homepage">
	{{# slider }}
		{{> molecules-slider }}
	{{/ slider }}
	<section class="homepage__top">
		<div class="l-container">
			{{# link-box-top }}
				{{> organisms-link-box }}
			{{/ link-box-top }}

			{{# image-blocks }}
				{{> molecules-image-block }}
			{{/ image-blocks }}

		</div>
	</section>
	<section class="homepage__bottom">
		<div class="l-container">
			{{# meer-avans }}
				{{> molecules-grid }}
			{{/ meer-avans }}

			{{# link-box-news }}
				{{> organisms-link-box }}
			{{/ link-box-news }}

		</div>
	</section>
</main>
<!-- /main -->
{{> organisms-footer }}
