{{> organisms-header }}
{{> organisms-hero-home }}
<main class="layout-full-width-block main-content">
  <div class="layout-full-width-block__content layout-full-width-block__content--intro">


      <article class="link-box link-box--top">

        {{# link-box-top }}
          {{> organisms-link-box }}
        {{/ link-box-top }}
		{{# link-box-top-buttons }}
		{{> molecules-button-bar }}
		{{/ link-box-top-buttons }}

      </article>

      <!-- /link box -->
      {{# image-block-class }}
      {{> molecules-image-block }}
      {{/ image-block-class }}

	  {{# image-blocks }}
	  {{> molecules-image-block-sans-footer }}
	  {{/ image-blocks }}

	  {{# meer-avans }}
	  	{{> molecules-grid }}
	  {{/ meer-avans }}

        <article class="link-box link-box--news">
          {{# link-box-news }}
            {{> organisms-link-box }}
          {{/ link-box-news }}
        </article>
  </main>
  <!-- /main -->
  {{> organisms-footer }}
