// stuff
.tab__item {
	border: 1px solid #eee;
	padding: 1rem;
	margin: 0 1rem -1px 0;
}


@media (max-width: $bp-m ) {
	.tab__item {
		display: block;
	}
}

.tab__link {
	color: $avans-blue;
}
.tab__link:active {
	color: #000;
}

.tab__item--selected {
	border-bottom-color: #fff;
	.tab__link {
		color: #000;
	}
}
