// stuff
.tab__item {
	margin: 0 0 -1px 0;

	border: 1px solid $lighter-gray;
}

.tab__link.tab__link,
.nav-tabs > li > a {
	font-size: $fs-s;
	line-height: 1;

	display: block;

	padding: .825rem 1rem;

	text-decoration: none;

	color: $avans-blue;
	background: transparent;
}



.tab__link:active {
	color: $text-color;
}

.active,
.tab__item--selected {
	border-bottom-color: $white;
	.tab__link.tab__link {
		color: $text-color;
		background: $white;
	}
}
