<li
	class="tab__item {{# tab-selected }} tab__item--selected{{/ tab-selected }}">
	<a
		href="#section-{{ tab-id }}"
		id="id-{{ tab-id }}"
		data-tabgroup="{{ tab-group }}"
		class="tab__link"
		{{# tab-selected }}
			aria-selected="true"
		{{/ tab-selected }}>
		{{ tab-item }}
	</a>
</li>
