// vertical-hero
.vertical-hero {
	background-color: $avans-red;
}

@media all and (min-width: $bp-l) {
	.vertical-hero {
		// min-width: 400px;
		display: flex;
		flex-direction: column;

		min-width: 750px;
		height: 100vh;
		max-height: 1000px;
		padding: $spacing-l;

		text-align: right;

		align-items: center;
	}
}
