// vertical-hero
.vertical-hero {
	background-color: $avans-red;
}

@media all and (min-width: $bp-l) {
	.vertical-hero {
		min-width: 750px;
		// min-width: 400px;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 text-align: right;
		 padding: $spacing-l;
	}
}
