.resultpage__content {
	display: flex;
	flex-direction: column-reverse;
}
@media all and (min-width: $bp-l) {
	.resultpage__content {
		display: flex;
		flex-direction: row-reverse;
	}

	.resultpage__filters {
		width: 260px;
		padding-right: $spacing;
		outline: 1px solid red;
	}

	.resultpage__list {
		width: calc(100% - 285px);
		flex: 1;
		padding-left: 0;
	}
	.resultpage__footer,
	.resultpage__header {
		padding-left: $sidebar;
	}
}
@media all and (max-width: $bp-l) {
	.resultpage__filters {
		column-count: 2;
		display: none;
	}
	.filter__header {
		column-span: all;
	}
}
/*
	testing
*/
// .resultpage__filters {
// 	background-image: url('../images/test-bgs/filters.png');
// 	background-position: -130px -60px;
// }
