{{> organisms-header }}
{{> organisms-submenu }}
<main class="layout-full-width-block main-content">
	<div class="layout-full-width-block__content">
		<article class="resultpage__list">
			<header class="resultpage__header page-header__block">
				{{#  page-title }}
					{{> atoms-page-header }}
				{{/ page-title }}
			</header>
			{{# filter-blok }}
				{{> organisms-filter-block }}
			{{/ filter-blok }}

			<section class="resultpage__content">
				{{> organisms-results-list }}
			</section>

			<footer class="resultpage__footer">
				<h3>1-10 van de 141 opleidingen</h3>
				{{# pagination }}
					{{> molecules-pagination }}
				{{/ pagination }}
			</footer>
		</article>

	</div>
</main>
<!-- /main -->

{{> organisms-footer }}
