.widget {
	margin-bottom: $spacing;
	//@extend .testing;
}

.widget.links__list-block {
	margin: 0;
	padding: 0;
}

.widget__content {
	font-size: .875rem;
}

.widget__content,
.widget__link--solo {
	color: $light-gray;
}

.widget .links__header,
.widget__header {
	position: relative;

	padding: $spacing 0;

	color: $text-color;
	border-bottom: 1px solid $lighter-gray;
	background-repeat: no-repeat;
	background-position: center right;
}

.widget__header:after {
	position: absolute;

	display: inline-block;

	width: 1rem;
	height: 1rem;
	margin-left: 1rem;

	content: '';

	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
}

@media all and (min-width: $bp-xl) {
	.widget__header:after {
		right: 0;
	}
}
@media all and (max-width: $bp-s) {
	.widget__header:after {
		right: 0;
	}
}

.widget__header--apply:after {
	background-image: url('../images/icons/widgets/Icon-Aanmelden.svg');
}

.widget__header--open:after {
	width: 2rem;

	background-image: url('../images/icons/widgets/Icon-Open.svg');
}

.widget__header--cijfers:after {
	background-image: url('../images/icons/widgets/Icon-StudieInCijfers.svg');
}

.widget__header--duurzaam:after {
	background-image: url('../images/icons/widgets/Icon-Duurzaam.svg');
}

.durability,
.widget__paragraph {
	margin-bottom: $spacing;
}

.widget__list {
	padding-left: 0;

	list-style: none;
}

.widget__link--solo,
.widget__list-item {
	position: relative;

	padding: $spacing-s 0 $spacing-s $spacing-l;

	border-bottom: 1px solid $lighter-gray;
}

.widget__link--solo:before,
.widget__list-item:before {
	top: $spacing;
	left: 4px;

	@extend .small-arrow;
}

.widget__list-item:before {
	border-color: $light-gray;
}

.widget__link--solo:before {
	border-color: $avans-blue;
}

.widget__list-link {
	color: $avans-blue;
}

.durability {
	display: block;
}

.star {
	display: inline-block;

	fill: $text-color;
}
