<fieldset class="filters">

	<legend class="filters__header">
		{{ header }} header
	</legend>
	<ul class="filters__list">
		{{# filters }}
		<li class="filter__item {{ filter-class }}">
			{{> atoms-filter }}
		</li>
		{{/ filters }}
	</ul>
</fieldset>
