<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="http://www.avans.nl/css/responsive/onderzoek.css?{{ cacheBuster }}" media="all" />
	<link rel="stylesheet" href="http://www.avans.nl/css/responsive/mobile-menu.css?{{ cacheBuster }}" media="all" />
	<link rel="stylesheet" href="../../css/old.css?{{ cacheBuster }}" media="all" />
	<!-- font loading stuff -->

		<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/eee766eb-b2b4-4d5e-b421-2a3d803b998b.css"/>
	<!-- /font loading stuff -->

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body {{# bodyClass }}class="{{ bodyClass }}"{{/ bodyClass }}>
