
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script type="text/javascript" src="http://webcms-test.avans.nl/js/responsive/script.js"></script> -->
  <script type="text/javascript" src="../../js/avans.js?{{ cacheBuster }}"></script>
  </body>
</html>
