$footer-text-color: $light-gray;
$footer-background-color: $light-gray-background;
$disclaimer-background-color: $text-color;
$footer-link-animation-duration: .5s;

/*
	for testing purposes
*/


/*
	/ end testing
*/

.page-footer {
	background-color: $footer-background-color;
}

.page-footer__content {
	display: flex;
	flex-direction: column;
}

.footer-links {
	display: flex;
	flex-direction: column;

	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;

	color: $footer-text-color;

	justify-content: space-between;
}

.links__list-block {
	flex: 0 1 auto;
}

@media all and (min-width: $bp-m) {
	// blokken naast elkaar
	.footer-links {
		flex-direction: row;
	}
	// vul de ruimte en zet een beetje marge links
	.links__list-block {
		flex: 0 1 33%;

		margin-left: $spacing;
	}
	.links__list-block:first-child {
		margin-left: 0;
	}
}

.links__list {
	display: flex;
	flex-direction: row;

	margin-top: .75rem;
	padding-left: 0;

	flex-wrap: wrap;
}

@media all and (max-width: $bp-xl) {
	.links__list-block {
		padding: 0 $spacing;
	}
}

@media all and (min-width: $bp-m) {
	.links__list-block {
		padding-left: 0;
	}
}

.links__list--discover {
	flex-direction: column;
}

.footer-link__item {
	flex: 0 1 auto;

	padding: 0 $spacing-s $spacing-xs 0;

	list-style: none;
	.nav & {
		padding-bottom: $spacing-s;
	}
}

.footer-link__link {
	font-size: $footer-links;

	transition: background $footer-link-animation-duration ease;

	color: $footer-text-color;
}

.footer-link__link:hover {
	text-decoration: underline;
}

.footer-link__item--discover {
	position: relative;

	padding-left: $spacing;

	transition: border-color $footer-link-animation-duration ease;
}

.footer-link__item--discover .footer-link__link {
	transition: color $footer-link-animation-duration ease;
}

.footer-link__item--discover .footer-link__link:hover,
.footer-link__item--discover .footer-link__link:focus {
	color: $avans-blue;
}


/*
	@#todo
	make mixin
	*/

.footer-link__item--discover:before {
	position: absolute;
	top: 7px;
	left: 2px;

	display: inline-block;

	width: 5px;
	height: 5px;

	content: '';
	transform: rotate(45deg);

	border: 1px solid $light-gray;
	border-width: 1px 1px 0 0;
}

.footer-link__item--discover:hover:before,
.footer-link__item--discover:focus:before {
	border-color: $avans-blue;
}

.footer-link__link--icon {
	position: relative;

	display: inline-block;
	overflow: hidden;

	width: 2.5rem;
	height: 2.5rem;

	white-space: nowrap;
	text-indent: 3rem;
	//	margin: 0 $spacing-xs $spacing-xs 0;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-link__item--share {
	position: relative;
}

.footer-link__item--share:after {
	position: absolute;
	z-index: 5;
	top: 2.4875rem;
	left: 0;

	width: 2.5rem;
	height: .125rem;

	content: '';
}

.footer-link__item--linkedin:after {
	background-color: #0077b5;
}

.footer-link__item--twitter:after {
	background-color: #1da1f2;
}

.footer-link__item--mail:after {
	background-color: $text-color;
}

.footer-link__item--facebook:after {
	background-color: #3b5998;
}

// if the screen is really tiny :)
@media all and (max-width: $bp-xs) {
	.links__list {
		flex-wrap: wrap;
	}
}

.footer-link__link--mail {
	background-image: url('../images/icons/Icon-Social-Mail-White.svg');
}

.footer-link__link--mail:hover,
.footer-link__link--mail:focus {
	background-image: url('../images/icons/Icon-SocialHover-Mail.svg');
}

.footer-link__link--linkedin {
	background-image: url('../images/icons/Icon-Social-LinkedIn.svg');
}

.footer-link__link--linkedin:hover,
.footer-link__link--linkedin:focus {
	background-image: url('../images/icons/Icon-SocialHover-LinkedIn.svg');
}

.footer-link__link--snapchat {
	background-image: url('../images/icons/Icon-Social-Snapchat.svg');
}

.footer-link__link--snapchat:hover,
.footer-link__link--snapchat:focus {
	background-image: url('../images/icons/Icon-SocialHover-Snapchat.svg');
}

.footer-link__link--twitter {
	background-image: url('../images/icons/Icon-Social-Twitter.svg');
}

.footer-link__link--twitter:hover,
.footer-link__link--twitter:focus {
	background-image: url('../images/icons/Icon-SocialHover-Twitter.svg');
}

.footer-link__link--instagram {
	background-image: url('../images/icons/Icon-Social-Instagram.svg');
}

.footer-link__link--instagram:hover,
.footer-link__link--instagram:focus {
	background-image: url('../images/icons/Icon-SocialHover-Instagram.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	/* Retina-specific stuff here */
	.footer-link__link--instagram:hover,
	.footer-link__link--instagram:focus {
		background-image: url('../images/icons/Icon-SocialHover-Instagram@2x.png');
		background-size: contain;
	}
}

.footer-link__link--youtube {
	background-image: url('../images/icons/Icon-Social-YouTube.svg');
}

.footer-link__link--youtube:hover,
.footer-link__link--youtube:focus {
	background-image: url('../images/icons/Icon-SocialHover-YouTube.svg');
}

.footer-link__link--facebook {
	background-image: url('../images/icons/Icon-Social-Facebook.svg');
}

.footer-link__link--facebook:hover,
.footer-link__link--facebook:focus {
	background-image: url('../images/icons/Icon-SocialHover-Facebook.svg');
}

.links__header {
	margin: 1.3rem 0 0;

	color: $footer-text-color;
	.nav & {
		display: none;
	}
}

@media all and (max-width: $bp-l) and (min-width: $bp-m) {
	.links__header {
		font-size: $footer-header;
	}
}

.disclaimer {
	font-size: $footer-links;

	display: block;

	padding: 1rem 0;

	color: $footer-text-color;
	background-color: $disclaimer-background-color;
}

// < 768px
@media all and (max-width: $bp-m) {
	.disclaimer__container {
		flex-direction: column;

		padding: $spacing-l;

		text-align: left;
	}
	.page-footer__logo-link {
		order: 0;
	}
	.disclaimer__text {
		order: 1;
	}
}

// 768px >
// @media all and (min-width: $bp-m) {
// 	.page-footer__logo-link {
// 		display: inline;
// 		flex-direction: row;
// 		justify-content: space-around;
// 	}
// }
// < 1200px
@media all and (max-width: $bp-xl) {
	.disclaimer__container {
		padding: $spacing-l;
	}
}

// 1200px >
@media all and (min-width: $bp-xl) {
	.disclaimer__container {
		max-width: $width__overal;
	}
}

@media all and (min-width: $bp-m) {
	.disclaimer__container {
		align-items: center;
	}
}

.disclaimer__container {
	display: flex;

	margin: 0 auto;

	justify-content: space-between;
}

.page-footer__logo {
	width: 125px;
	height: 36px;
}

@media all and (max-width: $bp-m) {
	.disclaimer__text {
		display: flex;
		flex-direction: column;
	}
	.disclaimer__link {
		//	padding-top: $spacing;
		display: inline-block;
	}
	.page-footer__logo {
		margin-top: $spacing-l;
	}
}

.disclaimer__link {
	margin-right: .5rem;

	text-decoration: underline;

	color: $footer-text-color;
}

.disclaimer__link:hover {
	color: $white;
}
