<footer class="page-footer {{class}}">
  <div class="layout-full-width-block__content page-footer__content">
    <div class="footer-links">
      {{> molecules-discover }}
      {{> molecules-share }}
      {{> molecules-follow }}
    </div>
  </div>
  <div class="disclaimer">
    <p>@ Avans Hogeschool, 2017 <a href="#">Disclaimer</a> <a href="#">Privacybeleid</a> <a href="#">Cookiebeleid</a></p>
  </div>
</footer>
