<footer class="page-footer {{class}}">
	<div class="layout-full-width-block__content page-footer__content">
		<div class="footer-links">
			{{> molecules-discover }} {{> molecules-share }} {{> molecules-follow }}
		</div>
	</div>
	<div class="disclaimer">
		<div class="disclaimer__container">
			<p class="disclaimer__text">@ Avans Hogeschool, 2017 <a class="disclaimer__link" href="#">Disclaimer</a> <a class="disclaimer__link" href="#">Privacybeleid</a> <a class="disclaimer__link" href="#">Cookiebeleid</a></p>
			<a href="#" class="page-footer__logo-link">
				<img class="page-footer__logo" src="../../images/Logo-Avans-White.svg" />
			</a>
		</div>
	</div>
</footer>
